<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 8vw">
  <div class="content">
    <div class="header-wrapper header-sm">
      <header class="container-fluid">
        <div class="row">
          <div class="col text-left">
            <h1>เปลี่ยนรหัสผ่าน</h1>
          </div>
        </div>
      </header>
    </div>
    <div class="content-body" style="padding: 0px; padding-top: 0.5vw">
      <div class="card">
        <div class="row">
          <div class="col-md-3 title p-t-label">
            <label>อีเมล์ : </label>
          </div>
          <div class="col-md-9 p-t-label">
            <label>{{ currentUser.memberName }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 title p-t-label">
            <span style="color: red">*</span> &nbsp;
            <label>รหัสผ่านเดิม : </label>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input id="password" type="password" matInput [(ngModel)]="data.password"
                [ngModelOptions]="{ standalone: true }" #passwordField />

              <button style="font-size: 24px" mat-icon-button type="button" (click)="
                  passwordField.type === 'password'
                    ? (passwordField.type = 'text')
                    : (passwordField.type = 'password')
                " matSuffix>
                <mat-icon *ngIf="passwordField.type === 'password'">visibility</mat-icon>
                <mat-icon *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 title p-t-label">
            <span style="color: red">*</span> &nbsp;
            <label>รหัสผ่านใหม่ : </label>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input id="newPassword" type="password" matInput [(ngModel)]="data.newPassword"
                [ngModelOptions]="{ standalone: true }" #newPasswordField />

              <button style="font-size: 24px" mat-icon-button type="button" (click)="
                  newPasswordField.type === 'password'
                    ? (newPasswordField.type = 'text')
                    : (newPasswordField.type = 'password')
                " matSuffix>
                <mat-icon *ngIf="newPasswordField.type === 'password'">visibility</mat-icon>
                <mat-icon *ngIf="newPasswordField.type === 'text'">visibility_off</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 title p-t-label">
            <span style="color: red">*</span> &nbsp;
            <label>ยืนยันรหัสผ่านใหม่ : </label>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input id="confirmPassword" type="password" matInput [(ngModel)]="data.confirmPassword"
                [ngModelOptions]="{ standalone: true }" #confirmPasswordField />

              <button style="font-size: 24px" mat-icon-button type="button" (click)="
                  confirmPasswordField.type === 'password'
                    ? (confirmPasswordField.type = 'text')
                    : (confirmPasswordField.type = 'password')
                " matSuffix>
                <mat-icon *ngIf="confirmPasswordField.type === 'password'">visibility</mat-icon>
                <mat-icon *ngIf="confirmPasswordField.type === 'text'">visibility_off</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <br>
        <div class="row justify-content-center btn-margin-bottom-20">
          <button (click)="onSubmit()" type="button" class="btn btn-info width-button">
            บันทึก
          </button>
          <button (click)="cancle()" type="button" class="btn btn-danger width-button">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>