<!-- App Sidebar Left-->
<app-sidebar id="app_sidebar-left"></app-sidebar>
<!-- <app-sidebar [profile]="profile" [menus]="menuList" id="app_sidebar-left"></app-sidebar> -->
<!-- Main section-->
<section id="content_outer_wrapper">
  <router-outlet></router-outlet>
  <!-- Page content-->
</section>
<!-- App Sidebar Right-->
<!-- <app-offsidebar id="app_sidebar-right"></app-offsidebar> -->
