$font-family: "THSarabunLight";
$class-name: "THSarabunLight";

// $weightnames: Thin 100, ExtraLight 200, Light 300, Regular 400, Medium 500,
//   SemiBold 600, Bold 700, ExtraBold 800, Black 900;

@mixin font-include($name, $weight, $style) {
  font-family: $font-family;
  // src: url(assets/fonts/Kanit/#{$name}.ttf) format('truetype');
  src: url(../../../../../assets/fonts/Thsarabunlight/thsarabunlight.css) format("truetype");
  font-weight: $weight;
  font-style: $style;
}


