// @media (max-width: 700px) {
//   #text01{
//     width: 200px;
//   }
// }

.modal-header{
  background-color: #006634 !important;
}

.title{
  text-align: right !important;
  font-weight: 600;
}
.back-group-tab {
  background: #d9d9d9;
}

.my-custom-scrollbar {
  position: relative;
  height: 550px;
  overflow: auto;
}

.icon {
  cursor: pointer;
}

.input-col {
  padding-right: 15px;
  padding-left: 15px;
}

.row-text {
  border-bottom: 1px solid grey;
  margin-top: 10px;
}
.text-input {
  margin-bottom: 10px;
}
.fa-pencil {
  font-size: 20px;
}
.col-icon-edit {
  padding-top: 15px;
}
// .btn-purple, .btn-green , .btn-pink , .btn-danger {
//      width: 100%;
// }
input[type="text"] {
  color: unset;
}

/*Profile Pic Start*/
.picture-container {
  position: relative;
  cursor: pointer;
  // text-align: right;
}
.picture {
  width: 150px;
  height: 150px;
  background-color: #999999;
  border: 4px solid #cccccc;
  color: #ffffff;
  border-radius: 50%;
  // margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.picture:hover {
  border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover {
  border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover {
  border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover {
  border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover {
  border-color: #ff3b30;
}
.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture-src {
  width: 100%;
  min-height: 100%;
}

.picture-src-img {
  width: 150px;
  height: 150px;
  background-color: #999999;
  border: 4px solid #cccccc;
  color: #ffffff;
  border-radius: 50%;
  // margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.picture-src-img:hover {
  border-color: #2ca8ff;
}

.image-upload > input {
  display: none;
}

.input-datepicker {
  width: 90% !important;
  padding-top: 15px !important;
  border-bottom: grey 1px solid !important;
}

.mat-chip:not(.mat-basic-chip) {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 24px;
  align-items: center;
  cursor: default;
}

// .mat-chip:not(.mat-basic-chip) {
//   background-color: #e0e0e0;
//   color: rgba(0, 0, 0, 0.87);
// }

// .mat-chip {
//   font-size: 13px;
//   line-height: 18px;
// }

.permission-true {
  color: green;
}

.permission-false {
  color: white;
}

.times-false {
  color: red;
}

.outer-container {
  font-family: "Roboto";
  font-size: 1.6rem;
}

.outer-container {
  padding: 60px;
}

.step-content {
  padding: 40px 0;
}

.tab-custom {
  background: #032637;
  color: #ffffff;
  font-weight: bold;
}

/* Styles for tab labels */
// ::ng-deep .mat-tab-label {
//   min-width: 25px !important;
//   padding: 5px;
//   background-color: transparent;
//   // color: red;
//   font-weight: 700;
//   border-radius: 100px;
//   opacity: 1 !important;
// }

// /* Styles for the active tab label */
// ::ng-deep .mat-tab-label.mat-tab-label-active {
//   min-width: 25px !important;
//   padding: 5px;
//   background-color: transparent;
//   font-weight: 700;
//   background: #032637 !important;
//   color: #ffffff !important;
// }

/* Styles for the ink bar */
::ng-deep .mat-ink-bar {
  background-color: #032637 !important;
}

// .mat-ripple .mat-tab-label .mat-focus-indicator .ng-star-inserted

.row-from-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.taxNoValidation {
  color: red !important;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 0px !important;
  border-color: grey;
}

.number-input {
  padding-right: 1vw;
}

$colors: #fec240, #de4b43, #98c4d1, #2f375b, #e3d096, #fd9301, #53929b, #2e2a39,
  #492b2d, #84d0c4;
$items: 100;

.demo-card {
  @for $i from 1 through $items {
    &--step#{$i} {
      $color: nth($colors, ((($i - 1) % 9) + 1));
      border-right: 0.5vw solid $color;
      // border-right: 0.5vw solid rgba(249, 185, 27, 0.6)
      //background-color: $color;
    }
  }
}

label {
  margin-left: 20px;
}

span {
  margin-left: 20px;
}
