<!-- <div *ngIf="showLogin" class="d-flex justify-content-center align-items-center">
  <div id="login_wrapper" class="row col-md-12 justify-content-center">
    <section id="login_content">
      <div class="logo text-center">
        <img src="assets/img/logo/bkk_logo_login.png" alt="logo" class="logo-img" />
      </div>

      <div class="login-body" style="transform: scale(0.9);">
        <h1 class="login-title" style="font-size: 25px !important; color: #053a1d;">
          ระบบชำระภาษีบำรุงกรุงเทพมหานคร
        </h1>
        <h2 class="login-title text-center" style="font-size: 20px !important; padding-top: 10px; color: #305b43;">
          สำหรับน้ำมันเบนซินและน้ำมันที่คล้ายกัน<br />
          น้ำมันดีเซลและน้ำมันที่คล้ายกัน<br />
          และก๊าซปิโตรเลียมจากสถานการค้าปลีก
        </h2>

        <form class="form-horizontal" (keyup.enter)="validation_form()" name="formData" #formData="ngForm"
          style="margin-top: 5vh">
          <div class="form-group row">
            <label class="sr-only"> Username</label>
            <div class="col-md">
              <mat-form-field floatPlaceholder="never">
                <span>อีเมล</span>
                <input type="email" required id="email" name="email"
                  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,3}$" style="margin-top: 1vw; font-size: 18px"
                  matInput name="username" [(ngModel)]="model.username" #username="ngModel" ngModel #emailref="ngModel"
                  [class.success]="!emailref.invalid" />
              </mat-form-field>
              <mat-form-field floatPlaceholder="never">
                <span>รหัสผ่าน</span>
                <input style="margin-top: 1vw; font-size: 18px" id="password" matInput type="password"
                  [(ngModel)]="model.password" [ngModelOptions]="{ standalone: true }" #passwordField />
                <button style="font-size: 24px; top: 2vw" mat-icon-button type="button" (click)="
                    passwordField.type === 'password'
                      ? (passwordField.type = 'text')
                      : (passwordField.type = 'password')
                  " matSuffix>
                  <mat-icon *ngIf="passwordField.type === 'password'">visibility</mat-icon>
                  <mat-icon *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="row" style="padding-left: 13px; padding-right: 13px">
            <button mat-ripple (click)="validation_form()" class="btn btn-danger width-button"
              style="background-color: #057a55; color: #fff; width: 100%" type="button">
              {{ "authen.login.login" | translate }}
            </button>
          </div>

          <div class="row">
            <table style="width: 100%; margin-top: 5px;">
              <tr>
                <th><a style="color: #057a55; border-bottom-color: #057a55" class="link"
                  [routerLink]="['/sign-up']">ลงทะเบียน</a></th>
                <th style="text-align: right;"><a style="color: #057a55; border-bottom-color: #057a55" class="link"
                  [routerLink]="['/forget-password']">ลืมรหัสผ่าน</a></th>
                </tr>
              </table>
            
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<div class="ahmet-copy">
  <span style="font-size: 12px">
    สามารถแสดงได้ดีใน ( Chrome version 88.0 , Microsoft Edge Version 88.0 ,
    Firefox version 85.0 )</span>
</div> -->
<div *ngIf="showLogin" class="py-5" style="overflow-y:hidden;">
  <div class="container d-flex justify-content-center align-items-center" style="display: block;">
    <div style="background-color: white;" class="col-10 col-md-6 col-sm-10 col-lg-5 col-xl-5 py-3 px-5 rounded">
      <div class="logo text-center">
        <img src="./assets/img/logo/bkk_logo_login.png" alt="logo" class="logo-img" style="height: 140px; width: 140px;" />
      </div>
      <h1 class="login-title text-center" style="
          color: #053a1d; 
          font-weight:bold;">
        ระบบชำระภาษีบำรุงกรุงเทพมหานคร
      </h1>
      <h1 class="login-title text-center" style=" 
          color: #305b43; 
          font-weight:bold;">
        สำหรับน้ำมันเบนซินและน้ำมันที่คล้ายกัน<br />
        น้ำมันดีเซลและน้ำมันที่คล้ายกัน<br />
        และก๊าซปิโตรเลียมจากสถานการค้าปลีก
      </h1>
      <form class="form-horizontal" (keyup.enter)="validation_form()" name="formData" #formData="ngForm"
          style="margin-top: 5vh">
          <div class="form-group row">
            <label class="sr-only"> Username</label>
            <div class="col-md">
              <mat-form-field floatPlaceholder="never">
                <span style="color :black;">อีเมล</span>
                <input type="email" required id="email" name="email"
                  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,3}$" style="margin-top: 1vw; font-size: 18px"
                  matInput name="username" [(ngModel)]="model.username" #username="ngModel" ngModel #emailref="ngModel"
                  [class.success]="!emailref.invalid" />
              </mat-form-field>
              <mat-form-field floatPlaceholder="never">
                <span style="color :black;">รหัสผ่าน</span>
                <input style="margin-top: 1vw; font-size: 18px" id="password" matInput type="password"
                  [(ngModel)]="model.password" [ngModelOptions]="{ standalone: true }" #passwordField />
                <button style="font-size: 24px; top: 2vw" mat-icon-button type="button" (click)="
                    passwordField.type === 'password'
                      ? (passwordField.type = 'text')
                      : (passwordField.type = 'password')
                  " matSuffix>
                  <mat-icon *ngIf="passwordField.type === 'password'">visibility</mat-icon>
                  <mat-icon *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex">
            <button mat-ripple (click)="validation_form()" class="btn btn-danger width-button"
              style="background-color: #057a55; color: #fff; width: 100%" type="button">
              {{ "authen.login.login" | translate }}
            </button>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <div class="text-left subtitle">
              <a style="color: #057a55; border-bottom-color: #057a55" class="link"
                [routerLink]="['/sign-up']">ลงทะเบียน</a>
            </div>

            <div class="text-right subtitle">
              <a style="color: #057a55; border-bottom-color: #057a55" class="link"
                [routerLink]="['/forget-password']">ลืมรหัสผ่าน</a>
            </div>
          </div>
        </form>
    </div>
  </div>
  <div class="d-flex  flex-row-reverse mt-3">
    <span class="text-right" style="font-size: 12px">
    สามารถแสดงได้ดีใน Chrome version 88.0 , Microsoft Edge Version 88.0 ,
    Firefox version 85.0 )</span>
  </div>
</div>