@import "../../../shared/styles/main/util/index";

#login_wrapper {
  position: relative;
  // margin: 5% auto auto;
  width: 500px;

  .logo {

    // transform: scale(0.6);
    z-index: 10;
    // position: absolute;
    // width: 300;
    height: 200px;
    // top: 10px;
    // left: 26%;
    img {
      padding: 21px 0px;
    }
  }

  #login_content {
    position: relative;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 500px;
    // padding: 170px 30px 30px;
    padding: 0px 30px 30px;
  }

  #register_wrapper {
    padding: 110px 20px 20px;
    margin-bottom: 0;
    position: absolute;
    background-color: #fff;
    width: 100%;
    background: #fff;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: none;

    &.toggleRegister {
      display: block;
    }
  }

  #login_content,
  #register_wrapper {
    h1 {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      margin: 10px auto 0px;
    }

    h1.login-title-en {
      text-align: center;
      font-size: 16px;
      margin: 0px auto 10px;
    }
  }
}

// locked screen icon
.icon-locked {
  font-size: 30px;
  color: #f78d1f;
  position: absolute;
  margin-left: -30px;
  margin-top: -14px;
}

.login-options {
  text-align: center;
  margin: 25px auto 0;
  min-height: 15px;
  position: relative;

  span {
    position: absolute;
    top: -9px;
    background: #fff;
    padding: 0 15px;
    margin: auto;
    left: 42%;
  }
}

.forgot-pass,
.mat-checkbox-label {
  font-size: rem(14px);
}

a:link:not(.btn),
a:visited:not(.btn) {
  color: $mw_blue;
}

a:active:not(.btn),
a:hover:not(.btn) {
  color: darken($mw_blue, 12%);
}


@media (max-width: 820px) {
  #login_wrapper {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    overflow-y: auto;

    .logo {
      width: auto;
      height: auto;
      border-radius: 0;
      box-shadow: none;
      z-index: 10;
      position: relative;
      top: initial;
      left: initial;
      margin: 0 auto;

      img {
        padding: 15px;
      }
    }

    #login_content {
      width: 100%;
      padding: 0 20px;
      overflow: hidden;
      background: #fff;
      box-shadow: none;
      position: relative;
    }

    #register_wrapper {
      padding: 85px 20px 20px;
    }

    #login_content,
    #register_wrapper {
      h1 {
        text-align: center;
        font-size: 20px;
        margin: 10px 0;
      }
    }
  }
}

:host /deep/ {
  .mat-form-field-infix {
    div {
      margin-top: 10px !important;
    }
  }
}


#footer>.container {
  padding-left: 15px;
  padding-right: 15px;
}

#footer {
  position: absolute;
  width: 100%;
  // display: block;
  // bottom: 0;
}


.ahmet-copy {
  width: 100% !important;
  height: 70px !important;
  margin-top: 5% !important;
  //background-image: url(https://ahmetcadirci.com.tr/images/avatar.svg) !important;
  //background-position: center center !important;
  //background-size: 80% !important;
  //background-repeat: no-repeat !important;
  //background-color: #fff !important;
  //color: #fff !important;
  //border-radius: 50% !important;
  text-align: right !important;
  padding: 10px !important;

  box-sizing: border-box !important;
  text-decoration: none !important;

  //text-indent: -9999px !important;
  //border: 1px solid #51ab6d !important;



  bottom: 10px !important;
  right: 10px !important;
  // position: relative !important;
  z-index: 9999 !important;

  //-webkit-animation: bounce 1.2s ease-out !important;
  //-moz-animation: bounce 800ms ease-out !important;
  //-o-animation: bounce 800ms ease-out !important;
  //animation: bounce 1.2s ease-out !important;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
  }

  5% {
    -webkit-transform: translateY(-100%);
  }

  15% {
    -webkit-transform: translateY(0);
    padding: 4px auto;
  }

  20% {
    -webkit-transform: translateY(-80%);
  }

  25% {
    -webkit-transform: translateY(0%);
    padding: 4px auto;
  }

  30% {
    -webkit-transform: translateY(-70%);
  }

  35% {
    -webkit-transform: translateY(0%);
    padding: 5px auto;
  }

  40% {
    -webkit-transform: translateY(-60%);
  }

  45% {
    -webkit-transform: translateY(0%);
    padding: 5px auto;
  }

  50% {
    -webkit-transform: translateY(-50%);
  }

  55% {
    -webkit-transform: translateY(0%);
    padding: 6px auto;
  }

  60% {
    -webkit-transform: translateY(-30%);
  }

  65% {
    -webkit-transform: translateY(0%);
    padding: 6px auto;
  }

  70% {
    -webkit-transform: translateY(-15%);
  }

  75% {
    -webkit-transform: translateY(0);
    padding: 8px auto;
  }

  80% {
    -webkit-transform: translateY(-10%);
  }

  85% {
    -webkit-transform: translateY(0);
    padding: 8px auto;
  }

  90% {
    -webkit-transform: translateY(-5%);
  }

  95% {
    -webkit-transform: translateY(0);
    padding: 10px;
  }

  100% {
    -webkit-transform: translateY(0);
    padding: 10px;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(-100%);
    opacity: 0;
  }

  5% {
    -moz-transform: translateY(-100%);
    opacity: 0;
  }

  15% {
    -moz-transform: translateY(0);
    padding-bottom: 5px;
  }

  30% {
    -moz-transform: translateY(-50%);
  }

  40% {
    -moz-transform: translateY(0%);
    padding-bottom: 6px;
  }

  50% {
    -moz-transform: translateY(-30%);
  }

  70% {
    -moz-transform: translateY(0%);
    padding-bottom: 7px;
  }

  80% {
    -moz-transform: translateY(-15%);
  }

  90% {
    -moz-transform: translateY(0%);
    padding-bottom: 8px;
  }

  95% {
    -moz-transform: translateY(-10%);
  }

  97% {
    -moz-transform: translateY(0%);
    padding-bottom: 9px;
  }

  99% {
    -moz-transform: translateY(-5%);
  }

  100% {
    -moz-transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    -o-transform: translateY(-100%);
    opacity: 0;
  }

  5% {
    -o-transform: translateY(-100%);
    opacity: 0;
  }

  15% {
    -o-transform: translateY(0);
    padding-bottom: 5px;
  }

  30% {
    -o-transform: translateY(-50%);
  }

  40% {
    -o-transform: translateY(0%);
    padding-bottom: 6px;
  }

  50% {
    -o-transform: translateY(-30%);
  }

  70% {
    -o-transform: translateY(0%);
    padding-bottom: 7px;
  }

  80% {
    -o-transform: translateY(-15%);
  }

  90% {
    -o-transform: translateY(0%);
    padding-bottom: 8px;
  }

  95% {
    -o-transform: translateY(-10%);
  }

  97% {
    -o-transform: translateY(0%);
    padding-bottom: 9px;
  }

  99% {
    -o-transform: translateY(-5%);
  }

  100% {
    -o-transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  5% {
    transform: translateY(-100%);
    opacity: 0;
  }

  15% {
    transform: translateY(0);
    padding-bottom: 5px;
  }

  30% {
    transform: translateY(-50%);
  }

  40% {
    transform: translateY(0%);
    padding-bottom: 6px;
  }

  50% {
    transform: translateY(-30%);
  }

  70% {
    transform: translateY(0%);
    padding-bottom: 7px;
  }

  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
    padding-bottom: 8px;
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
    padding-bottom: 9px;
  }

  99% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}
h1 {font-size:0.9rem!important;} /*1rem = 16px*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size:1.2rem !important;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:1.1rem !important;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:1.15rem!important;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:1.15rem !important;} /*1rem = 16px*/    
}