<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 8vw">
  <div class="content">
    <div class="header-wrapper header-sm">
      <header class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>โปรไฟล์</h1>
          </div>
        </div>
      </header>
    </div>
    <div class="content-body" style="padding: 0px; padding-top: 0.5vw">
      <div class="card">
        <div class="row">
          <div class="col-md-3 title p-t-label ">
            <label>อีเมล์ : </label>
          </div>
          <div class="col-md-9 p-t-label">
            <label>{{ currentUser.memberName }}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 title p-t-label">
            <label style="font-size: 18px">ชื่อ-นามสกุล : </label>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput [(ngModel)]="data.fullName" [ngModelOptions]="{ standalone: true }" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 title p-t-label">
            <label style="font-size: 18px">เบอร์โทร : </label>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput [(ngModel)]="data.mobile" [ngModelOptions]="{ standalone: true }" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 title p-t-label">
            <label style="font-size: 18px">ผู้ประกอบการที่ดูแล : </label>
          </div>
          <div class="col-md-9 p-t-label">
            <label style="font-size: 18px" *ngIf="data_ByMember.taxNo != ''">{{ data_ByMember.taxNo }} &nbsp; &nbsp;
              {{ data_ByMember.ownerName }}</label>

            <label style="font-size: 18px" *ngIf="data_ByMember.taxNo == ''">-</label>
          </div>
        </div>
        <br>
        <div class="row justify-content-center btn-margin-bottom-20">
          <button (click)="onSubmit()" type="button" class="btn btn-info width-button">
            บันทึก
          </button>
          <button (click)="cancle()" type="button" class="btn btn-danger width-button">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>