<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>ข้อมูลสถานประกอบการค้าปลีกทั้งหมด</h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="content-body">
            <div class="row">
                <div class="col">
                    <div class="card">

                        <div class="col-md-12 style-search" *ngIf="isSearchActive">
                            <form class="form-horizontal" (keyup.enter)="getList(1)">

                                <div class="row">
                                    <div class="col-12" style="padding-top:10px;text-align:right;">
                                        <i class="fa fa-search icon-toolbar" aria-hidden="true" (click)="getList(1)" matTooltip="{{ config.tooltripMsg.search }}"></i>

                                        <i class="fa fa-refresh icon-toolbar" aria-hidden="true" matTooltip="{{ config.tooltripMsg.refresh }}" (click)="refreshDataSearch()">
                    </i>

                                        <i class="fa fa-times icon-toolbar" aria-hidden="true" (click)="triggerClose($event)" matTooltip="{{ config.tooltripMsg.close }}"></i>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: -15px !important;">
                                    <div class="col-xl-2 col-md-3 label-custom-text">
                                        <label>ชื่อสถานที่ค้าปลีก :</label>
                                    </div>
                                    <div class="col-xl-3 col-md-3  input-custom-text">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="searchValue.stationName" [ngModelOptions]="{ standalone: true }" />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-xl-2 col-md-2 label-custom-text">
                                        <label>เขต :</label>
                                    </div>
                                    <div class="col-xl-4 col-md-3 input-custom-text">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="searchValue.officeName" [ngModelOptions]="{ standalone: true }" />
                                        </mat-form-field>
                                    </div>



                                </div>
                            </form>
                        </div>

                        <div class="row header-content" *ngIf="!isSearchActive">
                            <div class="col-md-10">
                                <header class="card-header">
                                    <h2 class="card-title">
                                        รายการข้อมูลสถานประกอบการค้าปลีกทั้งหมด
                                    </h2>
                                </header>
                            </div>
                        </div>

                        <div class="col-md-12 text-right" style="margin-top: 0.5vw">
                            <h2 class="text-right">
                                <button matTooltip="{{ config.tooltripMsg.search }}" (click)="searchActive()" type="button" style="margin-right: 0.5vw" class="btn-custom btn-info-custom">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  ค้นหา
                </button>
                            </h2>
                        </div>

                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-hover table-list-style">
                                        <thead>
                                            <tr>
                                                <th class="text-center " style="text-align: center; width: 50px !important; vertical-align: top;">ลำดับ</th>
                                                <th class="text-center " style="vertical-align: top;">ชื่อสถานการค้าปลีก</th>
                                                <th class="text-center " style="vertical-align: top;">เขต</th>
                                                <th class="text-center " style="vertical-align: top;">รหัสไปรษณีย์</th>
                                                <th class="text-center " style="vertical-align: top;">สถานะ</th>
                                                <th class="text-center " style="text-align: center; width: 150px !important; vertical-align: top;">วันที่อนุมัติ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataList; let i = index">
                                                <td class="text-center icon-pointer-toolbar" style="vertical-align: top !important;">
                                                    <span>{{
                            i +
                            1 +
                            (config.resultPage.pageNo - 1) * maxitemPerPage
                            }}</span>
                                                </td>
                                                <td class="text-left icon-pointer-toolbar" style="vertical-align: top !important;">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.stationName
                            }}</span>
                                                </td>

                                                <td class="text-left icon-pointer-toolbar" style="vertical-align: top !important;">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.officeName
                            }}</span>
                                                </td>
                                                <td class="text-left icon-pointer-toolbar" style="vertical-align: top !important;">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.postcode
                            }}</span>
                                                </td>
                                                <td class="text-left icon-pointer-toolbar col-data-status" style="vertical-align: top !important;">

                                                    <span *ngIf="item.statusName == 'ไม่ผ่านการตรวจสอบ'" class="icon-pointer-toolbar red" (click)="open_statusDesign(item)">{{ item?.statusName }}</span>

                                                    <a *ngIf="item.statusName == 'ตรวจสอบแล้ว'" class="icon-pointer-toolbar green" (click)="open_statusDesign(item)">{{ item?.statusName }}</a>
                                                    <span *ngIf="item.statusName == 'รอตรวจสอบ'" class="icon-pointer-toolbar oragan" (click)="open_statusDesign(item)">{{ item?.statusName }}</span>

                                                    <span *ngIf="item.statusName == 'สร้าง'" class="icon-pointer-toolbar blue" (click)="open_statusDesign(item)">{{ item?.statusName }}</span>
                                                </td>

                                                <td class="text-center icon-pointer-toolbar" style="vertical-align: top !important;">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.createdDate
                            }}</span>
                                                </td>
                                            </tr>

                                            <tr *ngIf="dataList.length == 0">
                                                <td colspan="9" class="text-center icon-pointer-toolbar">
                                                    <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="row">
                                        <div class="col-md-6 p-l-15">
                                            <p class="justify-content-start">
                                                จำนวนทั้งหมด {{ totalItemdataList }} รายการ
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <ngb-pagination (pageChange)="getList($event)" [pageSize]="maxitemPerPage" [collectionSize]="this.config.resultPage.totalItem" [(page)]="config.resultPage.pageNo" [maxSize]="maxSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="float-right"></ngb-pagination>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>