<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
  <div class="content">
    <div class="header-wrapper header-sm">
      <header class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>แบบแจ้งข้อมูลจัดทำทะเบียนสถานการค้าปลีก (ภน.01)</h1>
          </div>
        </div>
      </header>
    </div>
    <div class="content-body" style="padding-top: 0px">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <mat-tab-group
                  [selectedIndex]="selected.value"
                  (selectedIndexChange)="selected.setValue($event)"
                >
                  <mat-tab
                    label="ข้อมูลผู้ประกอบการ"
                    style="overflow-x: hidden"
                  >
                    <br />
                    <div class="row">
                      <div class="col-md-3 label-custom-text">
                        <label>ชื่อผู้ประกอบการ :</label>
                      </div>
                      <div class="col-md-6 input-custom-text" style="margin-top: 20px !important;">
                        <span>{{ data.ownerName }}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 label-custom-text">
                        <label style="margin: 0px"
                          >เลขประจำตัวผู้เสียภาษีอากร :</label
                        >
                      </div>
                      <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                        <span [textMask]="{ mask: maskTaxNo }">{{
                          data.taxNo
                        }}</span>
                      </div>

                      <div class="col-md-3 label-custom-text">
                        <label>ประเภทผู้เสียภาษี :</label>
                      </div>

                      <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                        <span>{{ data.customerType }}</span>
                      </div>
                    </div>

                    <ng-container *ngIf="data.customerType == 'บุคคลธรรมดา'">
                      <div class="row">
                        <div class="col-md-3 label-custom-text">
                          <label>บัตรประจำตัวประชาชนเลขที่ :</label>
                        </div>

                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                          <span>{{ data.idCard }}</span>
                        </div>

                        <div class="col-md-3 label-custom-text">
                          <label>ออกให้ ณ ที่ว่าการอำเภอ/เขต :</label>
                        </div>
                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                          <span>{{ data.idCardAt }}</span>
                        </div>
                      </div>
                    </ng-container>

                    <ng-container *ngIf="data.customerType == 'นิติบุคคล'">
                      <div class="row">
                        <div class="col-md-3 label-custom-text">
                          <label>เลขทะเบียนนิติบุคคลที่ :</label>
                        </div>

                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                          <span>{{ data.corpNo }}</span>
                        </div>

                        <div class="col-md-3 label-custom-text">
                          <label>เมื่อวันที่ :</label>
                        </div>

                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                          <span>{{ data.corpDate }}</span>
                        </div>
                      </div>
                    </ng-container>

                    <div class="row">
                      <div class="col-md-3 label-custom-text">
                        <label>เลขรหัสประจำบ้าน :</label>
                      </div>

                      <div class="col-md-9 input-custom-text" style="margin-top: 20px !important;">
                        <span>{{ data.houseNo }}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 label-custom-text">
                        <label>ที่อยู่ :</label>
                      </div>

                      <div class="col-md-9 input-custom-text" style="margin-top: 20px !important;">
                        <span>{{ data.fullAddress }}</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 label-custom-text">
                        <label>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</label>
                      </div>
                      <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                        <span>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ</span>
                      </div>
                    </div>

                    <br />

                    <div class="row">
                      <div class="col-md-4 text-left">
                        <h2 style="color: #053a1d; font-size: 18px">
                          เอกสารประกอบ
                        </h2>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="text-center col-orderby">
                                <label>ลำดับ</label>
                              </th>
                              <th class="text-center col-name-doc-pn01">
                                <label>รายการเอกสาร</label>
                              </th>
                              <th class="text-center col-quantity-doc-pn01">
                                <label>จำนวน (แผ่น)</label>
                              </th>
                              <th class="text-center col-name">
                                <label>เอกสารแนบ</label>
                              </th>
                              <th class="text-center col-orderby"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-center icon-pointer-toolbar">
                                <span>1</span>
                              </td>
                              <td class="text-left icon-pointer-toolbar">
                                <span
                                  >สำเนาทะเบียนบ้าน
                                  สำเนาบัตรประจำตัวประชาชน</span
                                >
                                <br />
                                <span
                                  >และสำเนาบัตรประจำตัวผู้เสียภาษีอาการ</span
                                >
                              </td>
                              <td
                                class="text-right icon-pointer-toolbar col-td-money"
                              >
                                <span *ngIf="data.houseFileNum != '0'">{{
                                  data.houseFileNum | number
                                }}</span>

                                <span *ngIf="data.houseFileNum == '0'">-</span>
                              </td>
                              <td class="text-left icon-pointer-toolbar">
                                <ng-container
                                  *ngFor="
                                    let item of data.houseFileList;
                                    let i = index
                                  "
                                >
                                  <a
                                    href="{{ item.ShowFile }}"
                                    target="_blank"
                                    class="icon-pointer-toolbar"
                                    >{{ i + 1 }} . {{ item?.fileName }}</a
                                  >
                                  <br />
                                </ng-container>
                              </td>
                            </tr>

                            <tr>
                              <td class="text-center icon-pointer-toolbar">
                                <span>2</span>
                              </td>
                              <td class="text-left icon-pointer-toolbar">
                                <span
                                  >สำเนาหนังสือรับรองของกระทรวงพาณิชย์ <br />
                                  (ที่ออกให้ไม่เกิน 6 เดือน)</span
                                >
                              </td>
                              <td
                                class="text-right icon-pointer-toolbar col-td-money"
                              >
                                <span *ngIf="data.cerFileNum != '0'">{{
                                  data.cerFileNum | number
                                }}</span>

                                <span *ngIf="data.cerFileNum == '0'">-</span>
                              </td>
                              <td class="text-left icon-pointer-toolbar">
                                <ng-container
                                  *ngFor="
                                    let item of data.agentFileList;
                                    let i = index
                                  "
                                >
                                  <a
                                    href="{{ item.ShowFile }}"
                                    target="_blank"
                                    class="icon-pointer-toolbar"
                                    >{{ i + 1 }} . {{ item?.fileName }}</a
                                  >
                                  <br />
                                </ng-container>
                              </td>
                            </tr>

                            <tr>
                              <td class="text-center icon-pointer-toolbar">
                                <span>3</span>
                              </td>
                              <td class="text-left icon-pointer-toolbar">
                                <span
                                  >หนังสือมอบอำนาจและสำเนาบัตรประจำตัวประชาชนของผู้รับมอบอำนาจ</span
                                >
                              </td>
                              <td
                                class="text-right icon-pointer-toolbar col-td-money"
                              >
                                <span *ngIf="data.agentFileNum != '0'">{{
                                  data.agentFileNum | number
                                }}</span>

                                <span *ngIf="data.agentFileNum == '0'">-</span>
                              </td>
                              <td class="text-left icon-pointer-toolbar">
                                <ng-container
                                  *ngFor="
                                    let item of data.cerFileList;
                                    let i = index
                                  "
                                >
                                  <a
                                    href="{{ item.ShowFile }}"
                                    target="_blank"
                                    class="icon-pointer-toolbar"
                                    >{{ i + 1 }} . {{ item?.fileName }}</a
                                  >
                                  <br />
                                </ng-container>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <br />

                    <div class="row">
                      <div class="col-md-12 text-center">
                        <button
                          type="button"
                          class="btn btn-secondary width-button"
                          (click)="next()"
                        >
                          ถัดไป
                        </button>

                        <button
                          type="button"
                          class="btn btn-danger width-button"
                          (click)="cancel()"
                        >
                          ปิด
                        </button>
                      </div>
                    </div>
                  </mat-tab>

                  <mat-tab label="ข้อมูลสถานการค้าปลีก">
                    <div class="row" style="margin-top: 1.5vw">
                      <div class="col-md-4 text-left">
                        <h2 style="color: #053a1d; font-size: 18px">
                          รายการสถานการค้าปลีก
                        </h2>
                      </div>
                    </div>
                    <div class="card-block">
                      <div class="row">
                        <div class="col-md-12 table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th class="text-center col-orderby">
                                  <span>ลำดับ</span>
                                </th>
                                <th class="text-center col-name">
                                  <span>ชื่อสถานการค้าปลีก</span>
                                </th>
                                <th class="text-center col-name">
                                  <span>แขวง</span>
                                </th>
                                <th class="text-center col-name">
                                  <span>เขต</span>
                                </th>
                                <th class="text-center col-postcode">
                                  <span>รหัสไปรษณีย์</span>
                                </th>
                                <th class="text-center col-manament">
                                  <span>จัดการ</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="
                                  let item of data.stationList;
                                  let i = index
                                "
                                style="cursor: pointer"
                              >
                                <td class="text-left icon-pointer-toolbar">
                                  <span class="icon-pointer-toolbar">{{
                                    i + 1
                                  }}</span>
                                </td>
                                <td class="text-left icon-pointer-toolbar">
                                  <span class="icon-pointer-toolbar"
                                    >{{ item?.stationName }}
                                  </span>
                                </td>

                                <td class="text-left icon-pointer-toolbar">
                                  <span class="icon-pointer-toolbar">{{
                                    item?.tambonName
                                  }}</span>
                                </td>

                                <td class="text-left icon-pointer-toolbar">
                                  <span class="icon-pointer-toolbar">{{
                                    item?.amphurName
                                  }}</span>
                                </td>

                                <td class="text-center icon-pointer-toolbar">
                                  <span class="icon-pointer-toolbar">{{
                                    item?.postcode
                                  }}</span>
                                </td>

                                <td class="text-center icon-pointer-toolbar">
                                  <button
                                    (click)="
                                      edit_approval_tax_form_01modal(item, i)
                                    "
                                    type="button"
                                    class="btn-custom btn-info-custom"
                                    style="margin-right: 0.5vw"
                                    matTooltip="{{ config.tooltripMsg.edit }}"
                                  >
                                    <i
                                      class="fa fa-bars"
                                      aria-hidden="true"
                                    ></i>
                                    รายละเอียด
                                  </button>
                                </td>
                              </tr>

                              <tr *ngIf="data.stationList.length == 0">
                                <td
                                  colspan="7"
                                  class="text-center icon-pointer-toolbar"
                                >
                                  <span class="icon-pointer-toolbar"
                                    >ไม่พบข้อมูล
                                  </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 text-center">
                        <button
                          type="button"
                          class="btn btn-secondary width-button"
                          (click)="prenext()"
                        >
                          ย้อนกลับ
                        </button>
                        <button
                          style="margin: 0px !important"
                          type="button"
                          class="btn btn-danger width-button"
                          (click)="cancel()"
                        >
                          ปิด
                        </button>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal plot -->
<ng-template #approval_tax_form_01modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- <h4>เพิ่มงาน</h4> -->
    รายละเอียดสถานการค้าปลีก
    <i class="fa fa-times" style="color: white" (click)="d('กากบาท')"></i>
  </div>

  <div class="modal-body">
    <div class="row row-from-group">
      <div class="col-md-3 label-custom-text">
        <label>ชื่อสถานการค้าปลีก : </label>
      </div>
      <div class="col-md-6 input-custom-text" style="margin-top: 20px !important;">
        <span>
          {{ stationList.stationName }}
        </span>
      </div>
      <div class="col-md-3 label-custom-text">
        <label>สาขา : </label>
      </div>
      <div class="col-md-2 input-custom-text" style="margin-top: 20px !important;">
        <span>
          {{ stationList.branchName }}
        </span>
      </div>
    </div>

    <div class="row row-from-group">
      <div class="col-md-3 label-custom-text">
        <label>ประเภทกิจการ : </label>
      </div>
      <div class="col-md-8 input-custom-text" style="margin-top: 20px !important;">
        <ng-container *ngFor="let item of drpbusinessType; let i = index">
          <mat-checkbox
            [disabled]="true"
            [(ngModel)]="item.selected"
            [ngModelOptions]="{ standalone: true }"
          >
            {{ item.businessTypeName }}
          </mat-checkbox>
          &nbsp; &nbsp;
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 label-custom-text">
        <label>เลขรหัสประจำบ้าน :</label>
      </div>
      <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
        <span>
          {{ stationList.houseNo }}
        </span>
      </div>
    </div>

    <div class="row row-from-group">
      <div class="col-md-3 label-custom-text">
        <label>ที่อยู่/ที่ตั้งสำนักงานเลขที่ : </label>
      </div>
      <div class="col-md-9 input-custom-text" style="margin-top: 20px !important;">
        <span>
          {{ stationList.fullAddress }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-left">
        <label
          style="color: #053a1d; font-size: 18px; font-weight: 600 !important"
        >
          เอกสารประกอบ
        </label>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-11 p-t-label" style="padding-bottom: 18px">
        <table class="col-md-12 table table-hover">
          <thead>
            <tr>
              <th class="text-center col-orderby">
                <span>ลำดับ</span>
              </th>
              <th class="text-center col-name">
                <span>รายการเอกสาร</span>
              </th>
              <th class="text-center col-quantity-doc-pn01">
                <span>จำนวน (แผ่น)</span>
              </th>
              <th class="text-center col-name">
                <span>เอกสารแนบ</span>
              </th>
              <th class="text-center col-orderby"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                <span>1</span>
              </td>
              <td class="text-left">
                <span>สำเนาทะเบียนบ้าน สำเนาบัตรประจำตัวประชาชน</span>
                <br />
                <span>และสำเนาบัตรประจำตัวผู้เสียภาษีอาการ</span>
              </td>
              <td class="text-right col-td-money">
                <span *ngIf="stationList.houseFileNum != '0'">{{
                  stationList.houseFileNum | number
                }}</span>

                <span *ngIf="stationList.houseFileNum == '0'">-</span>
              </td>
              <td class="text-left icon-pointer-toolbar">
                <ng-container
                  *ngFor="let item of stationList.houseFileList; let i = index"
                >
                  <a
                    href="{{ item.ShowFile }}"
                    target="_blank"
                    class="icon-pointer-toolbar"
                    >{{ i + 1 }} . {{ item?.fileName }}</a
                  >
                  <br />
                </ng-container>
              </td>
            </tr>
            <tr>
              <td class="text-center">
                <span>2</span>
              </td>
              <td class="text-left">
                <span>แผนที่ตั้งสถานการค้าปลีก</span>
              </td>
              <td class="text-right col-td-money">
                <span *ngIf="stationList.mapFileNum != '0'">{{
                  stationList.mapFileNum | number
                }}</span>

                <span *ngIf="stationList.mapFileNum == '0'">-</span>
              </td>
              <td class="text-left icon-pointer-toolbar">
                <ng-container
                  *ngFor="let item of stationList.mapFileList; let i = index"
                >
                  <a
                    href="{{ item.ShowFile }}"
                    target="_blank"
                    class="icon-pointer-toolbar"
                    >{{ i + 1 }} . {{ item?.fileName }}</a
                  >
                  <br />
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- เอกสารประกอบ -->

    <div class="row justify-content-center" style="margin-top: 20px">
      <button
        type="button"
        class="btn btn-danger width-button"
        (click)="c('close')"
        style="margin-left: 10px"
      >
        ปิด
      </button>
    </div>
  </div>
</ng-template>
<!--end modal plot -->
