<nav role="navigation" class="navbar" style="height: auto; margin-bottom: 0.5vw; margin-top: 0.5vw">
  <ul class="navbar-nav nav-left">
    <ng-container *ngIf="!config.IsShowIcon">
      <!-- mdi mdi-home -->
      <li class="nav-item menu-icon">
        <a md-ripple href="javascript:void(0)" role="button"
          style="padding-bottom: 0px; padding-top: 5px; margin-top: 10px" (click)="toggleMenuSideabar()"
          class="nav-link menu-trigger">
          <i class="{{ config.IconName }}" style="color: white"></i>
        </a>
      </li>

      <li class="nav-item hidden-sm">
        <a md-ripple href="javascript:void(0)" class="nav-link mobile-menu-trigger">
          <i id="menu-noi" class="mdi mdi-backburger" style="color: white"></i>
        </a>
      </li>
      <img style="margin-right: 1vw" src="assets/img/logo/bkk_logo_bgwrite.png" width="64" height="64" />
    </ng-container>

    <ng-container *ngIf="config.IsShowIcon">
      <img style="margin-left: 5vw; margin-right: 1vw" src="assets/img/logo/bkk_logo_bgwrite.png" width="64"
        height="64" />
    </ng-container>

    <li class="hidden-sm-down">
      <a href="javascript:void(0)" style="align-items: flex-end !important" [routerLink]="['/main-menu']">
        <!-- margin-top: 1vw; -->
        <h1 class="brand-text" style="
            color: white;
            margin-bottom: 0.5vw;
            font-size: 1.25rem;
            display: flex;
            font-family: 'Kanit', sans-serif;
          ">
          ระบบชำระภาษีบำรุงกรุงเทพมหานคร
        </h1>
        <h2 class="brand-text" style="
            color: white;
            margin-bottom: 0px;
            font-size: 1.25rem;
            display: flex;
            font-family: 'Kanit', sans-serif;
          ">
          สำหรับน้ำมันเบนซินและน้ำมันที่คล้ายกัน น้ำมันดีเซลและน้ำมันที่คล้ายกัน
          และก๊าซปิโตรเลียมจากสถานการค้าปลีก
        </h2>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav nav-right">
    <li class="nav-item dropdown mega d-none d-md-block" ngbDropdown>
      <a style="
          font-size: 1.25rem !important;
          font-weight: 200;
          font-family: 'Kanit', sans-serif !important;
        " md-ripple href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
        <span style="padding-right: 10px">{{ currentUser?.memberName }}</span>
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu dropdown-md-menu dropdown-menu-right p-1  color-container" style="margin-right: 20px;">
        <li class="title">
          <a href="javascript:void(0)" (click)="profile()">
            <p style="
                font-size: 16px;
                font-family: 'Kanit', sans-serif;
                font-weight: 200;
                vertical-align: middle;
              " class="text-left mt-2 mb-2">
              โปรไฟล์
            </p>
          </a>
        </li>
        <li class="title">
          <a href="javascript:void(0)" (click)="changePassword()">
            <p style="
                font-size: 16px;
                font-family: 'Kanit', sans-serif;
                font-weight: 200;
              " class="text-left mt-2 mb-2">
              เปลี่ยนรหัสผ่าน
            </p>
          </a>
        </li>
        <!-- -- -->
        <li class="title">
          <a href="javascript:void(0)" (click)="member_retail()">
            <p style="
                font-size: 16px;
                font-family: 'Kanit', sans-serif;
                font-weight: 200;
              " class="text-left mt-2 mb-2">
              จัดการผู้ดูแล
            </p>
          </a>
        </li>
        <!-- -- -->
        <li class="title">
          <a href="javascript:void(0)" (click)="logout()">
            <p style="
                font-size: 16px;
                font-family: 'Kanit', sans-serif;
                font-weight: 200;
              " class="text-left mt-2 mb-2">
              ออกจากระบบ
            </p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown mega d-md-none" ngbDropdown>
      <a style="
          font-size: 1.25rem !important;
          font-weight: 200;
          font-family: 'Kanit', sans-serif !important;
        " md-ripple href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu dropdown-md-menu dropdown-menu-right p-1  color-container" style="margin-right: 20px;">
        <li class="title">
          <a href="javascript:void(0)" (click)="profile()">
            <p style="
                font-size: 16px;
                font-family: 'Kanit', sans-serif;
                font-weight: 200;
                vertical-align: middle;
              " class="text-left mt-2 mb-2">
              โปรไฟล์
            </p>
          </a>
        </li>
        <li class="title">
          <a href="javascript:void(0)" (click)="changePassword()">
            <p style="
                font-size: 16px;
                font-family: 'Kanit', sans-serif;
                font-weight: 200;
              " class="text-left mt-2 mb-2">
              เปลี่ยนรหัสผ่าน
            </p>
          </a>
        </li>
        <!-- -- -->
        <li class="title">
          <a href="javascript:void(0)" (click)="member_retail()">
            <p style="
                font-size: 16px;
                font-family: 'Kanit', sans-serif;
                font-weight: 200;
              " class="text-left mt-2 mb-2">
              จัดการผู้ดูแล
            </p>
          </a>
        </li>
        <!-- -- -->
        <li class="title">
          <a href="javascript:void(0)" (click)="logout()">
            <p style="
                font-size: 16px;
                font-family: 'Kanit', sans-serif;
                font-weight: 200;
              " class="text-left mt-2 mb-2">
              ออกจากระบบ
            </p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>