<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>แบบฟอร์มคำร้องขอรับเงินคืน</h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="content-body">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="col-md-12 style-search" *ngIf="isSearchActive">
                            <form class="form-horizontal" (keyup.enter)="getList(1)">
                                <div class="row">
                                    <div class="col-12" style="padding-top:10px;text-align:right;">
                                        <i class="fa fa-search icon-toolbar" aria-hidden="true" (click)="getList(1)" matTooltip="{{ config.tooltripMsg.search }}"></i>

                                        <i class="fa fa-refresh icon-toolbar" aria-hidden="true" matTooltip="{{ config.tooltripMsg.refresh }}" (click)="refreshDataSearch()">
                    </i>

                                        <i class="fa fa-times icon-toolbar" aria-hidden="true" (click)="triggerClose($event)" matTooltip="{{ config.tooltripMsg.close }}"></i>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: -15px !important;">
                                    <div class="col-xl-2 col-md-3  label-custom-text">
                                        <label>เลขทะเบียน :</label>
                                    </div>
                                    <div class="col-xl-3 col-md-3  input-custom-text">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="searchValue.docNo" [ngModelOptions]="{ standalone: true }" />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-xl-2 col-md-2  label-custom-dropdown">
                                        <label>สถานะ : </label>
                                    </div>
                                    <div class="col-xl-4 col-md-3 input-custom-dropdown">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="searchValue.status" [ngModelOptions]="{ standalone: true }">
                                                <mat-option value="">เลือกทั้งหมด</mat-option>
                                                <mat-option *ngFor="let item of drpListStatus" [value]="item.id">
                                                    {{ item?.name }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                </div>

                                <div class="row" style="margin-top: -15px !important;">
                                    <div class="col-xl-2 col-md-3 label-custom-date ">
                                        <label>วันที่เริ่มต้น :</label>
                                    </div>
                                    <div class="col-xl-3 col-md-3  input-custom-date" style="padding-right: 50px">
                                        <mat-date-picker-th [(ngModel)]="searchValue.startDate" [ngModelOptions]="{ standalone: true }" class="datapicker-text">
                                        </mat-date-picker-th>
                                    </div>
                                    <div class="col-xl-2 col-md-2 label-custom-date ">
                                        <label>วันที่สิ้นสุด :</label>
                                    </div>
                                    <div class="col-xl-4 col-md-3 input-custom-date" style="padding-right: 50px">
                                        <mat-date-picker-th [(ngModel)]="searchValue.endDate" [ngModelOptions]="{ standalone: true }" class="datapicker-text">
                                        </mat-date-picker-th>
                                    </div>
                                </div>

                                <div class="row p-t-10">
                                    <div class="col-2 text-right p-t-20"></div>
                                    <div class="col-8"></div>
                                </div>
                            </form>
                        </div>

                        <div class="row header-content" *ngIf="!isSearchActive">
                            <div class="col-md-10">
                                <header class="card-header">
                                    <h2 class="card-title">
                                        รายการแบบยื่นคำร้องขอรับเงินคืน
                                    </h2>
                                </header>
                            </div>
                        </div>
                        <div class="col-md-12 text-right" style="margin-top: 0.5vw">
                            <h2 class="text-right">
                                <button (click)="add()" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.add_pn01 }}">
                  <i class="fa fa-plus-circle"></i>
                  เพิ่ม
                </button>

                                <button matTooltip="{{ config.tooltripMsg.search }}" (click)="searchActive()" type="button" style="margin-right: 0.5vw" class="btn-custom btn-info-custom">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  ค้นหา
                </button>

                            </h2>
                        </div>

                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-hover table-list-style">
                                        <thead>
                                            <tr>
                                                <th class="col-fit-content-c">ลำดับ</th>
                                                <th class="col-fit-content-c">เลขทะเบียน</th>
                                                <th class="col-fit-content-c">วันที่</th>
                                                <th class="col-fit-content-c">ชื่อสถานการค้าปลีก</th>
                                                <th class="col-fit-content-c">จำนวนเงิน (บาท)</th>
                                                <th class="col-fit-content-c">สถานะ</th>
                                                <th class="col-fit-content-c">แบบคำร้อง</th>
                                                <th class="col-fit-content-c">หนังสือแจ้งคืนเงิน</th>
                                                <th class="col-fit-content-c">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataList; let i = index">
                                                <!-- <th class="text-center col-data-orderby" style="width: 5%" (click)="$event.stopPropagation()">
                          <mat-checkbox *ngIf="
                              item.mainStatus == '0' || item?.mainStatus == '2'
                            " [(ngModel)]="item.selected" (change)="countselectedCheck($event.checked, item)">
                          </mat-checkbox>
                        </th> -->
                                                <td class="text-center icon-pointer-toolbar col-data-orderby" style="vertical-align: top !important;">
                                                    <span (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{
                            i +
                            1 +
                            (config.resultPage.pageNo - 1) * maxitemPerPage
                            }}</span>
                                                </td>

                                                <td class="col-fit-content-l">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ item?.docNo }}</span>
                                                </td>

                                                <td class="col-fit-content-c">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ item?.docDate }}</span>
                                                </td>

                                                <td class="col-free-content-l">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ item?.stationName }}</span>
                                                </td>
                                                <td class="col-fit-content-r">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ toMoney(item?.amount) }}</span>
                                                </td>
                                                <td class="col-fit-content-l">
                                                    <!-- <a
                            class="icon-pointer-toolbar"
                            (click)="open_statusDesign(item)"
                            >{{ item?.mainStatusName }}</a
                          > -->

                                                    <span *ngIf="item.status == '3'" class="icon-pointer-toolbar red" (click)="open_statusDesign(item)">{{ item?.statusName }}</span>

                                                    <a *ngIf="item.status == '4'" class="icon-pointer-toolbar green" (click)="open_statusDesign(item)">{{ item?.statusName }}</a>
                                                    <span *ngIf="item.status == '2'" class="icon-pointer-toolbar oragan" (click)="open_statusDesign(item)">{{ item?.statusName }}</span>

                                                    <span *ngIf="item.status == '1'" class="icon-pointer-toolbar blue" (click)="open_statusDesign(item)">{{ item?.statusName }}</span>
                                                </td>
                                                <td class="col-fit-content-c">
                                                    <!-- (click)="downloadPDF_pn01(item.taxForm01RetailId)" -->
                                                    <!-- href="{{ getTaxForm01PDF }}{{
                            item.taxForm01RetailId
                          }}" -->
                                                    <a style="color: white" class="label-caption label-button" href="{{ item.linkExportTaxformRefundForm }}" target="_blank">
                                                        <button type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="แบบคำร้อง">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i>
                              <!-- ภน.01 -->
                            </button>
                                                    </a>
                                                </td>
                                                <td class="col-fit-content-c">
                                                    <!-- (click)="downloadPDF_pn01(item.taxForm01RetailId)" -->
                                                    <!-- href="{{ getTaxForm01PDF }}{{
                            item.taxForm01RetailId
                          }}" -->
                                                    <a style="color: white" class="label-caption label-button" href="{{ item.linkExportTaxformRefund }}" target="_blank">
                                                        <button *ngIf="item.status == '4'
                              " type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.pdf_01 }}">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i>
                              <!-- ภน.01 -->
                            </button>
                                                    </a>
                                                </td>
                                                <!-- <td
                          class="text-right icon-pointer-toolbar col-data-export"
                        > -->
                                                <!-- href="{{ getTaxFormData01PDF }}{{
                            item.taxForm01RetailId
                          }}" -->
                                                <!-- <a
                            *ngIf="item?.mainStatus == '3'"
                            style="color: white"
                            class="label-caption label-button"
                            href="{{ item.linkExportTaxformData01 }}"
                            target="_blank"
                          >
                            <button
                              type="button"
                              class="btn-custom btn-info-custom"
                              style="margin-right: 0.5vw"
                              matTooltip="{{ config.tooltripMsg.or_01 }}"
                            >
                              <i
                                class="fa fa-file-text-o"
                                aria-hidden="true"
                              ></i> -->
                                                <!-- ใบรับแจ้ง -->
                                                <!-- </button>
                          </a>
                        </td> -->

                                                <td class="col-fit-content-c">
                                                    <button *ngIf="
                              item.status == '0' || item.status == '4'
                            " (click)="view(item.taxFormRefundId)" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.detaill }}">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            ดูรายละเอียด
                          </button>

                                                    <button *ngIf="
                              item?.status == '3' || item?.status == '1'
                            " (click)="update(item.taxFormRefundId)" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.edit }}">
                            <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                            แก้ไข
                          </button>

                                                    <button *ngIf="
                              item?.status == '3' || item?.status == '1'
                            " (click)="delete(item, 'row')" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.delete }}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            ลบ
                          </button>
                                                </td>
                                            </tr>
                                            <tr *ngIf="dataList.length == 0">
                                                <td colspan="10" class="text-center icon-pointer-toolbar">
                                                    <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-6 p-l-15">
                                            <p class="justify-content-start">
                                                จำนวนทั้งหมด {{ totalItemdataList }} รายการ
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <ngb-pagination (pageChange)="getList($event)" [pageSize]="maxitemPerPage" [collectionSize]="this.config.resultPage.totalItem" [(page)]="config.resultPage.pageNo" [maxSize]="maxSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="float-right"></ngb-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>