/* @font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} */
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* @font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} */
/* @font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'THSarabunLight';
    src: url('Sarabun-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} */



.thsarabunlight{
   font-family: 'THSarabunLight', sans-serif;
}