<div
  *ngIf="showLogin"
  class="d-flex justify-content-center align-items-center"
  style="padding-top: 3vw"
>
  <div id="login_wrapper" class="row col-md-12 justify-content-center">
    <section id="login_content">
      <div class="logo text-center">
        <img
          src="assets/img/logo/bkk_logo_login.png"
          alt="logo"
          class="logo-img"
        />
      </div>

      <div class="login-body">
        <h1
          class="login-title"
          style="font-size: 25px !important; color: #053a1d"
        >
          กำหนดรหัสผ่าน
        </h1>
        <br />
        <h1
          class="login-title"
          style="font-size: 23px !important; color: #053a1d"
        >
          ระบบชำระภาษีบำรุงกรุงเทพมหานคร
        </h1>
        <h2
          class="login-title text-center"
          style="font-size: 20px !important; padding-top: 10px; color: #305b43"
        >
          สำหรับน้ำมันเบนซินและน้ำมันที่คล้ายกัน<br />
          น้ำมันดีเซลและน้ำมันที่คล้ายกัน<br />
          และก๊าซปิโตรเลียมจากสถานการค้าปลีก
        </h2>

        <form
          class="form-horizontal"
          (keyup.enter)="validateFromgruop()"
          name="formData"
          #formData="ngForm"
          style="margin-top: 5vh"
        >
          <div class="form-group row">
            <div class="col-md">
              <div class="row">
                <div class="text-right p-t-label" style="margin-left: 1vw">
                  <label>อีเมล : </label>
                </div>
                <div class="col p-t-label">
                  <label>{{ model.username }}</label>
                </div>
              </div>

              <mat-form-field floatPlaceholder="never">
                <label>รหัสผ่าน</label>
                <input
                  style="margin-top: 1vw; font-size: 18px"
                  id="password"
                  matInput
                  type="password"
                  [(ngModel)]="model.password"
                  [ngModelOptions]="{ standalone: true }"
                  #passwordField
                />
                <button
                  style="font-size: 24px; top: 2vw"
                  mat-icon-button
                  type="button"
                  (click)="
                    passwordField.type === 'password'
                      ? (passwordField.type = 'text')
                      : (passwordField.type = 'password')
                  "
                  matSuffix
                >
                  <mat-icon *ngIf="passwordField.type === 'password'"
                    >visibility</mat-icon
                  >
                  <mat-icon *ngIf="passwordField.type === 'text'"
                    >visibility_off</mat-icon
                  >
                </button>
              </mat-form-field>

              <mat-form-field floatPlaceholder="never">
                <label>ยืนยันรหัสผ่าน</label>
                <input
                  style="margin-top: 1vw; font-size: 18px"
                  id="confirmPassword"
                  matInput
                  type="password"
                  [(ngModel)]="model.confirmPassword"
                  [ngModelOptions]="{ standalone: true }"
                  #confirmPasswordField
                />
                <button
                  style="font-size: 24px; top: 2vw"
                  mat-icon-button
                  type="button"
                  (click)="
                    confirmPasswordField.type === 'password'
                      ? (confirmPasswordField.type = 'text')
                      : (confirmPasswordField.type = 'password')
                  "
                  matSuffix
                >
                  <mat-icon *ngIf="confirmPasswordField.type === 'password'"
                    >visibility</mat-icon
                  >
                  <mat-icon *ngIf="confirmPasswordField.type === 'text'"
                    >visibility_off</mat-icon
                  >
                </button>
              </mat-form-field>
            </div>
          </div>

          <div
            class="row"
            style="padding-left: 13px; padding-right: 13px"
          ></div>

          <div class="row">
            <div class="col-md-12 text-center">
              <button
                mat-ripple
                (click)="onSubmit()"
                class="btn btn-danger width-button"
                style="background-color: #057a55; color: #fff"
                type="button"
              >
                <!-- {{ "authen.login.login" | translate }} -->
                ยืนยัน
              </button>

              <button
                mat-ripple
                (click)="cancel()"
                class="btn btn-danger width-button"
                style="color: #fff"
                type="button"
              >
                <!-- {{ "authen.login.login" | translate }} -->
                กลับ
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="login-footer"></div>
    </section>
  </div>
</div>
