.back-group-tab {
  background: #d9d9d9;
}

.my-custom-scrollbar {
  position: relative;
  height: 550px;
  overflow: auto;
}

.icon {
  cursor: pointer;
}

.input-col {
  padding-right: 15px;
  padding-left: 15px;
}

.row-text {
  border-bottom: 1px solid grey;
  margin-top: 10px;
}
.text-input {
  margin-bottom: 10px;
}
.fa-pencil {
  font-size: 20px;
}
.col-icon-edit {
  padding-top: 15px;
}
// .btn-purple, .btn-green , .btn-pink , .btn-danger {
//      width: 100%;
// }
input[type="text"] {
  color: unset;
}

/*Profile Pic Start*/
.picture-container {
  position: relative;
  cursor: pointer;
  // text-align: right;
}
.picture {
  width: 150px;
  height: 150px;
  background-color: #999999;
  border: 4px solid #cccccc;
  color: #ffffff;
  border-radius: 50%;
  // margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.picture:hover {
  border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover {
  border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover {
  border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover {
  border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover {
  border-color: #ff3b30;
}
.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture-src {
  width: 100%;
  min-height: 100%;
}

.picture-src-img {
  width: 150px;
  height: 150px;
  background-color: #999999;
  border: 4px solid #cccccc;
  color: #ffffff;
  border-radius: 50%;
  // margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.picture-src-img:hover {
  border-color: #2ca8ff;
}

.image-upload > input {
  display: none;
}

.input-datepicker {
  width: 90% !important;
  padding-top: 15px !important;
  border-bottom: grey 1px solid !important;
}

.mat-chip:not(.mat-basic-chip) {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 24px;
  align-items: center;
  cursor: default;
}

// .mat-chip:not(.mat-basic-chip) {
//   background-color: #e0e0e0;
//   color: rgba(0, 0, 0, 0.87);
// }

// .mat-chip {
//   font-size: 13px;
//   line-height: 18px;
// }

.permission-true {
  color: green;
}

.permission-false {
  color: white;
}

.times-false {
  color: red;
}

.row-from-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  // border-right: solid 5px #fc5185;
  // // transition: border-width 0.6s linear;
  // border-width: 5px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.fade-in-out {
  transition: 1s linear all;
  opacity: 1;
}
.fade-in-out.ng-hide {
  opacity: 0;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-delay: 4s;
}

// https://codepen.io/yusufbkr/pen/JdBxpj

.card-2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #eaf1f5;
  border-radius: 10px;
}

.card-2:hover {
  // border-right: solid 5px #fc5185;
  // // transition: border-width 0.6s linear;
  // border-width: 5px;

  //box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.number-input {
  padding-right: 1vw;
}
