<nav id="app_main-menu-wrapper" style="padding-top: 2.5vw">
  <div class="sidebar-inner sidebar-push" malihu-scrollbar>
    <!-- <ul class="nav-logo nav-mobile">
      <li class="nav-item logo-wrapper">
        <a href="javascript:void(0)" [routerLink]="['/main-menu']">
          <div class="logo">
            <img src="assets/img/logo/logo-icon.png" alt="Logo" />
          </div>
          <h1 class="brand-text">Life and Living</h1>
        </a>
      </li>
    </ul> -->


    <ul class="nav nav-pills flex-column">
      <li routerLinkActive="active open" appNavDropdown class="nav-dropdown"
        *ngFor="let item of dataList ; let i=index">
        
        <ng-container *ngFor="let subItem of item?.subMenu; let i = index">
          <ul class="nav-sub">
            <li routerLinkActive="active">
              <a class="sub-menu" href="javascript:void(0)" [routerLink]="[subItem.path]"
                (click)="btnMenuOnClick(subItem.id)">
                {{ subItem?.name }}
              </a>
            </li>
          </ul>
        </ng-container>

      </li>
    </ul>
  </div>
</nav>