.green {
  color: #4caf50 !important;
}

.red {
  color: #f44336 !important;
}

.blue {
  color: #03a9f4 !important;
}

.oragan {
  color: #dc7633 !important;
}

.icon-manament {
  min-width: 80px;
  width: auto;
}

.box {
  //background: #f9f9f9;
  background: #eaf1f5;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.tab-green {
  border-right: 2.5vw solid #4caf50 !important;
}

.tab-red {
  border-right: 2.5vw solid #f44336 !important;
}

.tab-blue {
  border-right: 2.5vw solid #03a9f4 !important;
}

.tab-oragan {
  border-right: 2.5vw solid #dc7633 !important;
}

.tab-send {
  padding: 1vw;
  //border-left: 2.5vw solid !important;
}
