<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>
                            แบบแจ้งการเลิกกิจการหรือเปลี่ยนแปลงข้อมูลสถานการค้าปลีก (ภน.02)
                        </h1>
                    </div>
                </div>
            </header>
        </div>
        <div class="content-body" style="padding-top: 0px">
            <div class="row" style="margin-top: 0.5vw">
                <div class="col">
                    <div class="card-1">
                        <div class="row" (click)="panelOpenState = !panelOpenState" style="margin-left: 0px; margin-right: 0px; cursor: pointer">
                            <div class="col-12 text-left" style="height: 50px; background: #006634">
                                <p style="font-size: 1.5em; margin-top: 10px; color: #ffff">
                                    <i *ngIf="!panelOpenState" style="font-size: 24px; color: white !important" class="fa fa-plus-circle"></i>

                                    <i *ngIf="panelOpenState" style="font-size: 24px; color: white !important" class="fa fa-minus-circle"></i> &nbsp; ข้อมูลผู้ประกอบการ
                                </p>
                            </div>
                        </div>

                        <ng-container *ngIf="panelOpenState" class="fade-in-out">
                            <div class="row" style="margin: 0.5px; background: white">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-3 label-custom-text" style="margin-top: 20px !important;">
                                            <label>ชื่อผู้ประกอบการ :</label>
                                        </div>
                                        <div class="col-md-6 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data_getDataByMemberName.ownerName
                        }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label style="margin: 0px">เลขประจำตัวผู้เสียภาษีอากร :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data_getDataByMemberName.taxNo
                        }}</span>
                                        </div>

                                        <div class=" col-md-3 label-custom-text">
                                            <label>ประเภทผู้เสียภาษี :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data_getDataByMemberName.customerType
                        }}</span>
                                        </div>
                                    </div>

                                    <ng-container *ngIf="
                      data_getDataByMemberName.customerType == 'บุคคลธรรมดา'
                    ">
                                        <div class="row">
                                            <div class="col-md-3 label-custom-text">
                                                <label>บัตรประจำตัวประชาชนเลขที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span style="font-size: 14px; color: #607188">{{
                          data_getDataByMemberName.idCard
                          }}</span>
                                            </div>

                                            <div class="label-custom-text">
                                                <label>ออกให้ ณ ที่ว่าการอำเภอ/เขต :</label>
                                            </div>
                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span style="font-size: 14px; color: #607188">{{
                          data_getDataByMemberName.idCardAt
                          }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="data_getDataByMemberName.customerType == 'นิติบุคคล'">
                                        <div class="row">
                                            <div class="col-md-3 label-custom-text">
                                                <label>เลขทะเบียนนิติบุคคลที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span style="font-size: 14px; color: #607188">{{
                          data_getDataByMemberName.corpNo
                          }}</span>
                                            </div>

                                            <div class=" col-md-3 label-custom-text">
                                                <label>เมื่อวันที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span style="font-size: 14px; color: #607188">{{
                          data_getDataByMemberName.corpDate
                          }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>เลขรหัสประจำบ้าน :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{ data_getDataByMemberName.houseNo }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ที่อยู่ :</label>
                                        </div>

                                        <div class="col-md-9 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data_getDataByMemberName.fullAddress
                        }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label style="margin: 0px">รหัสไปรษณีย์ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data_getDataByMemberName.postcode
                        }}</span>
                                        </div>

                                        <div class="col-md-3 label-custom-text">
                                            <label>เบอร์โทรศัพท์ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data_getDataByMemberName.mobile
                        }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</label>
                                        </div>
                                        <div class="col-md-7 input-custom-text" style="margin-top: 20px !important;">
                                            <span>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ</span>
                                        </div>
                                    </div>

                                    <hr width="100%" size="5" color="#e9ecef" />

                                    <div class="row">
                                        <div class="col-md-4 text-left">
                                            <h2 style="color: #053a1d; font-size: 18px">
                                                เอกสารประกอบ
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-orderby">
                                                            <label>ลำดับ</label>
                                                        </th>
                                                        <th class="text-center col-name-doc-pn01">
                                                            <label>รายการเอกสาร</label>
                                                        </th>
                                                        <th class="text-center col-quantity-doc-pn01">
                                                            <label>จำนวน (แผ่น)</label>
                                                        </th>
                                                        <th class="text-center col-name">
                                                            <label>เอกสารแนบ</label>
                                                        </th>
                                                        <th class="text-center col-orderby"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar">
                                                            <span>1</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>สำเนาทะเบียนบ้าน สำเนาบัตรประจำตัวประชาชน</span>
                                                            <br />
                                                            <span>และสำเนาบัตรประจำตัวผู้เสียภาษีอาการ</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span *ngIf="
                                  data_getDataByMemberName.houseFileNum != '0'
                                ">{{
                                data_getDataByMemberName.houseFileNum | number
                                }}</span>

                                                            <span *ngIf="
                                  data_getDataByMemberName.houseFileNum == '0'
                                ">-</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <ng-container *ngFor="
                                  let item of data_getDataByMemberName.houseFileList;
                                  let i = index
                                ">
                                                                <a href="{{ item.ShowFile }}" target="_blank" class="icon-pointer-toolbar">{{ i + 1 }} .
                                  {{ item?.fileName }}</a>
                                                                <br />
                                                            </ng-container>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar">
                                                            <span>2</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>สำเนาหนังสือรับรองของกระทรวงพาณิชย์ <br />
                                (ที่ออกให้ไม่เกิน 6 เดือน)</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span *ngIf="
                                  data_getDataByMemberName.cerFileNum != '0'
                                ">{{
                                data_getDataByMemberName.cerFileNum | number
                                }}</span>

                                                            <span *ngIf="
                                  data_getDataByMemberName.cerFileNum == '0'
                                ">-</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <ng-container *ngFor="
                                  let item of data_getDataByMemberName.agentFileList;
                                  let i = index
                                ">
                                                                <a href="{{ item.ShowFile }}" target="_blank" class="icon-pointer-toolbar">{{ i + 1 }} .
                                  {{ item?.fileName }}</a>
                                                                <br />
                                                            </ng-container>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar">
                                                            <span>3</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>หนังสือมอบอำนาจและสำเนาบัตรประจำตัวประชาชนของผู้รับมอบอำนาจ</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span *ngIf="
                                  data_getDataByMemberName.agentFileNum != '0'
                                ">{{
                                data_getDataByMemberName.agentFileNum | number
                                }}</span>

                                                            <span *ngIf="
                                  data_getDataByMemberName.agentFileNum == '0'
                                ">-</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <ng-container *ngFor="
                                  let item of data_getDataByMemberName.cerFileList;
                                  let i = index
                                ">
                                                                <a href="{{ item.ShowFile }}" target="_blank" class="icon-pointer-toolbar">{{ i + 1 }} .
                                  {{ item?.fileName }}</a>
                                                                <br />
                                                            </ng-container>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <br />
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 0.5vw">
                <div class="col">
                    <div class="card card-1">
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-left: 0px; margin-right: 0px">
                                    <div class="col-12 text-left" style="height: 50px; background: #006634">
                                        <p style="font-size: 1.5em; margin-top: 10px; color: #ffff">
                                            ข้อมูลสถานการค้าปลีก
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 label-custom-text">
                                        <label>ชื่อสถานการค้าปลีก :</label>
                                    </div>
                                    <div class="col-md-6 input-custom-text" style="margin-top: 20px !important;">
                                        <span>
                      {{ data.stationName }}
                    </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 label-custom-text">
                                        <label>ความประสงค์ :</label>
                                    </div>
                                    <div class="col-md-8 input-custom-text" style="margin-top: 20px !important;">
                                        <!-- <span>
                      {{ data.businessStatus }}
                    </span> -->

                                        <mat-chip-list>
                                            <mat-chip *ngFor="
                          let item of data.businessStatusList;
                          let iMenuList = index
                        " style="height: auto">
                                                <span class="icon-pointer-toolbar">{{
                          item.name
                          }}</span>
                                            </mat-chip>
                                        </mat-chip-list>
                                    </div>
                                </div>

                                <ng-container *ngFor="let item of data.businessStatusList; let i = index">
                                    <ng-container *ngIf="item.other == 'A'">
                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                <label>วันที่เลิกกิจการ :</label>
                                            </div>
                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>
                          {{ data.cancelDate }}
                        </span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="item.other == 'B'">
                                        <div class="row">
                                            <!-- <div class="col-md-3 text-right"></div> -->
                                            <div class="col-md-3 label-custom-date">
                                                <label>ตั้งแต่วันที่:</label>
                                            </div>
                                            <div class="col-md-2 input-custom-text" style="margin-top: 20px !important;">
                                                <span>
                          {{ data.changeDate }}
                        </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!-- <div class="col-md-3 text-right"></div> -->
                                            <div class="col-md-3 label-custom-text">
                                                <label>ที่อยู่เดิม:</label>
                                            </div>
                                            <div class="col-md-7 input-custom-text" style="margin-top: 20px !important;">
                                                <span> {{ data.addressOld }} </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!-- <div class="col-md-3 text-right"></div> -->
                                            <div class="col-md-3 label-custom-text">
                                                <label>ที่อยู่ใหม่:</label>
                                            </div>
                                            <div class="col-md-5 input-custom-text" style="margin-top: 20px !important;">
                                                <span> {{ data.address }} </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!-- <div class="col-md-3 text-right"></div> -->
                                            <div class="col-md-3 label-custom-text">
                                                <label>ซอย :</label>
                                            </div>
                                            <div class="col-md-2 input-custom-text" style="margin-top: 20px !important;">
                                                <span> {{ data.soi }} </span>
                                            </div>
                                            <div class=" col-md-2 label-custom-text">
                                                <label>ถนน :</label>
                                            </div>
                                            <div class="col-md-2 input-custom-text" style="margin-top: 20px !important;">
                                                <span> {{ data.road }} </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!-- <div class="col-md-3 text-right"></div> -->
                                            <div class="col-md-3 label-custom-text">
                                                <label>รหัสไปรษณีย์ :</label>
                                            </div>
                                            <div class="col-md-2 input-custom-text" style="margin-top: 20px !important;">
                                                <span> {{ data.postcode }} </span>
                                            </div>
                                            <div class="col-md-2 label-custom-text">
                                                <label>เบอร์โทรศัพท์ :</label>
                                            </div>
                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span> {{ data.mobile }} </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="col-md-9 table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">
                                                                <label>แขวง :</label> &nbsp;
                                                                <span style="font-weight: 400">{{
                                  data.tambonName
                                  }}</span>
                                                            </th>

                                                            <th class="text-left">
                                                                <label>เขต :</label> &nbsp;
                                                                <span style="font-weight: 400">{{
                                  data.amphurName
                                  }}</span>
                                                            </th>

                                                            <th class="text-left">
                                                                <label>จังหวัด :</label> &nbsp;
                                                                <span style="font-weight: 400">{{
                                  data.provinceName
                                  }}</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="item.other == 'C'">
                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                <label>เปลี่ยนชื่อผู้สถานประกอบการค้าปลีกจาก :</label>
                                            </div>
                                            <div class="col-md-5 text-left p-t-label">
                                                <span>{{ data.ownerNameOld }}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                <label>เป็น :</label>
                                            </div>
                                            <div class="col-md-5 text-left p-t-label">
                                                <span>{{ data.ownerName }}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                <label>เลขที่ประจำตัวผู้เสียภาษีอากร :</label>
                                            </div>
                                            <div class="col-md-2 text-left p-t-label">
                                                <span>{{ data.taxNo }}</span>
                                            </div>
                                            <div class="text-right p-t-label">
                                                <label>เนื่องจาก :</label>
                                            </div>
                                            <div class="col-md-2 text-left p-t-label">
                                                <span>{{ data.cause }}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>ที่อยู่ :</label>
                                            </div>
                                            <div class="col-md-5 text-left p-t-label">
                                                <span>{{ data.addressRetail }}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>ซอย :</label>
                                            </div>
                                            <div class="col-md-2 text-left p-t-label">
                                                <span>{{ data.soiRetail }}</span>
                                            </div>
                                            <div class="text-right p-t-label">
                                                <label>ถนน :</label>
                                            </div>
                                            <div class="col-md-2 text-left p-t-label">
                                                <span>{{ data.roadRetail }}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                <label>รหัสไปรษณีย์ :</label>
                                            </div>
                                            <div class="col-md-2 text-left p-t-label">
                                                <span>{{ data.postcodeRetail }}</span>
                                            </div>
                                            <div class="text-right p-t-label">
                                                <label>เบอร์โทรศัพท์ :</label>
                                            </div>
                                            <div class="col-md-2 text-left p-t-label">
                                                <span>{{ data.mobileRetail }}</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="col-md-9 table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">
                                                                <label>แขวง :</label> &nbsp;
                                                                <span style="font-weight: 400">{{
                                  data.tambonNameRetail
                                  }}</span>
                                                            </th>

                                                            <th class="text-left">
                                                                <label>เขต :</label> &nbsp;
                                                                <span style="font-weight: 400">{{
                                  data.amphurNameRetail
                                  }}</span>
                                                            </th>

                                                            <th class="text-left">
                                                                <label>จังหวัด :</label> &nbsp;
                                                                <span style="font-weight: 400">{{
                                  data.provinceNameRetail
                                  }}</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="item.other == 'E'">
                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                <label>จาก :</label>
                                            </div>
                                            <div class="col-md-6 text-left p-t-label">
                                                <span> {{ data.stationNameOld }}</span>
                                            </div>
                                            <!-- <div class="text-right p-t-label">
                        <label>เป็น :</label>
                      </div>
                      <div class="col-md-3 text-left p-t-label">
                        <span> {{ data.stationName }}</span>
                      </div> -->
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                <label>เป็น :</label>
                                            </div>
                                            <div class="col-md-6 text-left p-t-label">
                                                <span> {{ data.stationName }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="
                      item.other != 'A' &&
                      item.other != 'B' &&
                      item.other != 'C' &&
                      item.other != 'E'
                    ">
                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="text-right p-t-label">
                                                <label>อื่น ๆ ระบุ :</label>
                                            </div>
                                            <div class="col-md-6 text-left p-t-label">
                                                <span> {{ data.other }}</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>

                                <div class="row" style="margin-top: 1.5vw">
                                    <div class="col-md-12 text-left" style="margin-left: 2vw">
                                        <h2 style="color: #053a1d; font-size: 18px">
                                            ในวันที่ขอเลิก/ย้าย/เปลี่ยนแปลงกิจการมี
                                        </h2>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="label-custom-text" style="margin-left: 3vw">
                                        <label>1. ภาษีค้างชำระตามบัญชีแนบ</label>
                                    </div>
                                    <div class="col-md-2 label-custom-text">
                                        <span>{{ data.taxRemain | currency: " " }}</span>
                                    </div>
                                    <div class="label-custom-text">
                                        <label>บาท</label>
                                    </div>
                                </div>

                                <div class=" row ">
                                    <div class="label-custom-text" style="margin-left: 3vw ">
                                        <label>2.
                      น้ำมัน/ก๊าซปิโตรเลียมที่ยังไม่ได้ชำระภาษีตามบัญชีแนบ</label>
                                    </div>
                                    <div class="col-md-2 label-custom-text ">
                                        <span>{{ data.taxOilGas | currency: " " }}</span>
                                    </div>
                                    <div class="label-custom-text ">
                                        <label>บาท</label>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-3 label-custom-text">
                                        <label>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</label>
                                    </div>
                                    <div class="col-md-7 input-custom-text " style="margin-top: 20px !important;">
                                        <span>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ</span>
                                    </div>
                                </div>

                                <div class="row " style="margin-top: 1.5vw ">
                                    <div class="col-md-12 text-left " style="margin-left: 2vw ">
                                        <h2 style="color: #053a1d; font-size: 18px ">
                                            เอกสารประกอบ
                                        </h2>
                                    </div>
                                </div>

                                <div class="row " style="padding-left: 1vw; padding-right: 1vw ">
                                    <div class="col-md-12 ">
                                        <table class="table table-hover ">
                                            <thead>
                                                <tr>
                                                    <th class="text-center col-orderby ">
                                                        <label>ลำดับ</label>
                                                    </th>
                                                    <th class="text-center col-name-doc-pn01 ">
                                                        <label>รายการเอกสาร</label>
                                                    </th>
                                                    <th class="text-center col-quantity-doc-pn01 ">
                                                        <label>จำนวน (แผ่น)</label>
                                                    </th>
                                                    <th class="text-center col-name ">
                                                        <label>เอกสารแนบ</label>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center ">
                                                        <span>1</span>
                                                    </td>
                                                    <td class="text-left ">
                                                        <span style="color: red ">*</span>
                                                        <span>สำเนาหนังสือรับรองของกระทรวงพาณิชย์ <br />
                              (ที่ออกให้ไม่เกิน 6 เดือน)</span>
                                                    </td>
                                                    <td class="text-right col-td-money ">
                                                        <span *ngIf="data.fileNumE !='0' ">{{
                              data.fileNumE | number
                              }}</span>

                                                        <span *ngIf="data.fileNumE=='0' ">-</span>
                                                    </td>
                                                    <td class="text-left icon-pointer-toolbar ">
                                                        <ng-container *ngFor=" let item of data.commerceFileList; let i=i ndex ">
                                                            <a href="{{ item.ShowFile }} " target="_blank " class="icon-pointer-toolbar ">{{ i + 1 }} .
                                {{ item?.pathFileName }}</a>
                                                            <br />
                                                        </ng-container>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="text-center ">
                                                        <span>2</span>
                                                    </td>
                                                    <td class="text-left ">
                                                        <span>หนังสือมอบอำนาจและสำเนาบัตรประจำตัวประชาชนผู้รับมอบอำนาจ
                            </span>
                                                    </td>

                                                    <td class="text-right col-td-money ">
                                                        <span *ngIf="data.fileNumA !='0' ">{{
                              data.fileNumA | number
                              }}</span>

                                                        <span *ngIf="data.fileNumA=='0' ">-</span>
                                                    </td>

                                                    <td class="text-left icon-pointer-toolbar ">
                                                        <ng-container *ngFor=" let item of data.authorizeFileList; let i=i ndex ">
                                                            <a href="{{ item.NameUrl }} " target="_blank " class="icon-pointer-toolbar ">{{ i + 1 }} . {{
                                item?.pathFileName }}</a>
                                                            <br />
                                                        </ng-container>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="text-center ">
                                                        <span>3</span>
                                                    </td>
                                                    <td class="text-left ">
                                                        <span style="color: red ">*</span>
                                                        <span>บัญชีสินค้าน้ำมัน/ก๊าซปิโตรเลียมและบัญชีรายการค้างชำระภาษี
                              <br />(กรณี ขอเลิก/ย้าย/เปลี่ยนแปลงกิจการ)</span>
                                                    </td>

                                                    <td class="text-right col-td-money ">
                                                        <span *ngIf="data.fileNumR !='0' ">{{
                              data.fileNumR | number
                              }}</span>

                                                        <span *ngIf="data.fileNumR=='0' ">-</span>
                                                    </td>

                                                    <td class="text-left icon-pointer-toolbar ">
                                                        <ng-container *ngFor=" let item of data.taxRemainFileList; let i=i ndex ">
                                                            <a href="{{ item.NameUrl }} " target="_blank " class="icon-pointer-toolbar ">{{ i + 1 }} . {{
                                item?.pathFileName }}</a>
                                                            <br />
                                                        </ng-container>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="text-center ">
                                                        <span>4</span>
                                                    </td>
                                                    <td class="text-left ">
                                                        <span>เอกสารอื่น ๆ</span>
                                                    </td>

                                                    <td class="text-right col-td-money ">
                                                        <span *ngIf="data.fileNumO !='0' ">{{
                              data.fileNumO | number
                              }}</span>

                                                        <span *ngIf="data.fileNumO=='0' ">-</span>
                                                    </td>

                                                    <td class="text-left icon-pointer-toolbar ">
                                                        <ng-container *ngFor=" let item of data.otherFileList; let i=i ndex ">
                                                            <a href="{{ item.NameUrl }} " target="_blank " class="icon-pointer-toolbar ">{{ i + 1 }} . {{
                                item?.pathFileName }}</a>
                                                            <br />
                                                        </ng-container>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row justify-content-center ">
                                    <button type="button " class="btn btn-danger width-button " style="margin-left: 10px " (click)="cancel() ">
                    ปิด
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>