<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>ชำระภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมันฯ</h1>
                    </div>
                </div>
            </header>
        </div>


        <div class="content-body">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="col-md-12 style-search" *ngIf="isSearchActive">
                            <form class="form-horizontal" (keyup.enter)="getList(1)">
                                <div class="row">
                                    <div class="col-12" style="padding-top:10px;text-align:right;">
                                        <i class="fa fa-search icon-toolbar" aria-hidden="true" (click)="getList(1)" matTooltip="{{ config.tooltripMsg.search }}"></i>

                                        <i class="fa fa-refresh icon-toolbar" aria-hidden="true" matTooltip="{{ config.tooltripMsg.refresh }}" (click)="refreshDataSearch()">
                                        </i>

                                        <i class="fa fa-times icon-toolbar" aria-hidden="true" (click)="triggerClose($event)" matTooltip="{{ config.tooltripMsg.close }}"></i>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: -15px !important;">
                                    <div class="col-xl-2 col-md-3 label-custom-text">
                                        <label>ชื่อสถานการค้าปลีก :</label>
                                    </div>
                                    <div class="col-xl-3 col-md-3 input-custom-text">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="searchValue.stationName" [ngModelOptions]="{ standalone: true }" />
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="row" style="margin-top: -15px !important;">
                                    <div class="col-xl-2 col-md-3 label-custom-dropdown">
                                        <label>เดือน :</label>
                                    </div>
                                    <div class="col-xl-3 col-md-3  input-custom-dropdown">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="searchValue.monthly" [ngModelOptions]="{ standalone: true }">
                                                <mat-option value="">เลือกทั้งหมด</mat-option>
                                                <mat-option value="1">มกราคม</mat-option>
                                                <mat-option value="2">กุมภาพันธ์</mat-option>

                                                <mat-option value="3">มีนาคม</mat-option>
                                                <mat-option value="4">เมษายน</mat-option>
                                                <mat-option value="5">พฤษภาคม</mat-option>

                                                <mat-option value="6">มิถุนายน</mat-option>
                                                <mat-option value="7">กรกฎาคม</mat-option>
                                                <mat-option value="8">สิงหาคม</mat-option>

                                                <mat-option value="9">กันยายน</mat-option>
                                                <mat-option value="10">ตุลาคม</mat-option>
                                                <mat-option value="11">พฤศจิกายน</mat-option>
                                                <mat-option value="12">ธันวาคม</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-xl-2 col-md-2 label-custom-dropdown">
                                        <label>ปี : </label>
                                    </div>
                                    <div class="col-xl-4 col-md-3  input-custom-dropdown">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="searchValue.yearly" [ngModelOptions]="{ standalone: true }">
                                                <mat-option value="">เลือกทั้งหมด</mat-option>
                                                <mat-option *ngFor="let item of drpyear" [value]="item">
                                                    {{ item }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row p-t-10">
                                    <div class="col-2 text-right p-t-20"></div>
                                    <div class="col-8"></div>
                                </div>
                            </form>
                        </div>

                        <div class="row header-content" *ngIf="!isSearchActive">
                            <div class="col-md-10">
                                <header class="card-header">
                                    <h2 class="card-title">
                                        รายการชำระภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมันฯ
                                    </h2>
                                </header>
                            </div>
                        </div>

                        <div class="col-md-12 text-right" style="margin-top: 0.5vw">
                            <h2 class="text-right">
                                <button matTooltip="ชำระเงิน" (click)="gotoBmaFront()" type="button" style="margin-right: 0.5vw" class="btn-custom btn-info-custom">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    ชำระเงิน
                                </button>
                                <button matTooltip="{{ config.tooltripMsg.search }}" (click)="searchActive()" type="button" style="margin-right: 0.5vw" class="btn-custom btn-info-custom">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    ค้นหา
                                </button>
                            </h2>
                        </div>

                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-hover table-list-style">
                                        <thead>
                                            <tr>
                                                <!-- <th class="text-center col-orderby">
                                                    <mat-checkbox [(ngModel)]="checkAll" [checked]="allRowsSelected"
                                                        (change)="selectAll($event.checked)"></mat-checkbox>
                                                </th> -->
                                                <th class="text-center" style="text-align: center; width: 50px !important; vertical-align: top;">ลำดับ</th>
                                                <th class="text-center " style="vertical-align: top; text-align: center; width: 150px !important; vertical-align: top;">เดือน/ปี</th>
                                                <th class="text-center col-name" style="vertical-align: top;">ชื่อสถานการค้าปลีก</th>
                                                <th class="text-center " style="text-align: center; width: 150px !important; vertical-align: top;">
                                                    ยอดชำระ<br>(บาท)</th>
                                                <th class="text-center " style="text-align: center; width: 150px !important; vertical-align: top;">
                                                    ค่าเพิ่ม<br>(บาท)</th>
                                                <th class="text-center " style="text-align: center; width: 150px !important; vertical-align: top;">
                                                    รวมชำระ<br>(บาท)</th>
                                                <th class="text-center " style="text-align: center; width: 150px !important; vertical-align: top;">
                                                    วันที่ครบกำหนดชำระ</th>
                                                <th class="text-center " style="vertical-align: top;">ใบแจ้งชำระ
                                                </th>
                                                <!-- <th class="text-center col-date">ชำระเงิน</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataList; let i = index">
                                                <!-- <td class="text-center col-data-orderby" style="width: 5%">
                                                    <mat-checkbox>
                                                    </mat-checkbox>
                                                </td> -->
                                                <td class="text-center icon-pointer-toolbar" style="vertical-align: top;">
                                                    <span>{{
                                                        i +
                                                        1 +
                                                        (config.resultPage.pageNo - 1) * maxitemPerPage
                                                        }}</span>
                                                </td>

                                                <td class="text-center icon-pointer-toolbar" style="vertical-align: top;">
                                                    <span class="icon-pointer-toolbar">{{
                                                        item?.monthName
                                                        }}
                                                        {{
                                                        (item?.monthName == '' && item?.yearly == 0) ? '' : ' '
                                                        }}
                                                        {{
                                                        (item?.yearly != 0) ? item?.yearly : ''
                                                        }}</span>
                                                </td>
                                                <td class="text-left icon-pointer-toolbar" style="vertical-align: top;">
                                                    <span class="icon-pointer-toolbar">{{
                                                        item?.stationName
                                                        }}</span>
                                                </td>
                                                <td class="text-right icon-pointer-toolbar" style="vertical-align: top;">
                                                    <span class="icon-pointer-toolbar">{{
                                                        item?.taxTotal
                                                        }}</span>
                                                </td>
                                                <td class="text-right icon-pointer-toolbar" style="vertical-align: top;">
                                                    <span class="icon-pointer-toolbar">{{
                                                        item?.extraMoney
                                                        }}</span>
                                                </td>
                                                <td class="text-right icon-pointer-toolbar" style="vertical-align: top;">
                                                    <span class="icon-pointer-toolbar">{{
                                                        item?.totalAmount
                                                        }}</span>
                                                </td>
                                                <td class="text-center icon-pointer-toolbar" style="vertical-align: top;">
                                                    <span class="icon-pointer-toolbar">{{
                                                        item?.dueDate
                                                        }}</span>
                                                </td>
                                                <td class="text-center icon-pointer-toolbar col-data-export" style="vertical-align: top;">
                                                    <a style="color: white" class="label-caption label-button" href="{{ item?.linkExportFrontInvoice }}" target="_blank" *ngIf="item?.linkExportFrontInvoice != ''">
                                                        <button type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw">
                                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                                <!-- <td class="text-center icon-pointer-toolbar col-data-export">
                                                    <a style="color: white" class="label-caption label-button"
                                                        target="_blank">
                                                        <button type="button" class="btn-custom btn-info-custom"
                                                            style="margin-right: 0.5vw">
                                                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                        </button>
                                                    </a>
                                                </td> -->

                                            </tr>

                                            <tr *ngIf="dataList.length == 0">
                                                <td colspan="9" class="text-center icon-pointer-toolbar">
                                                    <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="row">
                                        <div class="col-md-6 p-l-15">
                                            <p class="justify-content-start">
                                                จำนวนทั้งหมด {{ totalItemdataList }} รายการ
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <ngb-pagination (pageChange)="getList($event)" [pageSize]="maxitemPerPage" [collectionSize]="this.config.resultPage.totalItem" [(page)]="config.resultPage.pageNo" [maxSize]="maxSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="float-right">
                                            </ngb-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>