<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>แบบยื่นแสดงรายการภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมัน (ภน.03)</h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="content-body">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="col-md-12 style-search" *ngIf="isSearchActive">
                            <form class="form-horizontal" (keyup.enter)="getList(1)">
                                <div class="row">
                                    <div class="col-12" style="padding-top:10px;text-align:right;">
                                        <i class="fa fa-search icon-toolbar" aria-hidden="true" (click)="getList(1)" matTooltip="{{ config.tooltripMsg.search }}"></i>

                                        <i class="fa fa-refresh icon-toolbar" aria-hidden="true" matTooltip="{{ config.tooltripMsg.refresh }}" (click)="refreshDataSearch()">
                    </i>

                                        <i class="fa fa-times icon-toolbar" aria-hidden="true" (click)="triggerClose($event)" matTooltip="{{ config.tooltripMsg.close }}"></i>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: -15px !important;">
                                    <div class="col-xl-2 col-md-3  label-custom-dropdown">
                                        <label style="font-weight: bold;">ปี :</label>
                                    </div>
                                    <div class="col-xl-3 col-md-3 input-custom-dropdown">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="searchValue.yearly" [ngModelOptions]="{ standalone: true }">
                                                <mat-option value="">เลือกทั้งหมด</mat-option>
                                                <mat-option *ngFor="let item of drpyear" [value]="item">
                                                    {{ item }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-xl-2 col-md-2 label-custom-dropdown">
                                        <label style="font-weight: bold;">เดือน :</label>
                                    </div>
                                    <div class="col-xl-4 col-md-3 input-custom-dropdown">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="searchValue.monthly" [ngModelOptions]="{ standalone: true }">
                                                <mat-option value="">เลือกทั้งหมด</mat-option>
                                                <mat-option value="มกราคม">มกราคม</mat-option>
                                                <mat-option value="กุมภาพันธ์">กุมภาพันธ์</mat-option>

                                                <mat-option value="มีนาคม">มีนาคม</mat-option>
                                                <mat-option value="เมษายน">เมษายน</mat-option>
                                                <mat-option value="พฤษภาคม">พฤษภาคม</mat-option>

                                                <mat-option value="มิถุนายน">มิถุนายน</mat-option>
                                                <mat-option value="กรกฎาคม">กรกฎาคม</mat-option>
                                                <mat-option value="สิงหาคม">สิงหาคม</mat-option>

                                                <mat-option value="กันยายน">กันยายน</mat-option>
                                                <mat-option value="ตุลาคม">ตุลาคม</mat-option>
                                                <mat-option value="พฤศจิกายน">พฤศจิกายน</mat-option>
                                                <mat-option value="ธันวาคม">ธันวาคม</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                </div>

                                <div class="row p-t-10">
                                    <div class="col-2 text-right p-t-20"></div>
                                    <div class="col-8"></div>
                                </div>
                            </form>
                        </div>

                        <div class="row header-content" *ngIf="!isSearchActive">
                            <div class="col-md-10">
                                <header class="card-header">
                                    <h2 class="card-title">
                                        รายการแบบยื่นแสดงรายการภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมัน (ภน.03)
                                    </h2>
                                </header>
                            </div>
                        </div>

                        <div class="col-md-12 text-right" style="margin-top: 0.5vw">
                            <h2 class="text-right">
                                <button (click)="add()" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.add_pn03 }}">
                  <i class="fa fa-plus-circle"></i>
                  ยื่นภน.03
                </button>

                                <!-- <button
                  matTooltip="{{ config.tooltripMsg.import_address }}"
                  (click)="clickuploaderUpFileImport()"
                  type="button"
                  style="margin-right: 0.5vw"
                  class="btn-custom btn-info-custom"
                >
                  <i
                    class="zmdi zmdi-download icon-toolbar"
                    aria-hidden="true"
                  ></i>

                  นำเข้าระบบ

                  <input
                    ng2FileSelect
                    (change)="fileOverBase($event)"
                    [uploader]="uploader"
                    type="file"
                    multiple
                    id="file-input-import"
                    class="custom-file-input hidden"
                    name="fileImage"
                    accept=".xlsx, .xlsm, .xltx, .xltm"
                    title=" "
                  />
                </button> -->

                                <button matTooltip="{{ config.tooltripMsg.search }}" (click)="searchActive()" type="button" style="margin-right: 0.5vw" class="btn-custom btn-info-custom">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  ค้นหา
                </button>
                            </h2>
                        </div>

                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-hover table-list-style">
                                        <thead>
                                            <tr>
                                                <th class="col-fit-content-c">ลำดับ</th>
                                                <th class="col-fit-content-c">ปี</th>
                                                <th class="col-fit-content-c">เดือน</th>
                                                <!-- <th class="text-center">จำนวนรายการที่สร้าง</th> -->
                                                <th class="col-fit-content-c">รอส่งแบบ</th>
                                                <th class="col-fit-content-c">รอตรวจสอบ</th>
                                                <th class="col-fit-content-c">ตรวจสอบแล้ว</th>
                                                <th class="col-fit-content-c">ไม่ผ่านการตรวจสอบ</th>

                                                <th class="col-fit-content-c">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataList; let i = index">
                                                <td class="col-fit-content-c">
                                                    <span>{{
                            i +
                            1 +
                            (config.resultPage.pageNo - 1) * maxitemPerPage
                            }}</span>
                                                </td>

                                                <td class="col-fit-content-l">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.yearly
                            }}</span>
                                                </td>

                                                <td class="col-free-content-l">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.monthName
                            }}</span>
                                                </td>

                                                <!-- <td class="text-left icon-pointer-toolbar text-center">
                          <span class="icon-pointer-toolbar">{{
                            item?.totalNum
                          }}</span>
                        </td> -->

                                                <td class="col-fit-content-c">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.waitSendNum
                            }}</span>
                                                </td>

                                                <td class="col-fit-content-c">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.waitNum
                            }}</span>
                                                </td>
                                                <td class="col-fit-content-c">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.passNum
                            }}</span>
                                                </td>
                                                <td class="col-fit-content-c">
                                                    <span class="icon-pointer-toolbar">{{
                            item?.noPassNum
                            }}</span>
                                                </td>

                                                <td class="col-fit-content-c">
                                                    <button (click)="view(item)" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.detail }}">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            ดูรายละเอียด
                          </button>
                                                </td>
                                            </tr>

                                            <tr *ngIf="dataList.length == 0">
                                                <td colspan="8" class="text-center icon-pointer-toolbar">
                                                    <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-6 p-l-15">
                                            <p class="justify-content-start">
                                                จำนวนทั้งหมด {{ totalItemdataList }} รายการ
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <ngb-pagination (pageChange)="getList($event)" [pageSize]="maxitemPerPage" [collectionSize]="this.config.resultPage.totalItem" [(page)]="config.resultPage.pageNo" [maxSize]="maxSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="float-right"></ngb-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>