<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>
                            แบบแจ้งการเลิกกิจการหรือเปลี่ยนแปลงข้อมูลสถานการค้าปลีก (ภน.02)
                        </h1>
                    </div>
                </div>
            </header>
        </div>
        <div class="content-body" style="padding-top: 0px">
            <div class="row" style="margin-top: 0.5vw">
                <div class="col">
                    <div class="card-1">
                        <div class="row" (click)="panelOpenState = !panelOpenState" style="margin-left: 0px; margin-right: 0px; cursor: pointer">
                            <div class="col-12 text-left" style="height: 50px; background: #006634">
                                <h2 style="font-size: 18px; margin-top: 10px">
                                    <i *ngIf="!panelOpenState" style="font-size: 24px;" class="fa fa-plus-circle"></i>

                                    <i *ngIf="panelOpenState" style="font-size: 24px;" class="fa fa-minus-circle"></i> &nbsp; ข้อมูลผู้ประกอบการ
                                </h2>
                            </div>
                        </div>

                        <ng-container *ngIf="panelOpenState" class="fade-in-out">
                            <div class="row" style="margin: 0.5px; background: white">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ชื่อผู้ประกอบการ :</label>
                                        </div>
                                        <div class="col-md-6 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.ownerName
                      }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label style="margin: 0px">เลขประจำตัวผู้เสียภาษีอากร :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.taxNo
                      }}</span>
                                        </div>

                                        <div class=" col-xl-2 col-md-3 label-custom-text">
                                            <label>ประเภทผู้เสียภาษี :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.customerType
                      }}</span>
                                        </div>
                                    </div>

                                    <ng-container *ngIf="
                      data_getDataByMemberName.customerType == 'บุคคลธรรมดา'
                    ">
                                        <div class="row">
                                            <div class="col-md-3 label-custom-text">
                                                <label>บัตรประจำตัวประชาชนเลขที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>{{
                          data_getDataByMemberName.idCard
                        }}</span>
                                            </div>

                                            <div class="label-custom-text">
                                                <label>ออกให้ ณ ที่ว่าการอำเภอ/เขต :</label>
                                            </div>
                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>{{
                          data_getDataByMemberName.idCardAt
                        }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="data_getDataByMemberName.customerType == 'นิติบุคคล'">
                                        <div class="row">
                                            <div class="col-md-3 label-custom-text">
                                                <label>เลขทะเบียนนิติบุคคลที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>{{
                          data_getDataByMemberName.corpNo
                        }}</span>
                                            </div>

                                            <div class="col-xl-2 col-md-1  label-custom-text">
                                                <label>เมื่อวันที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>{{
                          data_getDataByMemberName.corpDate
                        }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>เลขรหัสประจำบ้าน :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{ data_getDataByMemberName.houseNo }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ที่อยู่ :</label>
                                        </div>

                                        <div class="col-md-9 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.fullAddress
                      }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label style="margin: 0px">รหัสไปรษณีย์ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.postcode
                      }}</span>
                                        </div>

                                        <div class=" col-xl-2 col-md-3 label-custom-text">
                                            <label>เบอร์โทรศัพท์ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.mobile
                      }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</label>
                                        </div>
                                        <div class="col-md-7 input-custom-text" style="margin-top: 20px !important;">
                                            <!-- <span>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ</span> -->
                                        </div>
                                    </div>

                                    <hr width="100%" size="5" color="#e9ecef" />

                                    <div class="row">
                                        <div class="col-md-4 text-left">
                                            <h2 style="color: #053a1d; font-size: 18px">
                                                เอกสารประกอบ
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-orderby">
                                                            <label>ลำดับ</label>
                                                        </th>
                                                        <th class="text-center col-name-doc-pn01">
                                                            <label>รายการเอกสาร</label>
                                                        </th>
                                                        <th class="text-center col-quantity-doc-pn01">
                                                            <label>จำนวน (แผ่น)</label>
                                                        </th>
                                                        <th class="text-center col-name">
                                                            <label>เอกสารแนบ</label>
                                                        </th>
                                                        <th class="text-center col-orderby"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar">
                                                            <span>1</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>สำเนาทะเบียนบ้าน สำเนาบัตรประจำตัวประชาชน</span
                              >
                              <br />
                              <span>และสำเนาบัตรประจำตัวผู้เสียภาษีอาการ</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span *ngIf="
                                  data_getDataByMemberName.houseFileNum != '0'
                                ">{{
                                  data_getDataByMemberName.houseFileNum | number
                                }}</span
                              >

                              <span
                                *ngIf="
                                  data_getDataByMemberName.houseFileNum == '0'
                                "
                                >-</span
                              >
                            </td>
                            <td class="text-left icon-pointer-toolbar">
                              <ng-container
                                *ngFor="
                                  let item of data_getDataByMemberName.houseFileList;
                                  let i = index
                                "
                              >
                                <a
                                  href="{{getfileUrl}}/{{ item.pathFile }}/docform"
                                  target="_blank"
                                  class="icon-pointer-toolbar"
                                  >{{ i + 1 }} . {{ item?.fileName }}</a
                                >
                                <br />
                              </ng-container>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center icon-pointer-toolbar">
                              <span>2</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>สำเนาหนังสือรับรองของกระทรวงพาณิชย์ <br />
                                (ที่ออกให้ไม่เกิน 6 เดือน)</span
                              >
                            </td>
                            <td class="text-right col-td-money">
                              <span
                                *ngIf="
                                  data_getDataByMemberName.cerFileNum != '0'
                                "
                                >{{
                                  data_getDataByMemberName.cerFileNum | number
                                }}</span
                              >

                              <span
                                *ngIf="
                                  data_getDataByMemberName.cerFileNum == '0'
                                "
                                >-</span
                              >
                            </td>
                            <td class="text-left icon-pointer-toolbar">
                              <ng-container
                                *ngFor="
                                  let item of data_getDataByMemberName.agentFileList;
                                  let i = index
                                "
                              >
                                <a
                                  href="{{getfileUrl}}/{{ item.pathFile }}/docform"
                                  target="_blank"
                                  class="icon-pointer-toolbar"
                                  >{{ i + 1 }} . {{ item?.fileName }}</a
                                >
                                <br />
                              </ng-container>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center icon-pointer-toolbar">
                              <span>3</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>หนังสือมอบอำนาจและสำเนาบัตรประจำตัวประชาชนของผู้รับมอบอำนาจ</span
                              >
                            </td>
                            <td class="text-right col-td-money">
                              <span
                                *ngIf="
                                  data_getDataByMemberName.agentFileNum != '0'
                                "
                                >{{
                                  data_getDataByMemberName.agentFileNum | number
                                }}</span
                              >

                              <span
                                *ngIf="
                                  data_getDataByMemberName.agentFileNum == '0'
                                "
                                >-</span
                              >
                            </td>
                            <td class="text-left icon-pointer-toolbar">
                              <ng-container
                                *ngFor="
                                  let item of data_getDataByMemberName.cerFileList;
                                  let i = index
                                "
                              >
                                <a
                                  href="{{getfileUrl}}/{{ item.pathFile }}/docform"
                                  target="_blank"
                                  class="icon-pointer-toolbar"
                                  >{{ i + 1 }} . {{ item?.fileName }}</a
                                >
                                <br />
                              </ng-container>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <br />
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 0.5vw">
        <div class="col">
          <div class="card card-1">
            <div class="row">
              <div class="col">
                <div class="row" style="margin-left: 0px; margin-right: 0px">
                  <div
                    class="col-12 text-left"
                    style="height: 50px; background: #006634"
                  >
                    <h2 style="font-size: 18px; margin-top: 10px; color: #ffff">
                      ข้อมูลสถานการค้าปลีก
                    </h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3 label-custom-dropdown">
                    <label>ชื่อสถานการค้าปลีก :</label>
                  </div>
                  <div class="col-md-6 input-custom-dropdown">
                    <mat-form-field>
                      <mat-select
                        [(ngModel)]="data.refStationId"
                        [ngModelOptions]="{ standalone: true }"
                        (ngModelChange)="getDataStation(data.refStationId)"
                      >
                        <mat-option value=""
                          >---กรุณาเลือกชื่อสถานการค้าปลีก---</mat-option
                        >
                        <mat-option
                          *ngFor="let item of drpListStationByTaxNo"
                          [value]="item.id"
                        >
                          {{ item?.name }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <ng-container
                  *ngFor="let item of drpBusinessStatusList; let i = index"
                >
                  <div class="row row-from-group">
                    <div class="col-md-3 label-custom-checkbox">
                      <label *ngIf="i == 0">ความประสงค์ :</label>
                    </div>
                    <div class="input-custom-checkbox">
                      <mat-checkbox
                        (change)="
                          getDrpBusinessStatusListCheck(
                            $event.checked,
                            item.templateCode
                          )
                        "
                        [disabled]="item.IsSelect"
                        [(ngModel)]="item.selected"
                      >
                        <span style="font-size: 14.4px">{{
                          item.businessStatusName
                        }}</span>
                                                            </mat-checkbox>
                                                            &nbsp;
                                        </div>

                                        <ng-container *ngIf="item.templateCode == 'A'">
                                            <div class="title">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>วันที่เลิกกิจการ :</label>
                                            </div>
                                            <div class="col-md-2 text-left" style="bottom: 1vw">
                                                <mat-date-picker-th class="datapicker-text" [(ngModel)]="data.cancelDate" [ngModelOptions]="{ standalone: true }" matInput>
                                                </mat-date-picker-th>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="item.templateCode == 'B'">
                                            <div class="title">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>ตั้งแต่วันที่:</label>
                                            </div>
                                            <div class="col-md-2 text-left" style="bottom: 1vw">
                                                <mat-date-picker-th class="datapicker-text" [(ngModel)]="data.changeDate" [ngModelOptions]="{ standalone: true }" matInput>
                                                </mat-date-picker-th>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="item.templateCode == 'C'">
                                            <div class="title">
                                                <!-- <label>เปลี่ยนชื่อผู้สถานประกอบการค้าปลีกจาก. :</label> -->
                                                <label>จาก :</label>
                                            </div>
                                            <div class="col-md-5 text-left">
                                                <span>{{ data.ownerNameOld }}</span>
                                            </div>
                                        </ng-container>

                                        <ng-container *ngIf="item.templateCode == 'E'">
                                            <div class="title">
                                                <label>จาก :</label>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                <span> {{ data.stationNameOld }}</span>
                                            </div>
                                            <!-- <div class="text-right">
                        <label>เป็น :</label>
                      </div>
                      <div class="col-md-3 text-right" style="bottom: 1vw">
                        <mat-form-field>
                          <input
                            matInput
                            [(ngModel)]="data.stationName"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </mat-form-field>
                      </div> -->
                                        </ng-container>

                                        <ng-container *ngIf="
                        item.templateCode != 'A' &&
                        item.templateCode != 'B' &&
                        item.templateCode != 'C' &&
                        item.templateCode != 'E'
                      ">
                                            <div class="title">
                                                <label>ระบุ :</label>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                <textarea name="detail" rows="5" class="form-control" [(ngModel)]="data.other" [ngModelOptions]="{ standalone: true }"></textarea>
                                            </div>
                                        </ng-container>
                                    </div>

                                    <ng-container *ngIf="item.templateCode == 'B'">
                                        <div class="row">
                                            <div class="col-md-3 "></div>
                                            <div class="title">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>ที่อยู่เดิม:</label>
                                            </div>
                                            <div class="col-md-7 text-left">
                                                <span> {{ data.addressOld }} </span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 "></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>ที่อยู่ใหม่:</label>
                                            </div>
                                            <div class="col-md-5 text-left">
                                                <mat-form-field style="width: 510px !important">
                                                    <input matInput [(ngModel)]="data.address" [ngModelOptions]="{ standalone: true }" />
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 "></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>ซอย :</label>
                                            </div>
                                            <div class="col-md-2 text-left">
                                                <mat-form-field>
                                                    <input type="text" matInput [formControl]="myControl_Soi" [matAutocomplete]="auto_Soi" [(ngModel)]="data.soi" />
                                                    <mat-autocomplete autoActiveFirstOption #auto_Soi="matAutocomplete">
                                                        <mat-option *ngFor="let option of filteredOptions_Soi | async" [value]="option">
                                                            {{ option }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="text-right title p-t-label">
                                                <label>ถนน :</label>
                                            </div>
                                            <div class="col-md-3 text-right">
                                                <mat-form-field style="width: 280px !important">
                                                    <input type="text" matInput [formControl]="myControl_Road" [matAutocomplete]="auto_Road" [(ngModel)]="data.road" />
                                                    <mat-autocomplete autoActiveFirstOption #auto_Road="matAutocomplete">
                                                        <mat-option *ngFor="
                                let option of filteredOptions_Road | async
                              " [value]="option">
                                                            {{ option }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 "></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>รหัสไปรษณีย์ :</label>
                                            </div>
                                            <div class="col-md-2 text-left">
                                                <mat-form-field style="margin-bottom: -1vw">
                                                    <input matInput [(ngModel)]="data.postcode" (keyup)="getDrpListByPostCodeMain(data.postcode)" (keyup.enter)="
                              getDrpListByPostCodeMain(data.postcode)
                            " [ngModelOptions]="{ standalone: true }" maxlength="5" (keypress)="numberOnly($event)" />
                                                </mat-form-field>

                                                <span style="font-size: 12px">(กรอกอย่างน้อย 5 หลัก)</span
                        >
                      </div>
                      <div class="text-right title p-t-label">
                        <label>เบอร์โทรศัพท์ :</label>
                      </div>
                      <div class="col-md-2 text-right">
                        <mat-form-field style="width: 150px !important">
                          <input
                            matInput
                            [(ngModel)]="data.mobile"
                            [ngModelOptions]="{ standalone: true }"
                            (keypress)="numberOnly($event)"
                          />
                        </mat-form-field>
                      </div>
                    </div>

                    <!-- <div class="row">
                      <div class="col-md-3 text-right"></div>
                      <div class="col-md-9 table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="text-left">
                                <label>แขวง :</label> &nbsp;
                                <span style="font-weight: 400">{{
                                  data.tambonName
                                }}</span>
                                                </th>

                                                <th class="text-left">
                                                    <label>เขต :</label> &nbsp;
                                                    <span style="font-weight: 400">{{
                                  data.amphurName
                                }}</span>
                                                </th>

                                                <th class="text-left">
                                                    <label>จังหวัด :</label> &nbsp;
                                                    <span style="font-weight: 400">{{
                                  data.provinceName
                                }}</span>
                                                </th>

                                                <th class="text-center">
                                                    <a *ngIf="data.provinceName != ''" (click)="
                                    getDrpListByPostCodeMain(data.postcode)
                                  " style="color: #007bff; cursor: pointer">
                                  เปลี่ยน
                                </a>
                                                </th>
                                                </tr>
                                                </thead>
                                                <tbody *ngIf="typeData">
                                                    <tr *ngFor="
                                let item of drpListByPostCodeMain;
                                let i = index
                              " (click)="select_address_modal(item)" style="cursor: pointer">
                                                        <td class="text-left">
                                                            <span>{{ item.tambonThai }}</span>
                                                        </td>

                                                        <td class="text-left">
                                                            <span>{{ item.districtThai }}</span>
                                                        </td>

                                                        <td class="text-left">
                                                            <span>{{ item.provinceThai }}</span>
                                                        </td>

                                                        <td class="text-center">
                                                            <button matTooltip="{{ config.tooltripMsg.select }}" (click)="select_address_modal(item)" type="button" class="btn-custom btn-info-custom">
                                  เลือก
                                </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </div> -->

                                        <div class="row" style="margin-bottom: 1vw">
                                            <div class="col-md-3 text-right p-t-label"></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>แขวง : </label>
                                            </div>
                                            <div class="col-md-2 p-t-label">
                                                <span style="font-weight: 400">{{
                          data.tambonName
                        }}</span>
                                            </div>
                                            <div class="title p-t-label">
                                                <label>เขต : </label>
                                            </div>
                                            <div class="col-md-2 p-t-label">
                                                <span style="font-weight: 400">{{
                          data.amphurName
                        }}</span>
                                            </div>
                                            <div class="title p-t-label">
                                                <label>จังหวัด : </label>
                                            </div>
                                            <div class="col-md-2 p-t-label">
                                                <span style="font-weight: 400">{{
                          data.provinceName
                        }}</span>
                                            </div>

                                            <div class="p-t-label">
                                                <!-- <a
                          *ngIf="data.provinceName != ''"
                          (click)="getDrpListByPostCodeMain(data.postcode)"
                          style="color: #007bff; cursor: pointer"
                        >
                          เปลี่ยน
                        </a> -->

                                                <button *ngIf="data.provinceName != ''" (click)="getDrpListByPostCodeMain(data.postcode)" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw; vertical-align: top;" matTooltip="{{ config.tooltripMsg.change }}">
                          เปลี่ยน
                        </button>
                                            </div>
                                        </div>

                                        <ng-container *ngIf="typeData">
                                            <ng-container *ngFor="
                          let item of drpListByPostCodeMain;
                          let i = index
                        ">
                                                <div class="row row-from-group">
                                                    <div class="col-md-3 text-right"></div>
                                                    <div class="col-md-2 p-t-label p-t-label" style="cursor: pointer" (click)="select_address_modal(item)">
                                                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                        <span class="demo-card--step{{ i + 1 }}" style="font-weight: 400">&nbsp; &nbsp;{{ item.tambonThai }}</span
                            >
                          </div>
                          <div class="p-t-label">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                            &nbsp;
                          </div>
                          <div
                            class="col-md-2 p-t-label"
                            style="cursor: pointer"
                            (click)="select_address_modal(item)"
                          >
                            <span style="font-weight: 400">{{
                              item.districtThai
                            }}</span>
                                                    </div>
                                                    <div class="p-t-label">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </div>
                                                    <div class="col-md-3 p-t-label" style="cursor: pointer" (click)="select_address_modal(item)">
                                                        <span style="font-weight: 400">{{
                              item.provinceThai
                            }}</span>
                                                    </div>
                                                </div>

                                                <div class="row row-from-group">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-8">
                                                        <hr width="100%" size="5" color="#e9ecef" />
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf="item.templateCode == 'C'">
                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>เป็น :</label>
                                            </div>
                                            <div class="col-md-5 text-left">
                                                <mat-form-field style="width: 540px !important">
                                                    <input matInput [(ngModel)]="data.ownerName" [ngModelOptions]="{ standalone: true }" />
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>เลขที่ประจำตัวผู้เสียภาษีอากร :</label>
                                            </div>
                                            <div class="col-md-2 text-left">
                                                <mat-form-field>
                                                    <input matInput [(ngModel)]="data.taxNo" [ngModelOptions]="{ standalone: true }" />
                                                </mat-form-field>
                                            </div>
                                            <div class="title p-t-label">
                                                <label>เนื่องจาก :</label>
                                            </div>
                                            <div class="col-md-2 text-right">
                                                <mat-form-field>
                                                    <input matInput [(ngModel)]="data.cause" [ngModelOptions]="{ standalone: true }" />
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>ที่อยู่ :</label>
                                            </div>
                                            <div class="col-md-5 text-left">
                                                <mat-form-field style="width: 540px !important">
                                                    <input matInput [(ngModel)]="data.addressRetail" [ngModelOptions]="{ standalone: true }" />
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>ซอย :</label>
                                            </div>
                                            <div class="col-md-2 text-left">
                                                <mat-form-field>
                                                    <input type="text" matInput [formControl]="myControl_Soi_Retail" [matAutocomplete]="auto_Soi_Retail" [(ngModel)]="data.soiRetail" />
                                                    <mat-autocomplete autoActiveFirstOption #auto_Soi_Retail="matAutocomplete">
                                                        <mat-option *ngFor="
                                let option of filteredOptions_Soi_Retail | async
                              " [value]="option">
                                                            {{ option }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                            <div class="text-right title p-t-label">
                                                <label>ถนน :</label>
                                            </div>
                                            <div class="col-md-3 text-right">
                                                <mat-form-field>
                                                    <input type="text" matInput [formControl]="myControl_Road_Retail" [matAutocomplete]="auto_Road_Retail" [(ngModel)]="data.roadRetail" />
                                                    <mat-autocomplete autoActiveFirstOption #auto_Road_Retail="matAutocomplete">
                                                        <mat-option *ngFor="
                                let option of filteredOptions_Road_Retail
                                  | async
                              " [value]="option">
                                                            {{ option }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <div class="title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>รหัสไปรษณีย์ :</label>
                                            </div>
                                            <div class="col-md-2 text-left">
                                                <mat-form-field style="margin-bottom: -1vw">
                                                    <input matInput [(ngModel)]="data.postcodeRetail" (keyup)="
                              getDrpListByPostCodeMain_Retail(
                                data.postcodeRetail
                              )
                            " (keyup.enter)="
                              getDrpListByPostCodeMain_Retail(
                                data.postcodeRetail
                              )
                            " [ngModelOptions]="{ standalone: true }" maxlength="5" (keypress)="numberOnly($event)" />
                                                </mat-form-field>

                                                <span style="font-size: 12px">(กรอกอย่างน้อย 5 หลัก)</span
                        >
                      </div>
                      <div class="title p-t-label">
                        <label>เบอร์โทรศัพท์ :</label>
                      </div>
                      <div class="col-md-2 text-right">
                        <mat-form-field style="width: 160px !important">
                          <input
                            matInput
                            [(ngModel)]="data.mobileRetail"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </mat-form-field>
                      </div>
                    </div>

                    <!-- <div class="row">
                      <div class="col-md-3 text-right"></div>
                      <div class="col-md-9 table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="text-left">
                                <label>แขวง :</label> &nbsp;
                                <span style="font-weight: 400">{{
                                  data.tambonNameRetail
                                }}</span>
                                                </th>

                                                <th class="text-left">
                                                    <label>เขต :</label> &nbsp;
                                                    <span style="font-weight: 400">{{
                                  data.amphurNameRetail
                                }}</span>
                                                </th>

                                                <th class="text-left">
                                                    <label>จังหวัด :</label> &nbsp;
                                                    <span style="font-weight: 400">{{
                                  data.provinceNameRetail
                                }}</span>
                                                </th>

                                                <th class="text-center">
                                                    <a *ngIf="data.provinceNameRetail != ''" (click)="
                                    getDrpListByPostCodeMain_Retail(
                                      data.postcodeRetail
                                    )
                                  " style="color: #007bff; cursor: pointer">
                                  เปลี่ยน
                                </a>
                                                </th>
                                                </tr>
                                                </thead>
                                                <tbody *ngIf="typeData">
                                                    <tr *ngFor="
                                let item of drpListByPostCodeMainRetail;
                                let i = index
                              " (click)="select_address_modal_Retail(item)" style="cursor: pointer">
                                                        <td class="text-left">
                                                            <span>{{ item.tambonThai }}</span>
                                                        </td>

                                                        <td class="text-left">
                                                            <span>{{ item.districtThai }}</span>
                                                        </td>

                                                        <td class="text-left">
                                                            <span>{{ item.provinceThai }}</span>
                                                        </td>

                                                        <td class="text-center">
                                                            <button matTooltip="{{ config.tooltripMsg.select }}" (click)="select_address_modal_Retail(item)" type="button" class="btn-custom btn-info-custom">
                                  เลือก
                                </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                        </div> -->

                                        <div class="row" style="margin-bottom: 1vw">
                                            <div class="col-md-3 text-right p-t-label"></div>
                                            <div class="text-left title p-t-label">
                                                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                <label>แขวง : </label>
                                            </div>
                                            <div class="col-md-2 p-t-label">
                                                <span style="font-weight: 400">{{
                          data.tambonNameRetail
                        }}</span>
                                            </div>
                                            <div class="title p-t-label">
                                                <label>เขต : </label>
                                            </div>
                                            <div class="col-md-2 p-t-label">
                                                <span style="font-weight: 400">{{
                          data.amphurNameRetail
                        }}</span>
                                            </div>
                                            <div class="title p-t-label">
                                                <label>จังหวัด : </label>
                                            </div>
                                            <div class="col-md-2 p-t-label">
                                                <span style="font-weight: 400">{{
                          data.provinceNameRetail
                        }}</span>
                                            </div>

                                            <div class="p-t-label">
                                                <button *ngIf="data.provinceNameRetail != ''" (click)="
                            getDrpListByPostCodeMain_Retail(data.postcodeRetail)
                          " type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.change }}">
                          เปลี่ยน
                        </button>
                                            </div>
                                        </div>

                                        <ng-container *ngIf="typeData">
                                            <ng-container *ngFor="
                          let item of drpListByPostCodeMainRetail;
                          let i = index
                        ">
                                                <div class="row row-from-group">
                                                    <div class="col-md-3 text-right"></div>
                                                    <div class="col-md-2 p-t-label p-t-label" style="cursor: pointer" (click)="select_address_modal_Retail(item)">
                                                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                                                        <span class="demo-card--step{{ i + 1 }}" style="font-weight: 400">&nbsp; &nbsp;{{ item.tambonThai }}</span
                            >
                          </div>
                          <div class="p-t-label">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                            &nbsp;
                          </div>
                          <div
                            class="col-md-2 p-t-label"
                            style="cursor: pointer"
                            (click)="select_address_modal_Retail(item)"
                          >
                            <span style="font-weight: 400">{{
                              item.districtThai
                            }}</span>
                                                    </div>
                                                    <div class="p-t-label">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </div>
                                                    <div class="col-md-3 p-t-label" style="cursor: pointer" (click)="select_address_modal_Retail(item)">
                                                        <span style="font-weight: 400">{{
                              item.provinceThai
                            }}</span>
                                                    </div>
                                                </div>

                                                <div class="row row-from-group">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-8">
                                                        <hr width="100%" size="5" color="#e9ecef" />
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf="item.templateCode == 'E'">
                                        <div class="row">
                                            <div class="col-md-3 text-right"></div>
                                            <!-- <div class="text-right p-t-label">
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                        <label>จาก :</label>
                      </div>
                      <div class="col-md-3 text-left p-t-label">
                        <span> {{ data.stationNameOld }}</span>
                      </div> -->
                                            <div class="title p-t-label">
                                                <label>เป็น :</label>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <mat-form-field>
                                                    <input matInput [(ngModel)]="data.stationName" [ngModelOptions]="{ standalone: true }" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="
                      item.templateCode != 'A' &&
                      item.templateCode != 'B' &&
                      item.templateCode != 'C' &&
                      item.templateCode != 'E'
                    ">
                                        <!-- <div class="row">
                      <div class="col-md-3 text-right"></div>
                      <div class="text-right p-t-label">
                        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                        <label>ระบุ :</label>
                      </div>
                      <div class="col-md-6 text-left">
                        <textarea
                          name="detail"
                          rows="5"
                          class="form-control"
                          [(ngModel)]="data.other"
                          [ngModelOptions]="{ standalone: true }"
                        ></textarea>
                      </div>
                    </div> -->
                                    </ng-container>
                        </ng-container>
                        </div>
                        </div>

                        <div class="row" style="margin-top: 1.5vw">
                            <div class="col-md-12 text-left" style="margin-left: 2vw">
                                <h2 style="color: #053a1d; font-size: 18px">
                                    ในวันที่ขอเลิก/ย้าย/เปลี่ยนแปลงกิจการมี
                                </h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="title p-t-label" style="margin-left: 3vw">
                                <label>1. ภาษีค้างชำระตามบัญชีแนบ</label>
                            </div>
                            <div class="col-md-2 text-left">
                                <mat-form-field>
                                    <input matInput class="text-right number-input" [(ngModel)]="data.taxRemain" [textMask]="{ mask: currencyMask }" [ngModelOptions]="{ standalone: true }" (keypress)="numberComaOnly($event)" />
                                </mat-form-field>
                            </div>
                            <div class="title p-t-label">
                                <label>บาท</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="title p-t-label" style="margin-left: 3vw">
                                <label>2.
                  น้ำมัน/ก๊าซปิโตรเลียมที่ยังไม่ได้ชำระภาษีตามบัญชีแนบ</label
                >
              </div>
              <div class="col-md-2 text-left">
                <mat-form-field>
                  <input
                    matInput
                    class="text-right number-input"
                    [(ngModel)]="data.taxOilGas"
                    [textMask]="{ mask: currencyMask }"
                    [ngModelOptions]="{ standalone: true }"
                    (keypress)="numberComaOnly($event)"
                  />
                </mat-form-field>
              </div>
              <div class="title p-t-label">
                <label>บาท</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 title p-t-label">
                                <label>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</label>
                            </div>
                            <div class="col-md-7 text-left p-t-label">
                                <textarea name="detail" rows="5" class="form-control"></textarea>
                            </div>
                        </div>

                        <!-- <div class="row" style="margin-top: 0.5vw">
              <div class="col-md-12 text-left" style="margin-left: 2vw">
                <label
                  style="
                    color: #053a1d;
                    font-size: 18px;
                    font-weight: 600 !important;
                  "
                >
                  เอกสารประกอบs
                </label>
              </div>
            </div> -->

                        <div class="row" style="margin-top: 1.5vw">
                            <div class="col-md-12 text-left" style="margin-left: 2vw">
                                <h2 style="color: #053a1d; font-size: 18px">เอกสารประกอบ</h2>
                            </div>
                        </div>

                        <div class="row" style="padding-left: 1vw; padding-right: 1vw">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center col-orderby">
                                                <label>ลำดับ</label>
                                            </th>
                                            <th class="text-center col-name-doc-pn01">
                                                <label>รายการเอกสาร</label>
                                            </th>
                                            <th class="text-center col-quantity-doc-pn01">
                                                <label>จำนวน (แผ่น)</label>
                                            </th>
                                            <th class="text-center col-name">
                                                <label>เอกสารแนบ</label>
                                            </th>
                                            <th class="text-center col-orderby"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <span>1</span>
                                            </td>
                                            <td class="text-left">
                                                <span style="color: red">*</span>
                                                <span>สำเนาหนังสือรับรองของกระทรวงพาณิชย์ <br />
                          (ที่ออกให้ไม่เกิน 6 เดือน)</span
                        >
                      </td>
                      <td class="text-left">
                        <mat-form-field
                          style="top: 1vw; width: 90px !important"
                        >
                          <input
                            class="text-right number-input"
                            [textMask]="{ mask: currencyMask }"
                            matInput
                            [(ngModel)]="data.fileNumE"
                            [ngModelOptions]="{ standalone: true }"
                            (keypress)="numberOnly($event)"
                          />
                        </mat-form-field>
                      </td>
                      <td class="text-left icon-pointer-toolbar">
                        <ng-container
                          *ngFor="
                            let item of data.commerceFileList;
                            let i = index
                          "
                        >
                          <a
                            href="{{ item.ShowFile }}"
                            target="_blank"
                            class="icon-pointer-toolbar"
                            >{{ i + 1 }} . {{ item?.pathFileName }}</a
                          >
                          &nbsp;&nbsp;

                          <button
                            matTooltip="{{ config.tooltripMsg.delete }}"
                            (click)="
                              removeFiles_commerceFileList(item.pathFile, i)
                            "
                            type="button"
                            class="btn-custom btn-info-custom"
                          >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                          <br />
                        </ng-container>
                      </td>
                      <td class="text-center icon-pointer-toolbar">
                        <button
                          (click)="clickFileImage_commerceFileList()"
                          matTooltip="แนบไฟล์"
                          type="button"
                          class="btn-custom btn-info-custom"
                        >
                          แนบไฟล์
                        </button>

                        <input
                          ng2FileSelect
                          (change)="fileOverBase_commerceFileList($event)"
                          [uploader]="uploader_commerceFileList"
                          type="file"
                          multiple
                          id="fileImage_commerceFileList"
                          class="custom-file-input hidden"
                          name="fileImage"
                          accept=".pdf, .doc, .docx, .xlsx, .xls"
                          title=" "
                        />
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <span>2</span>
                                            </td>
                                            <td class="text-left">
                                                <span>หนังสือมอบอำนาจและสำเนาบัตรประจำตัวประชาชนผู้รับมอบอำนาจ
                        </span>
                                            </td>
                                            <td class="text-left">
                                                <mat-form-field style="top: 1vw; width: 90px !important">
                                                    <input class="text-right number-input" [textMask]="{ mask: currencyMask }" matInput [(ngModel)]="data.fileNumA" [ngModelOptions]="{ standalone: true }" (keypress)="numberOnly($event)" />
                                                </mat-form-field>
                                            </td>
                                            <td class="text-left icon-pointer-toolbar">
                                                <ng-container *ngFor="
                            let item of data.authorizeFileList;
                            let i = index
                          ">
                                                    <a href="{{ item.ShowFile }}" target="_blank" class="icon-pointer-toolbar">{{ i + 1 }} . {{ item?.pathFileName }}</a
                          >
                          &nbsp;&nbsp;

                          <button
                            matTooltip="{{ config.tooltripMsg.delete }}"
                            (click)="
                              removeFiles_authorizeFileList(item.pathFile, i)
                            "
                            type="button"
                            class="btn-custom btn-info-custom"
                          >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                          <br />
                        </ng-container>
                      </td>
                      <td class="text-center icon-pointer-toolbar">
                        <button
                          (click)="clickFileImage_authorizeFileList()"
                          matTooltip="แนบไฟล์"
                          type="button"
                          class="btn-custom btn-info-custom"
                        >
                          แนบไฟล์
                        </button>

                        <input
                          ng2FileSelect
                          (change)="fileOverBase_authorizeFileList($event)"
                          [uploader]="uploader_authorizeFileList"
                          type="file"
                          multiple
                          id="fileImage_authorizeFileList"
                          class="custom-file-input hidden"
                          name="fileImage"
                          accept=".pdf, .doc, .docx, .xlsx, .xls"
                          title=" "
                        />
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <span>3</span>
                      </td>
                      <td class="text-left">
                        <span style="color: red">*</span>
                        <span
                          >บัญชีสินค้าน้ำมัน/ก๊าซปิโตรเลียมและบัญชีรายการค้างชำระภาษี
                          <br />(กรณี ขอเลิก/ย้าย/เปลี่ยนแปลงกิจการ)</span
                        >
                      </td>
                      <td class="text-left">
                        <mat-form-field
                          style="top: 1vw; width: 90px !important"
                        >
                          <input
                            class="text-right number-input"
                            [textMask]="{ mask: currencyMask }"
                            matInput
                            [(ngModel)]="data.fileNumR"
                            [ngModelOptions]="{ standalone: true }"
                            (keypress)="numberOnly($event)"
                          />
                        </mat-form-field>
                      </td>
                      <td class="text-left icon-pointer-toolbar">
                        <ng-container
                          *ngFor="
                            let item of data.taxRemainFileList;
                            let i = index
                          "
                        >
                          <a
                            href="{{ item.ShowFile }}"
                            target="_blank"
                            class="icon-pointer-toolbar"
                            >{{ i + 1 }} . {{ item?.pathFileName }}</a
                          >
                          &nbsp;&nbsp;

                          <button
                            matTooltip="{{ config.tooltripMsg.delete }}"
                            (click)="
                              removeFiles_taxRemainFileList(item.pathFile, i)
                            "
                            type="button"
                            class="btn-custom btn-info-custom"
                          >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                          <br />
                        </ng-container>
                      </td>
                      <td class="text-center icon-pointer-toolbar">
                        <button
                          (click)="clickFileImage_taxRemainFileList()"
                          matTooltip="แนบไฟล์"
                          type="button"
                          class="btn-custom btn-info-custom"
                        >
                          แนบไฟล์
                        </button>

                        <input
                          ng2FileSelect
                          (change)="fileOverBase_taxRemainFileList($event)"
                          [uploader]="uploader_taxRemainFileList"
                          type="file"
                          multiple
                          id="fileImage_taxRemainFileList"
                          class="custom-file-input hidden"
                          name="fileImage"
                          accept=".pdf, .doc, .docx, .xlsx, .xls"
                          title=" "
                        />
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <span>4</span>
                      </td>
                      <td class="text-left">
                        <span>เอกสารอื่น ๆ</span>
                      </td>
                      <td class="text-left">
                        <mat-form-field
                          style="top: 1vw; width: 90px !important"
                        >
                          <input
                            class="text-right number-input"
                            [textMask]="{ mask: currencyMask }"
                            matInput
                            [(ngModel)]="data.fileNumO"
                            [ngModelOptions]="{ standalone: true }"
                            (keypress)="numberOnly($event)"
                          />
                        </mat-form-field>
                      </td>
                      <td class="text-left icon-pointer-toolbar">
                        <ng-container
                          *ngFor="let item of data.otherFileList; let i = index"
                        >
                          <a
                            href="{{ item.ShowFile }}"
                            target="_blank"
                            class="icon-pointer-toolbar"
                            >{{ i + 1 }} . {{ item?.pathFileName }}</a
                          >
                          &nbsp;&nbsp;

                          <button
                            matTooltip="{{ config.tooltripMsg.delete }}"
                            (click)="
                              removeFiles_otherFileList(item.pathFile, i)
                            "
                            type="button"
                            class="btn-custom btn-info-custom"
                          >
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                          <br />
                        </ng-container>
                      </td>
                      <td class="text-center icon-pointer-toolbar">
                        <button
                          (click)="clickFileImage_otherFileList()"
                          matTooltip="แนบไฟล์"
                          type="button"
                          class="btn-custom btn-info-custom"
                        >
                          แนบไฟล์
                        </button>

                        <input
                          ng2FileSelect
                          (change)="fileOverBase_otherFileList($event)"
                          [uploader]="uploader_otherFileList"
                          type="file"
                          multiple
                          id="fileImage_otherFileList"
                          class="custom-file-input hidden"
                          name="fileImage"
                          accept=".pdf, .doc, .docx, .xlsx, .xls"
                          title=" "
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- <div class="row form-group">
              <div class="col-md-12 text-center">
                <mat-checkbox>
                  &nbsp;
                  ข้าพเจ้าขอรับรองว่ารายการที่แสดงไว้เป็นความจริงทุกประการ
                </mat-checkbox>

                &nbsp;&nbsp;
              </div>
            </div> -->

            <div class="row justify-content-center">
              <button
                type="button"
                class="btn btn-success1 width-button"
                (click)="validation_form()"
              >
                บันทึก
              </button>
              <button
                type="button"
                class="btn btn-danger width-button"
                style="margin-left: 10px"
                (click)="cancel()"
              >
                ยกเลิก
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>