<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 8vw">
  <div class="content">
    <div class="header-wrapper header-sm">
      <header class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>จัดการผู้ดูแล</h1>
          </div>
        </div>
      </header>
    </div>
    <div class="content-body" style="padding: 0px; padding-top: 0.5vw">
      <div class="card">
        <ng-container *ngIf="data.taxNo != ''">
          <div class="row">
            <div class="col-md-12 text-left p-t-label">
              <label style="font-size: 18px; margin-left: 3vw"
                >ผู้ประกอบที่ดูแล</label
              >
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 text-right p-t-label">
              <label style="font-size: 18px">ชื่อผู้ประกอบการ : </label>
            </div>
            <div class="col-md-9 p-t-label">
              <label style="font-size: 18px">{{ data.ownerName }}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 text-right p-t-label">
              <label style="font-size: 18px">เลขประจำตัวเสียภาษีอาการ : </label>
            </div>
            <div class="col-md-3 p-t-label">
              <label style="font-size: 18px">{{ data.taxNo }}</label>
            </div>
            <div class="text-right p-t-label">
              <label style="font-size: 18px">ประเภทผู้เสียภาษี : </label>
            </div>
            <div class="col-md-4 p-t-label">
              <label style="font-size: 18px">{{ data.customerType }}</label>
            </div>
          </div>

          <div class="row" style="margin-top: 1.5vw">
            <div class="text-left p-t-label">
              <label style="font-size: 18px; margin-left: 3vw"
                >ผู้มีสิทธิ์จัดการผู้ประกอบการ</label
              >
              <br />
              <label
                *ngIf="data.taxNo == ''"
                style="font-size: 14px; color: red !important; margin-left: 1vw"
                >* หมายเหตุ ผู้สมัครจะต้องลงทะเบียน ภน.01</label
              >
            </div>

            <div class="col-md-3" *ngIf="data.taxNo != ''">
              <button
                (click)="addcheckEmail()"
                type="button"
                class="btn btn-info width-button"
              >
                เพิ่มผู้ดูแล
              </button>
            </div>
          </div>

          <div class="card-block">
            <div class="row" style="margin: 30px">
              <div class="col-md-12 table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="text-center" style="width: 10px">ลำดับ</th>
                      <th class="text-center">อีเมล์</th>
                      <th class="text-center">วันที่สร้าง</th>
                      <th class="text-center" style="width: 200px">จัดการ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of data.memberList; let i = index">
                      <td class="text-center icon-pointer-toolbar">
                        <span style="cursor: pointer">{{ i + 1 }}</span>
                      </td>

                      <td class="text-left icon-pointer-toolbar">
                        <mat-form-field *ngIf="!item.submit">
                          <input
                            matInput
                            [(ngModel)]="item.email"
                            [ngModelOptions]="{ standalone: true }"
                          />
                        </mat-form-field>

                        <span
                          *ngIf="item.submit"
                          class="icon-pointer-toolbar"
                          >{{ item?.email }}</span
                        >
                      </td>

                      <td class="text-center icon-pointer-toolbar">
                        <span
                          *ngIf="item.submit"
                          class="icon-pointer-toolbar"
                          >{{ item?.createdDate }}</span
                        >

                        <span *ngIf="!item.submit" class="icon-pointer-toolbar"
                          >-</span
                        >
                      </td>
                      <td class="text-center icon-pointer-toolbar">
                        <button
                          *ngIf="!item.submit"
                          (click)="checkEmail(i)"
                          type="button"
                          class="btn-custom btn-info-custom"
                          style="margin-right: 0.5vw"
                          matTooltip="{{ config.tooltripMsg.delete }}"
                        >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          ยืนยัน
                        </button>

                        <button
                          (click)="remove_memberList(i)"
                          type="button"
                          class="btn-custom btn-info-custom"
                          style="margin-right: 0.5vw"
                          matTooltip="{{ config.tooltripMsg.delete }}"
                        >
                          <i class="fa fa-trash" aria-hidden="true"></i>
                          ลบ
                        </button>
                      </td>
                    </tr>
                    <tr *ngIf="data.memberList.length == 0">
                      <td colspan="4" class="text-center icon-pointer-toolbar">
                        <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row justify-content-center btn-margin-bottom-20">
            <button
              (click)="onSubmit()"
              type="button"
              class="btn btn-info width-button"
            >
              บันทึก
            </button>
            <button
              (click)="cancle()"
              type="button"
              class="btn btn-danger width-button"
            >
              ยกเลิก
            </button>
          </div>
        </ng-container>

        <ng-container *ngIf="data.taxNo == ''">
          <div class="row">
            <div class="col-md-12 text-center p-t-label">
              <label style="font-size: 18px; margin-left: 3vw"
                >ไม่พบข้อมูลผู้ประกอบการที่ลงทะเบียนไว้</label
              >
              <br />
              <label style="font-size: 18px; margin-left: 3vw"
                >กรุณาทำการยื่นแบบ ภน. 01 ก่อน</label
              >
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
