/* AppComponent's private CSS styles */
:host /deep/ {
  .content-full-wrapper {
    .content {
      .header-wrapper {
        padding-top: 0px;
        margin-top: 40px;
        margin-left: 0px;
      }

      h1 {
        padding: 22.5px 30px;
        margin: 0;
      }
      .content-body {
        padding: 30px;
        margin-left: 0px;
      }
    }
  }
}

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #4c6561;
  background-color: #cfd8dc;
}
nav a.active {
  color: #4c6561;
}

:host /deep/ {
  .card {
    margin-bottom: 0px !important;
  }

  .card-image {
    //border: none !important;
    background: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    //margin-bottom: 30px;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  /* icon */
  .fa {
    font-size: 20px;
    //padding-top: 20px;
  }

  .fa-trash,
  .mat-icons-add {
    cursor: pointer;
  }

  // .btn-default {
  //   .fa-calendar {
  //     position: absolute;
  //     right: 0;
  //   }
  // }

  .zmdi {
    font-size: 20px;
  }

  .mat-icons-add {
    color: #42a5f5;
  }

  .icon-toolbar {
    font-size: 20px;
    padding-right: 12px;
  }

  a.icon {
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 37px;
    font-size: 22px;

    &:hover {
      background: #688696;
      color: #fff;
    }
  }

  /* button */
  .btn.btn-info.btn-fab.mat-ripple {
    position: fixed;
    bottom: 5%;
    right: 2%;
  }
  .width-button {
    width: 130px;
  }

  .btn.btn-success {
    background-color: #006634 !important;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* content */
  // .card {
  //   padding-right: 50px;
  // }
  .card-table-left {
    height: 350px;
    overflow-y: auto;
  }

  ///////// scrollbar ///////////
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #919ba8;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  .card-content {
    background-color: unset !important;
  }
  .card-block {
    padding-top: 0px;
    background-color: white !important;
  }

  .label-radio:disabled {
    border-bottom: rgba(144, 133, 133, 0.38) 1px solid;
  }

  .table-nav-list {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header-content {
    padding-right: 10px;
  }

  input,
  p,
  span,
  textarea {
    font-size: 16px !important;
  }

  label {
    // font-size: 0.9em;
    font-size: 16px !important;
    font-weight: bold !important;
    color: #000000 !important;
    // font-weight: 600;
    text-transform: unset;
    text-align: right;
    padding: 0px 0px 0px 0px !important;
  }
  .mat-input-placeholder {
    color: #000000 !important;
    font-size: 0.9em !important;
  }
  
  .input-datepicker{
    padding-top: 3px;
  }

  mat-option {
    .mat-option-text {
      font-size: 0.9em !important;
    }
  }
  mat-select{
    span{
      line-height: 2.0em;;
      font-size: 16px !important;//12
    }
  }


  .p-t-label {
    padding-top: 18px;
  }
  .p-t-18 {
    padding-top: 18px;
  }
  .p-r-0 {
    padding-right: 0px;
  }

  .style-search {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #e3ecf7;
  }
  /* table */
  .table {
    font-size: 0.9em;
  }
  mat-checkbox {
    .mat-checkbox-layout {
      margin-bottom: 5px !important;
    }
  }
  .table thead th {
    border-top: 0px;
  }
  .table td,
  .table th {
    border-bottom: 1px solid #e9ecef;
    padding-left: 0px;
    vertical-align: middle;
  }

  .table {
    color: unset !important;
  }
  /*pagine*/
  .page-link {
    border: 0px !important;
  }
  .page-item.active .page-link {
    background-color: lightgrey;
  }
}

/* style disable drp */
::ng-deep .mat-select-disabled .mat-select-value {
  color: rgba(0, 0, 0, 0.38) !important;
}

/* style dropdown */
::ng-deep .mat-option-text {
  font-size: 0.9em !important;
}

/* style text box */
::ng-deep .mat-input-element {
  caret-color: unset !important;
}

/* style modal */
::ng-deep .modal-header {
  font-size: 1.2rem !important;
  .fa-times {
    cursor: pointer;
  }
}
::ng-deep .modal-content {
  width: 70vw;
}

::ng-deep .modal-dialog {
  margin-left: 15% !important;
}

::ng-deep .alert-success {
  label {
    color: white !important;
  }
}

::ng-deep .alert-danger {
  label {
    color: white !important;
  }
}

::ng-deep .swal2-modal .swal2-confirm {
  background-color: rgb(0, 102, 52) !important;
}

::ng-deep .swal2-modal .swal2-cancel {
  background-color: rgb(239, 83, 80) !important;
}

::ng-deep .modal-body {
  overflow-y: auto;
  overflow-x: auto;

  /*pagine*/
  .page-link {
    border: 0px;
  }
  .page-item.active .page-link {
    background-color: lightgrey;
  }

  .btn.btn-success {
    background-color: #006634 !important;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .width-button {
    width: 130px;
  }

  // label {
  //   font-weight: 600 !important;
  // }
  .mat-select {
    line-height: 1.8em !important;
    border-bottom: grey 1px solid;
  }
  .mat-select-disabled {
    border-bottom: rgba(144, 133, 133, 0.38) 1px solid !important;
  }
  .mat-input-element:disabled {
    border-bottom: rgba(144, 133, 133, 0.38) 1px solid !important;
  }
  .mat-input-element {
    border-bottom: grey 1px solid;
    caret-color: lightgrey !important;
  }
  .mat-input-element:focus {
    border-bottom: #006634 1px solid;
  }

  .table thead th {
    border-top: 0px;
  }
  .table td,
  .table th {
    border-bottom: 1px solid #e9ecef;
    padding-left: 0px;
    vertical-align: middle;
  }
  .mat-icons-add {
    color: #42a5f5;
  }
  a.icon {
    border: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 37px;
    font-size: 22px;

    &:hover {
      background: #688696;
      color: #fff;
    }
  }

  .input-datepicker {
    width: 150px !important;
  }
  .table {
    color: unset !important;
  }
}

::ng-deep .modal-lg {
  min-width: 800px;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  border: #ececec 0.5px solid !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

::ng-deep .mat-list-item-content {
  border-bottom: 0px !important;
}

::ng-deep .mat-list-item {
  font-family: unset;
}

::ng-deep .input-datepicker {
  width: 100% !important;
}

::ng-deep .datapicker-text {
  .mat-dp {
    .btn {
      .fa-calendar {
        position: absolute !important;
        padding-top: 5px !important;
      }
    }
  }
  .table thead th {
    border-top: 0px !important;
  }
  .table td,
  .table th {
    border-bottom: 1px solid #e9ecef !important;
    padding-left: 0px !important;
    vertical-align: middle !important;
  }
}

//pagination
::ng-deep .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black !important;
  background-color: #fff;
  border: 0px solid #dee2e6 !important;
}

::ng-deep .page-item.active .page-link {
  z-index: 1 !important;
  color: black !important;
  background-color: lightgrey !important;
  // border-color: #007bff;
}

//////////////////// auto complete /////////////
::ng-deep .mat-autocomplete-panel {
  width: unset !important;
}
::ng-deep .mat-option {
  .mat-option-text {
    overflow: unset !important;
    width: unset !important;
  }
}

::ng-deep .mat-autocomplete-panel-above {
  width: unset !important;
}

::ng-deep .cdk-overlay-pane {
  width: unset !important;
}

th {
  vertical-align: top !important;

}

td {
  vertical-align: top !important;

}
