<div
  *ngIf="showLogin"
  class="d-flex justify-content-center align-items-center"
  style="margin-top: 5vw"
>
  <div id="login_wrapper" class="row col-md-12 justify-content-center">
    <section id="login_content" >
      <div class="logo text-center">
        <img
          src="assets/img/logo/bkk_logo_bgwrite.png"
          alt="logo"
          class="logo-img"
          style="width: 140px; height: 180px"
        />
      </div>

      <div class="login-body">
        <h1
          class="login-title"
          style="font-size: 25px !important; color: #053a1d"
        >
          ตั้งรหัสผ่านใหม่
        </h1>
        <br />
        <h1
          class="login-title"
          style="font-size: 23px !important; color: #053a1d"
        >
          ระบบชำระภาษีบำรุงกรุงเทพมหานคร
        </h1>
        <h2
          class="login-title text-center"
          style="font-size: 20px !important; padding-top: 10px; color: #305b43"
        >
          สำหรับน้ำมันเบนซินและน้ำมันที่คล้ายกัน<br />
          น้ำมันดีเซลและน้ำมันที่คล้ายกัน<br />
          และก๊าซปิโตรเลียมจากสถานการค้าปลีก
        </h2>

        <form
          class="form-horizontal"
          (keyup.enter)="validateFromgruop()"
          name="formData"
          #formData="ngForm"
          style="margin-top: 5vh"
        >
          <!-- <div class="form-group row">
            <label class="sr-only"> Username</label>
            <div class="col-md">
              <mat-form-field floatPlaceholder="never">
                <span>รหัสผ่านใหม่</span>
                <input
                  style="margin-top: 1vw; font-size: 18px"
                  matInput
                  name="password"
                  [(ngModel)]="model.password"
                  #username="ngModel"
                />
              </mat-form-field>


            </div>
          </div> -->
          <mat-form-field floatPlaceholder="never">
            <!-- <span> {{ "authen.login.password" | translate }}</span> -->
            <span>รหัสผ่าน</span>
            <!-- <input
              matInput
              id="mysecretpassword"
              name="password"
              [(ngModel)]="model.password"
              [ngModelOptions]="{ standalone: true }"
              #password="ngModel"
              type="password"
              passwordToggle
            /> -->
            <input
              style="margin-top: 1vw; font-size: 18px"
              id="password"
              matInput
              type="password"
              [(ngModel)]="model.password"
              [ngModelOptions]="{ standalone: true }"
              #passwordField
            />
            <button
              style="font-size: 24px; top: 2vw"
              mat-icon-button
              type="button"
              (click)="
                passwordField.type === 'password'
                  ? (passwordField.type = 'text')
                  : (passwordField.type = 'password')
              "
              matSuffix
            >
              <mat-icon *ngIf="passwordField.type === 'password'"
                >visibility</mat-icon
              >
              <mat-icon *ngIf="passwordField.type === 'text'"
                >visibility_off</mat-icon
              >
            </button>
          </mat-form-field>
          <div class="row" style="padding-left: 13px; padding-right: 13px">
            <button
              mat-ripple
              (click)="onSubmit()"
              class="btn col-md"
              style="background-color: #057a55; color: #fff"
              type="button"
            >
              <!-- {{ "authen.login.login" | translate }} -->
              ตกลง
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
