<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>แบบยื่นแสดงรายการภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมัน (ภน.03)</h1>
                    </div>
                </div>
            </header>
        </div>
        <div class="content-body" style="padding-top: 0px">
            <div class="row" style="margin-top: 0.5vw">
                <div class="col">
                    <div class="card-1">
                        <div class="row" (click)="panelOpenState = !panelOpenState" style="margin-left: 0px; margin-right: 0px; cursor: pointer">
                            <div class="col-12 text-left" style="height: 50px; background: #006634">
                                <h2 style="font-size: 18px; margin-top: 10px; color: #ffff">
                                    <i *ngIf="!panelOpenState" style="font-size: 24px; color: white !important" class="fa fa-plus-circle"></i>

                                    <i *ngIf="panelOpenState" style="font-size: 24px; color: white !important" class="fa fa-minus-circle"></i> &nbsp; ข้อมูลผู้ประกอบการ
                                </h2>
                            </div>
                        </div>

                        <ng-container *ngIf="panelOpenState" class="fade-in-out">
                            <div class="row" style="margin: 0.5px; background: white">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ชื่อผู้ประกอบการ :</label>
                                        </div>
                                        <div class="col-md-6 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data.refRetail.ownerName
                      }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label style="margin: 0px">เลขประจำตัวผู้เสียภาษีอากร :</label
                      >
                    </div>
                    <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                      <span style="font-size: 14px; color: #607188">{{
                        data.refRetail.taxNo
                      }}</span>
                    </div>

                    <div class="col-md-2 label-custom-text">
                      <label>ประเภทผู้เสียภาษี :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data.refRetail.customerType
                      }}</span>
                                        </div>
                                    </div>

                                    <ng-container *ngIf="data.refRetail.customerType == 'บุคคลธรรมดา'">
                                        <div class="row">
                                            <div class="col-md-3 label-custom-text">
                                                <label>บัตรประจำตัวประชาชนเลขที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span style="font-size: 14px; color: #607188">{{
                          data.refRetail.idCard
                        }}</span>
                                            </div>

                                            <div class="col-md-3 label-custom-text">
                                                <label>ออกให้ ณ ที่ว่าการอำเภอ/เขต :</label>
                                            </div>
                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span style="font-size: 14px; color: #607188">{{
                          data.refRetail.idCardAt
                        }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="data.refRetail.customerType == 'นิติบุคคล'">
                                        <div class="row">
                                            <div class="col-md-3 label-custom-text">
                                                <label>เลขทะเบียนนิติบุคคลที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span style="font-size: 14px; color: #607188">{{
                          data.refRetail.corpNo
                        }}</span>
                                            </div>

                                            <div class="col-md-2 label-custom-text">
                                                <label>เมื่อวันที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span style="font-size: 14px; color: #607188">{{
                          data.refRetail.corpDate
                        }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>เลขรหัสประจำบ้าน :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{ data.refRetail.houseNo }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ที่อยู่ :</label>
                                        </div>

                                        <div class="col-md-8 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data.refRetail.fullAddress
                      }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label style="margin: 0px">รหัสไปรษณีย์ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data.refRetail.postcode
                      }}</span>
                                        </div>

                                        <div class="col-md-2 label-custom-text">
                                            <label>เบอร์โทรศัพท์ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span style="font-size: 14px; color: #607188">{{
                        data.refRetail.mobile
                      }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ</span>
                                        </div>
                                    </div>

                                    <hr width="100%" size="5" color="#e9ecef" />

                                    <div class="row">
                                        <div class="col-md-4 text-left">
                                            <h2 style="color: #053a1d; font-size: 18px">
                                                เอกสารประกอบ
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-orderby">
                                                            <label>ลำดับ</label>
                                                        </th>
                                                        <th class="text-center col-name-doc-pn01">
                                                            <label>รายการเอกสาร</label>
                                                        </th>
                                                        <th class="text-center col-quantity-doc-pn01">
                                                            <label>จำนวน (แผ่น)</label>
                                                        </th>
                                                        <th class="text-center col-name">
                                                            <label>เอกสารแนบ</label>
                                                        </th>
                                                        <th class="text-center col-orderby"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar">
                                                            <span>1</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>สำเนาทะเบียนบ้าน สำเนาบัตรประจำตัวประชาชน</span
                              >
                              <br />
                              <span>และสำเนาบัตรประจำตัวผู้เสียภาษีอาการ</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span *ngIf="data.refRetail.houseFileNum != '0'">{{
                                  data.refRetail.houseFileNum | number
                                }}</span
                              >

                              <span *ngIf="data.refRetail.houseFileNum == '0'"
                                >-</span
                              >
                            </td>
                            <td class="text-left icon-pointer-toolbar">
                              <ng-container
                                *ngFor="
                                  let item of data.refRetail.houseFileList;
                                  let i = index
                                "
                              >
                                <a
                                  href="{{ item.ShowFile }}"
                                  target="_blank"
                                  class="icon-pointer-toolbar"
                                  >{{ i + 1 }} . {{ item?.fileName }}</a
                                >
                                <br />
                              </ng-container>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center icon-pointer-toolbar">
                              <span>2</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>สำเนาหนังสือรับรองของกระทรวงพาณิชย์ <br />
                                (ที่ออกให้ไม่เกิน 6 เดือน)</span
                              >
                            </td>
                            <td class="text-right col-td-money">
                              <span *ngIf="data.refRetail.cerFileNum != '0'">{{
                                data.refRetail.cerFileNum | number
                              }}</span>

                                                            <span *ngIf="data.refRetail.cerFileNum == '0'">-</span
                              >
                            </td>
                            <td class="text-left icon-pointer-toolbar">
                              <ng-container
                                *ngFor="
                                  let item of data.refRetail.agentFileList;
                                  let i = index
                                "
                              >
                                <a
                                  href="{{ item.ShowFile }}"
                                  target="_blank"
                                  class="icon-pointer-toolbar"
                                  >{{ i + 1 }} . {{ item?.fileName }}</a
                                >
                                <br />
                              </ng-container>
                            </td>
                          </tr>

                          <tr>
                            <td class="text-center icon-pointer-toolbar">
                              <span>3</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar">
                                                            <span>หนังสือมอบอำนาจและสำเนาบัตรประจำตัวประชาชนของผู้รับมอบอำนาจ</span
                              >
                            </td>
                            <td class="text-right col-td-money">
                              <span
                                *ngIf="data.refRetail.agentFileNum != '0'"
                                >{{
                                  data.refRetail.agentFileNum | number
                                }}</span
                              >

                              <span *ngIf="data.refRetail.agentFileNum == '0'"
                                >-</span
                              >
                            </td>
                            <td class="text-left icon-pointer-toolbar">
                              <ng-container
                                *ngFor="
                                  let item of data.refRetail.cerFileList;
                                  let i = index
                                "
                              >
                                <a
                                  href="{{ item.ShowFile }}"
                                  target="_blank"
                                  class="icon-pointer-toolbar"
                                  >{{ i + 1 }} . {{ item?.fileName }}</a
                                >
                                <br />
                              </ng-container>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 0.5vw">
        <div class="col">
          <div class="card card-1">
            <div class="row" style="margin-left: 0px; margin-right: 0px">
              <div
                class="col-12 text-left"
                style="height: 50px; background: #006634"
              >
                <h2 style="font-size: 18px; margin-top: 10px; color: #ffff">
                  ข้อมูลสถานการค้าปลีก
                </h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 label-custom-text">
                <label>ชื่อสถานการค้าปลีก :</label>
              </div>
              <div class="col-md-6 input-custom-text" style="margin-top: 20px !important;">
                <span>{{ data.refStation.stationName }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2 label-custom-text">
                                            <label>ปี :</label>
                                        </div>
                                        <div class="col-md-1 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{ data.yearly }}</span>
                                        </div>

                                        <div class="col-md-2 label-custom-text">
                                            <label>เดือน :</label>
                                        </div>
                                        <div class="col-md-1 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{ data.monthName }}</span>
                                        </div>
                                        <div class="col-md-2 label-custom-text">
                                            <label>สถานะการยื่นแบบ :</label>
                                        </div>
                                        <div class="col-md-2 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{ data.statusAccDesc }}</span>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 2vw; margin-bottom: 1.5vw">
                                        <div class="col-md-12 text-left" style="margin-left: 2vw">
                                            <h2 style="color: #053a1d; font-size: 18px">
                                                งบเดือนแสดงการรับ-จ่ายน้ำมัน / ก๊าซปิโตรเลียม ประจำเดือน {{ data.monthName }} &nbsp; {{ data.yearly }}
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-left: 0.5vw">
                                        <div class="col-md-12 text-center table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-orderby">ลำดับ</th>
                                                        <th class="text-center col-name">ชนิด/น้ำมันก๊าซ</th>
                                                        <th class="text-center col-name">คงเหลือยกมา (ลิตร)</th>
                                                        <th class="text-center col-name">ปริมาณนำเข้า (ลิตร)</th>
                                                        <th class="text-center col-name">รวมรับ (ลิตร)</th>
                                                        <th class="text-center col-name">
                                                            ปริมาณการจำหน่าย (ลิตร)
                                                        </th>
                                                        <th class="text-center col-name">รวมจ่าย (ลิตร)</th>
                                                        <th class="text-center col-name">คงเหลือยกไป (ลิตร)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of data.detailList; let i = index">
                                                        <td class="text-center">
                                                            <span>{{ i + 1 }}</span>
                                                        </td>

                                                        <td class="text-left">
                                                            <span>{{ item?.oilTypeName }}</span>
                                                        </td>

                                                        <td class="text-right col-td-money">
                                                            <span>{{ item?.balance | currency: " " }}</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span>{{ item?.inQty | currency: " " }}</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span>{{ item?.receiver | currency: " " }}</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span>{{ item?.outQty | currency: " " }}</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span>{{ item?.pay | currency: " " }}</span>
                                                        </td>
                                                        <td class="text-right col-td-money">
                                                            <span>{{ item?.remain | currency: " " }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="data.detailList.length == 0">
                                                        <td colspan="9" class="text-center icon-pointer-toolbar text-center">
                                                            <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 1.5vw">
                                        <div class="col-md-12 text-left" style="margin-left: 2vw">
                                            <h2 style="color: #053a1d; font-size: 18px">
                                                รายการน้ำมัน/ก๊าซปิโตรเลียมที่จำหน่ายได้
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-left: 0.5vw">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="text-center col-orderby">ลำดับ</th>
                                                        <th rowspan="2" class="text-center col-name">
                                                            น้ำมัน/ก๊าซปิโตรเลียม (ชนิด)
                                                        </th>
                                                        <th rowspan="2" class="text-center col-name">
                                                            จำนวน (ลิตร)
                                                        </th>
                                                        <th rowspan="2" class="text-center col-name">
                                                            อัตราภาษีลิตรละ (บาท)
                                                        </th>
                                                        <th colspan="2" class="text-center col-name">
                                                            จำนวนเงิน
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center col-name">(บาท)</th>
                                                        <th class="text-center col-name">(สตางค์)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngIf="data.summaryList.length != 0">
                                                        <tr *ngFor="let item of data.summaryList; let i = index">
                                                            <td class="text-center icon-pointer-toolbar">
                                                                <span>{{ i + 1 }}</span>
                                                            </td>

                                                            <td class="text-left">
                                                                <span>{{ item?.oilTypeName }}</span>
                                                            </td>

                                                            <td class="text-right col-td-money">
                                                                <span>{{ item?.qty | currency: " " }}</span>
                                                            </td>
                                                            <td class="text-center col-td-money">
                                                                <span>{{ item?.rate | currency: " " }}</span>
                                                            </td>
                                                            <td class="text-right col-td-money">
                                                                <span>{{ item?.amountBaht_show }}</span>
                                                            </td>
                                                            <td class="text-right col-td-money">
                                                                <span>{{ item?.amountSatang_show }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" class="text-right">
                                                                <span>รวม</span>
                                                            </td>
                                                            <td class="text-right col-td-money">
                                                                <span>{{ this.sum_amountBaht_show }}</span>
                                                            </td>
                                                            <td class="text-right col-td-money">
                                                                <span>{{ this.sum_amountSatang_show }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" class="text-right">
                                                                <span>บวกเงินเพิ่ม (ร้อยละ {{ data.finesPerMonth }}
                            ต่อเดือนของค่าภาษีที่ต้่องชำระหรือชำระขาดตั้งแต่
                            {{ data.finesStartDate }} ถึง
                            {{ data.finesEndDate }})</span
                          >
                        </td>
                        <td class="text-right col-td-money">
                          <span>{{ this.plus_extra_money_Baht }}</span>
                                                            </td>
                                                            <td class="text-right col-td-money">
                                                                <span>{{ this.plus_extra_money_Satang_show }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" class="text-right">
                                                                <span>ยอดเงินภาษีที่ต้องชำระทั้งสิ้น</span>
                                                            </td>
                                                            <td class="text-right col-td-money">
                                                                <span>{{ this.total_tax_payable_Baht_show }}</span>
                                                            </td>
                                                            <td class="text-right col-td-money">
                                                                <span>{{ this.total_tax_payable_Satang_show }}</span>
                                                            </td>
                                                        </tr>
                                                    </ng-container>

                                                    <tr *ngIf="data.summaryList.length == 0">
                                                        <td colspan="6" class="text-center icon-pointer-toolbar text-center">
                                                            <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</span>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 1.5vw">
                                        <div class="col-md-12 text-left" style="margin-left: 2vw">
                                            <h2 style="color: #053a1d; font-size: 18px">เอกสารประกอบ</h2>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-md-11 p-t-label" style="padding-bottom: 18px">
                                            <table class="col-md-12 table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-orderby">
                                                            <label>ลำดับ</label>
                                                        </th>
                                                        <th class="text-center col-name-doc-pn03">
                                                            <label>รายการเอกสาร</label>
                                                        </th>
                                                        <th class="text-center col-name">
                                                            <label>เอกสารแนบ</label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">
                                                            <span>1</span>
                                                        </td>
                                                        <td class="text-left">
                                                            <span>เอกสารงบเดือนแสดงรายรับ-จ่ายน้ำมัน/ก๊าซปิโตรเลียม</span
                        >
                      </td>
                      <td class="text-left icon-pointer-toolbar">
                        <ng-container
                          *ngFor="let item of data.accountList; let i = index"
                        >
                          <a
                            href="{{ item.ShowFile }}"
                            target="_blank"
                            class="icon-pointer-toolbar"
                            >{{ i + 1 }} . {{ item?.pathFileName }}</a
                          >
                          <br />
                        </ng-container>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row justify-content-center">
              <button
                type="button"
                class="btn btn-danger width-button"
                (click)="cancel()"
              >
                ย้อนกลับ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>