.content-full-wrapper {
	.content {
		.header-wrapper {
			padding-top: 0px;
			margin-top: 40px;
			margin-left: 100px;
		}

		h1 {
			padding: 22.5px 30px;
			margin:0;
		}
		.content-body {
			padding: 30px;
			margin-left: 120px;
		}
	}
}
