<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
  <div class="content">
    <div class="header-wrapper header-sm">
      <header class="container-fluid">
        <div class="row">
          <div class="col">
            <h1>แบบยื่นแสดงรายการภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมัน (ภน.03)</h1>
          </div>
        </div>
      </header>
    </div>

    <div class="content-body">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="col-md-12 style-search" *ngIf="isSearchActive">
              <form class="form-horizontal" (keyup.enter)="getListByMonthly(1)">
                <div class="row">
                  <div class="col-12" style="padding-top:10px;text-align:right;">
                    <i class="fa fa-search icon-toolbar" aria-hidden="true" (click)="getList(1)"
                      matTooltip="{{ config.tooltripMsg.search }}"></i>

                    <i class="fa fa-refresh icon-toolbar" aria-hidden="true"
                      matTooltip="{{ config.tooltripMsg.refresh }}" (click)="refreshDataSearch()">
                    </i>

                    <i class="fa fa-times icon-toolbar" aria-hidden="true" (click)="triggerClose($event)"
                      matTooltip="{{ config.tooltripMsg.close }}"></i>
                  </div>
                  <div class="col-md-2 label-custom-text">
                    <label>เลขทะเบียน :</label>
                  </div>
                  <div class="col-md-3 input-custom-text">
                    <mat-form-field>
                      <input
                        matInput
                        [(ngModel)]="searchValue.docNo"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-md-2 label-custom-text">
                    <label>ชื่อสถานการค้าปลีก :</label>
                  </div>
                  <div class="col-md-3 input-custom-text">
                    <mat-form-field>
                      <input
                        matInput
                        [(ngModel)]="searchValue.stationName"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </mat-form-field>
                  </div>

                  
                </div>

                <div class="row">
                  <div class="col-md-2 label-custom-date ">
                    <label>วันที่ยื่นแบบ :</label>
                  </div>
                  <div class="col-md-3 input-custom-date" style="padding-right: 50px">
                    <mat-date-picker-th
                      [(ngModel)]="searchValue.startDate"
                      [ngModelOptions]="{ standalone: true }"
                      class="datapicker-text"
                    >
                    </mat-date-picker-th>
                  </div>
                  <div class="col-md-2 label-custom-date ">
                    <label>ถึง :</label>
                  </div>
                  <div class="col-md-3 input-custom-date" style="padding-right: 50px">
                    <mat-date-picker-th
                      [(ngModel)]="searchValue.endDate"
                      [ngModelOptions]="{ standalone: true }"
                      class="datapicker-text"
                    >
                    </mat-date-picker-th>
                  </div>
                </div>

                <div class="row" style="margin-top: 0.75vw">
                  <div class="col-md-2  label-custom-dropdown">
                    <label>สถานะการยื่นแบบ :</label>
                  </div>
                  <div class="col-md-3 input-custom-dropdown">
                    <mat-form-field>
                      <mat-select
                        [(ngModel)]="searchValue.status"
                        [ngModelOptions]="{ standalone: true }"
                      >
                        <mat-option value="">เลือกทั้งหมด</mat-option>
                        <mat-option
                          *ngFor="let item of drpListStatus"
                          [value]="item.id"
                        >
                          {{ item?.name }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!-- <div class="col-md-2 text-right p-t-label">
                    <label>สถานะ : </label>
                  </div>
                  <div class="col-3">
                    <mat-form-field>
                      <mat-select
                        [(ngModel)]="searchValue.status"
                        [ngModelOptions]="{ standalone: true }"
                      >
                        <mat-option value="">---กรุณาเลือก---</mat-option>
                        <mat-option value="0">สร้าง</mat-option>
                        <mat-option value="1">รอตรวจสอบ</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->
                </div>

                <div class="row p-t-10">
                  <div class="col-2 text-right p-t-20"></div>
                  <div class="col-8"></div>
                </div>
              </form>
            </div>

            <div class="row header-content" *ngIf="!isSearchActive">
              <div class="col-md-10">
                <header class="card-header">
                  <h2 class="card-title">
                    แบบยื่นแสดงรายการภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมัน (ภน.03)
                    ประจำเดือน {{ this.monthName }} {{ yearly }}
                  </h2>
                </header>
              </div>

              <!-- ปุ่มค้นหากับไอคอน -->
              <div class="col-md-12 text-right" style="margin-top: 0.5vw">
                <h2 class="text-right">
                  <button
                    (click)="add()"
                    type="button"
                    class="btn-custom btn-info-custom"
                    style="margin-right: 0.5vw"
                    matTooltip="{{ config.tooltripMsg.add_pn03 }}"
                  >
                    <i class="fa fa-plus-circle"></i>
                    ยื่นภน.03
                  </button>

                  <!-- <button
                    matTooltip="{{ config.tooltripMsg.import_address }}"
                    (click)="clickuploaderUpFileImport()"
                    type="button"
                    style="margin-right: 0.5vw"
                    class="btn-custom btn-info-custom"
                  >
                    <i
                      class="zmdi zmdi-download icon-toolbar"
                      aria-hidden="true"
                    ></i>

                    นำเข้าระบบ

                    <input
                      ng2FileSelect
                      (change)="fileOverBase($event)"
                      [uploader]="uploader"
                      type="file"
                      multiple
                      id="file-input-import"
                      class="custom-file-input hidden"
                      name="fileImage"
                      accept=".xlsx, .xlsm, .xltx, .xltm"
                      title=" "
                    />
                  </button> -->

                  <button
                    (click)="open_sendDesign(sendDesign_modal)"
                    type="button"
                    class="btn-custom btn-info-custom"
                    style="margin-right: 0.5vw"
                    matTooltip="{{ config.tooltripMsg.send_plan }}"
                  >
                    <i class="fa fa-paper-plane"></i>
                    ส่งแบบ
                  </button>

                  <button
                    matTooltip="{{ config.tooltripMsg.search }}"
                    (click)="searchActive()"
                    type="button"
                    style="margin-right: 0.5vw"
                    class="btn-custom btn-info-custom"
                  >
                    <i class="fa fa-search" aria-hidden="true"></i>
                    ค้นหา
                  </button>

                  <button
                    matTooltip="{{ config.tooltripMsg.deleteAll }}"
                    (click)="delete(dataListTemp, 'dataList')"
                    type="button"
                    class="btn-custom btn-info-custom"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    ลบทั้งหมด
                  </button>
                </h2>
              </div>
            </div>

            <div class="card-block">
              <div class="row">
                <div class="col-md-12 table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="text-center col-orderby">
                          <mat-checkbox
                            [(ngModel)]="checkAll"
                            [checked]="allRowsSelected"
                            (change)="selectAll($event.checked)"
                          ></mat-checkbox>
                        </th>
                        <th class="col-fit-content-c">ลำดับ</th>
                        <th class="col-fit-content-c">วันที่ยื่นแบบ</th>
                        <th class="col-fit-content-c">เลขทะเบียน</th>
                        <th class="col-fit-content-c">ชื่อสถานการค้าปลีก</th>
                        <th class="col-fit-content-c">ยอดที่ต้องชำระ</th>
                        <th class="col-fit-content-c">สถานะ</th>
                        <th class="col-fit-content-c">ภน.03</th>
                        <!-- <th class="text-right col-export">ใบแจ้งชำระ</th> -->
                        <th class="col-fit-content-c">จัดการ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dataList; let i = index">
                        <th
                          class="col-fit-content-c"
                          (click)="$event.stopPropagation()"
                        >
                          <mat-checkbox
                            *ngIf="item.status == '0' || item?.status == '2'"
                            [(ngModel)]="item.selected"
                            (change)="countselectedCheck($event.checked, item)"
                          >
                          </mat-checkbox>
                        </th>
                        <td
                          class="col-fit-content-c"
                        >
                          <span>{{
                            i +
                              1 +
                              (config.resultPage.pageNo - 1) * maxitemPerPage
                          }}</span>
                        </td>

                        <td
                          class="col-fit-content-c"
                        >
                          <span class="icon-pointer-toolbar">{{
                            item?.docDate
                          }}</span>
                        </td>

                        <td
                          class="col-fit-content-l"
                        >
                          <span class="icon-pointer-toolbar">{{
                            item?.docNo
                          }}</span>
                        </td>

                        <td
                          class="col-free-content-l"
                        >
                          <span class="icon-pointer-toolbar">{{
                            item?.stationName
                          }}</span>
                        </td>

                        <td
                          class="col-fit-content-r"
                        >
                          <span
                            *ngIf="item?.taxTotal >= 0"
                            class="icon-pointer-toolbar"
                            >{{ item?.taxTotal | currency: " " }}</span
                          >

                          <span
                            *ngIf="item?.taxTotal <= -1"
                            class="icon-pointer-toolbar red"
                            >{{ item?.taxTotal | currency: " " }}</span
                          >
                        </td>

                        <td
                          class="col-fit-content-l"
                        >
                          <span
                            *ngIf="item.statusName == 'ไม่ผ่านการตรวจสอบ'"
                            class="icon-pointer-toolbar red"
                            (click)="open_statusDesign(item)"
                            >{{ item?.statusName }}</span
                          >

                          <a
                            *ngIf="item.statusName == 'ตรวจสอบแล้ว'"
                            class="icon-pointer-toolbar green"
                            (click)="open_statusDesign(item)"
                            >{{ item?.statusName }}</a
                          >
                          <span
                            *ngIf="item.statusName == 'รอตรวจสอบ'"
                            class="icon-pointer-toolbar oragan"
                            (click)="open_statusDesign(item)"
                            >{{ item?.statusName }}</span
                          >

                          <span
                            *ngIf="item.statusName == 'สร้าง'"
                            class="icon-pointer-toolbar blue"
                            (click)="open_statusDesign(item)"
                            >{{ item?.statusName }}</span
                          >
                        </td>

                        <td
                          class="col-fit-content-c"
                        >
                          <a
                            style="color: white"
                            class="label-caption label-button"
                            href="{{ item.linkExportTaxform03 }}"
                            target="_blank"
                          >
                            <button
                              type="button"
                              class="btn-custom btn-info-custom"
                              style="margin-right: 0.5vw"
                              matTooltip="{{ config.tooltripMsg.pdf_03 }}"
                            >
                              <i
                                class="fa fa-file-text-o"
                                aria-hidden="true"
                              ></i>
                              <!-- ภน.03 -->
                            </button>
                          </a>
                        </td>

                        <!-- <td
                          class="text-right icon-pointer-toolbar"
                          style="width: auto; padding: 0px"
                        >
                          <a
                            *ngIf="item.status == '3'"
                            style="color: white"
                            class="label-caption label-button"
                            href="{{ item.linkExportInvoice }}"
                            target="_blank"
                          >
                            <button
                              type="button"
                              class="btn-custom btn-info-custom"
                              style="margin-right: 0.5vw"
                              matTooltip="{{ config.tooltripMsg.invoice }}"
                            >
                              <i
                                class="fa fa-file-text-o"
                                aria-hidden="true"
                              ></i>
                            </button>
                          </a>
                        </td> -->

                        <td
                          class="col-fit-content-c"
                        >
                          <ng-container
                            *ngIf="item?.status == '3' || item?.status == '1'"
                          >
                            <button
                              (click)="view(item)"
                              type="button"
                              class="btn-custom btn-info-custom"
                              style="margin-right: 0.5vw"
                              matTooltip="{{ config.tooltripMsg.detaill }}"
                            >
                              <i
                                class="fa fa-file-text-o"
                                aria-hidden="true"
                              ></i>
                              ดูรายละเอียด
                            </button>
                          </ng-container>

                          <ng-container
                            *ngIf="item.status == '0' || item.status == '2'"
                          >
                            <button
                              (click)="update(item)"
                              type="button"
                              class="btn-custom btn-info-custom"
                              style="margin-right: 0.5vw"
                              matTooltip="{{ config.tooltripMsg.edit }}"
                            >
                              <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                              แก้ไข
                            </button>

                            <button
                              matTooltip="{{ config.tooltripMsg.delete }}"
                              (click)="delete(item, 'row')"
                              type="button"
                              class="btn-custom btn-info-custom"
                            >
                              <i class="fa fa-trash" aria-hidden="true"></i>
                              ลบ
                            </button>
                          </ng-container>
                        </td>
                      </tr>

                      <tr *ngIf="dataList.length == 0">
                        <td
                          colspan="10"
                          class="text-center icon-pointer-toolbar"
                        >
                          <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-md-6 p-l-15">
                      <p class="justify-content-start">
                        เลือก {{ selectedCheck }} /
                        {{ totalItemdataList }} รายการ
                      </p>
                    </div>
                    <div class="col-md-6">
                      <ngb-pagination
                        (pageChange)="getListByMonthly($event)"
                        [pageSize]="maxitemPerPage"
                        [collectionSize]="this.config.resultPage.totalItem"
                        [(page)]="config.resultPage.pageNo"
                        [maxSize]="maxSize"
                        [rotate]="true"
                        [ellipses]="false"
                        [boundaryLinks]="true"
                        class="float-right"
                      ></ngb-pagination>
                    </div>
                  </div>

                  <!-- <div class="row justify-content-center">
                    <button 
                    type="button" 
                    class="btn btn-secondary"
                    style="padding: 12px 32px;"
                    (click)="cancel()"
                    >
                    ยกเลิก
                    </button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--start modal approval -->
<ng-template #sendDesign_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    ยืนยันการทำรายการ
    <!-- รายการที่ขอตรวจสอบ/อนุมัติ -->
    <i class="fa fa-times" style="color: white" (click)="d('กากบาท')"></i>
  </div>

  <div class="modal-body">
    <div class="row row-from-group">
      <div class="col-md-12 text-left p-t-label">
        <label
          >แบบยื่นรายการภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมันฯ ที่ขอตรวจสอบ</label
        >
      </div>
    </div>

    <ng-container *ngFor="let item of sendDesignData_modal; let i = index">
      <div class="box tab-send">
        <div class="row" style="padding-left: 30px; padding-right: 30px">
          <div class="text-right p-t-label">
            <label>{{ i + 1 }}. วันที่ลงทะเบียน :</label>
          </div>
          <div class="col-md-3 text-left p-t-label">
            <span>{{ item.docDate }}</span>
          </div>
          <div class="col-md-3 text-right p-t-label">
            <label>เลขทะเบียน :</label>
          </div>
          <div class="col-md-3 text-left p-t-label">
            <span>{{ item.docNo }}</span>
          </div>
        </div>

        <div class="row" style="padding-left: 30px; padding-right: 30px">
          <div class="text-right p-t-label">
            <label>ชื่อสถานการค้าปลีก :</label>
          </div>
          <div class="col-md-9 text-left p-t-label">
            <span>{{ item.stationName }}</span>
          </div>
        </div>

        <div class="row" style="padding-left: 30px; padding-right: 30px">
          <div class="text-right p-t-label">
            <label>ยอดที่ต้องชำระ :</label>
          </div>
          <div class="col-md-9 text-left p-t-label">
            <span *ngIf="item?.taxTotal >= 0"
              >{{ item?.taxTotal | currency: " " }} บาท</span
            >
            <span class="icon-pointer-toolbar red" *ngIf="item?.taxTotal <= -1"
              >{{ item?.taxTotal | currency: " " }} บาท</span
            >
          </div>
        </div>
      </div>

      <!-- <div class="row row-from-group">
        <div class="col-md-12 text-left p-t-label">
          <label style="margin-left: 5vw"
            >{{ i + 1 }}. วันที่ลงทะเบียน: &nbsp; {{ item.docDate }} <br />
            เลขทะเบียน: &nbsp; {{ item.docNo }} <br />
            ชื่อสถานการค้าปลีก: &nbsp; {{ item.stationName }} <br />
            ยอดที่ต้องชำระ: &nbsp; {{ item?.taxTotal | number }} บาท</label
          >
        </div>
      </div> -->
    </ng-container>

    <div class="row form-group" style="margin-top: 10px">
      <div class="col-md-12 text-center">
        <mat-checkbox [(ngModel)]="check_agree" [checked]="check_agree">
          &nbsp; ข้าพเจ้าขอรับรองว่ารายการที่แสดงไว้เป็นความจริงทุกประการ
        </mat-checkbox>

        &nbsp;&nbsp;
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 20px">
      <button
        *ngIf="check_agree"
        type="button"
        class="btn btn-info width-button btn-border-r"
        (click)="submit_sendDesign()"
      >
        ส่งแบบ
      </button>
      <button
        type="button"
        class="btn btn-danger width-button btn-border-r"
        (click)="close_sendDesign()"
        style="margin-left: 10px"
      >
        ยกเลิก
      </button>
    </div>
  </div>
</ng-template>
<!--end modal plot -->

<!--start modal approval -->
<ng-template #statusDesign_modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    รายละเอียด
    <i class="fa fa-times" style="color: white" (click)="d('กากบาท')"></i>
  </div>

  <div class="modal-body">
    <div class="row" style="margin-top: 0.5vw">
      <div class="col">
        <div class="card">
          <div
            class="row"
            (click)="item.select = !item.select"
            style="margin-left: 0px; margin-right: 0px; cursor: pointer"
          >
            <div
              class="col-12 text-left"
              style="height: 50px; background: #006634"
            >
              <h2 style="font-size: 18px; margin-top: 10px; color: #ffff">
                <i
                  *ngIf="!item.select"
                  style="font-size: 24px; color: white !important"
                  class="fa fa-plus-circle"
                ></i>

                <i
                  *ngIf="item.select"
                  style="font-size: 24px; color: white !important"
                  class="fa fa-minus-circle"
                ></i>
                &nbsp; ชื่อสถานประกอบการ :
                <!-- {{ item.stationName }} -->
                {{ _stationName }}
              </h2>
            </div>
          </div>
          <ng-container *ngFor="let it of statusDesignModal; let j = index">
            <div class="card-x">
              <div
                class="row box"
                style="margin: 0.5px; padding: 15px; background: white"
              >
                <div class="col-md-12 text-left p-t-label">
                  <span>
                    <b style="font-weight: bold"
                      >{{ j + 1 }}. วันที่ทำรายการ :
                    </b>
                    {{ it.actionDate }}
                    &nbsp;
                    <b style="font-weight: bold">สถานะ : </b>
                    <span
                      [ngClass]="{
                        oragan: it.status == '1',
                        green: it.status == '3',
                        red: it.status == '2',
                        blue: it.status == '0'
                      }"
                    >
                      {{ it.statusName }}
                    </span>
                    &nbsp;
                    <b style="font-weight: bold">หมายเหตุ : </b>
                    {{ it.remark }}
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- <table class="table table-hover" *ngIf="statusDesignModal.length == 0">
      <thead>
        <tr>
          <th class="text-center">ไม่พบข้อมูล</th>
        </tr>
      </thead>
    </table> -->

    <div class="row" *ngIf="statusDesignModal.length == 0">
      <div class="col-md-12 text-center">
        <span>ไม่พบข้อมูล</span>
      </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 20px">
      <button
        type="button"
        class="btn btn-danger width-button btn-border-r"
        (click)="close_statusDesign()"
        style="margin-left: 10px"
      >
        ปิด
      </button>
    </div>
  </div>
</ng-template>
<!--end modal plot -->
