<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>แบบแจ้งข้อมูลจัดทำทะเบียนสถานการค้าปลีก (ภน.01)</h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="content-body">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="col-md-12 style-search" *ngIf="isSearchActive">
                            <form class="form-horizontal" (keyup.enter)="getList(1)">
                                <div class="row">
                                    <div class="col-12" style="padding-top:10px;text-align:right;">
                                        <i class="fa fa-search icon-toolbar" aria-hidden="true" (click)="getList(1)" matTooltip="{{ config.tooltripMsg.search }}"></i>

                                        <i class="fa fa-refresh icon-toolbar" aria-hidden="true" matTooltip="{{ config.tooltripMsg.refresh }}" (click)="refreshDataSearch()">
                    </i>

                                        <i class="fa fa-times icon-toolbar" aria-hidden="true" (click)="triggerClose($event)" matTooltip="{{ config.tooltripMsg.close }}"></i>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: -15px !important;">
                                    <div class="col-xl-2 col-md-3 label-custom-text">
                                        <label>เลขทะเบียน :</label>
                                    </div>
                                    <div class="col-xl-3 col-md-3 input-custom-text">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="searchValue.docNo" [ngModelOptions]="{ standalone: true }" />
                                        </mat-form-field>
                                    </div>

                                    <div class="col-xl-2 col-md-2 label-custom-dropdown">
                                        <label>สถานะ : </label>
                                    </div>
                                    <div class="col-xl-4 col-md-3 input-custom-dropdown">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="searchValue.status" [ngModelOptions]="{ standalone: true }">
                                                <mat-option value="">เลือกทั้งหมด</mat-option>
                                                <mat-option *ngFor="let item of drpListStatus" [value]="item.id">
                                                    {{ item?.name }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>


                                </div>

                                <div class="row" style="margin-top: -15px !important;">
                                    <div class="col-xl-2 col-md-3 label-custom-date ">
                                        <label>วันที่ลงทะเบียนตั้งแต่ :</label>
                                    </div>
                                    <div class="col-xl-3 col-md-3  input-custom-date" style="padding-right: 50px">
                                        <mat-date-picker-th [(ngModel)]="searchValue.startDate" [ngModelOptions]="{ standalone: true }" class="datapicker-text">
                                        </mat-date-picker-th>
                                    </div>
                                    <div class="col-xl-2 col-md-2 label-custom-date ">
                                        <label>ถึง :</label>
                                    </div>
                                    <div class="col-xl-4 col-md-3 input-custom-date" style="padding-right: 50px">
                                        <mat-date-picker-th [(ngModel)]="searchValue.endDate" [ngModelOptions]="{ standalone: true }" class="datapicker-text">
                                        </mat-date-picker-th>
                                    </div>
                                </div>



                                <div class="row p-t-10">
                                    <div class="col-2 text-right p-t-20"></div>
                                    <div class="col-8"></div>
                                </div>
                            </form>
                        </div>

                        <div class="row header-content" *ngIf="!isSearchActive">
                            <div class="col-md-10">
                                <header class="card-header">
                                    <h2 class="card-title">
                                        แบบแจ้งข้อมูลจัดทำทะเบียนสถานการค้าปลีก (ภน.01)
                                    </h2>
                                </header>
                            </div>
                        </div>
                        <div class="col-md-12 text-right" style="margin-top: 0.5vw">
                            <h2 class="text-right">
                                <button (click)="add()" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.add_pn01 }}">
                  <i class="fa fa-plus-circle"></i>
                  ยื่นภน.01
                </button>

                                <button (click)="open_sendDesign(sendDesign_modal)" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.send_plants }}">
                  <i class="fa fa-paper-plane"></i>
                  ส่งแบบ
                </button>

                                <button matTooltip="{{ config.tooltripMsg.search }}" (click)="searchActive()" type="button" style="margin-right: 0.5vw" class="btn-custom btn-info-custom">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  ค้นหา
                </button>

                                <button matTooltip="{{ config.tooltripMsg.deleteAll }}" (click)="delete(dataListTemp, 'dataList')" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  ลบรายการ
                </button>
                            </h2>
                        </div>

                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-hover table-list-style">
                                        <thead>
                                            <tr>
                                                <th class="text-center col-orderby">
                                                    <mat-checkbox [(ngModel)]="checkAll" [checked]="allRowsSelected" (change)="selectAll($event.checked)"></mat-checkbox>
                                                </th>
                                                <th class="order-num">ลำดับ</th>
                                                <th class="col-fit-content-c">วันที่ลงทะเบียน</th>
                                                <th class="col-fit-content-c">เลขทะเบียน</th>
                                                <th class="col-fit-content-c">
                                                    เลขประจำตัวผู้เสียภาษี
                                                </th>
                                                <th class="col-fit-content-c">ชื่อผู้ประกอบการ</th>
                                                <th class="col-fit-content-c">
                                                    จำนวนสถานการค้าปลีก (ราย)
                                                </th>
                                                <th class="col-fit-content-c">สถานะ</th>
                                                <th class="col-fit-content-c">ภน.01</th>
                                                <th class="col-fit-content-c">ใบรับแจ้ง</th>
                                                <th class="col-fit-content-c">จัดการ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of dataList; let i = index">
                                                <td class="text-center col-data-orderby" style="text-align: center; width: 50px !important; vertical-align: top;" (click)="$event.stopPropagation()">
                                                    <mat-checkbox *ngIf="
                              item.mainStatus == '0' || item?.mainStatus == '2'
                            " [(ngModel)]="item.selected" (change)="countselectedCheck($event.checked, item)">
                                                    </mat-checkbox>
                                                </td>
                                                <td class="order-num">
                                                    <span (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{
                            i +
                            1 +
                            (config.resultPage.pageNo - 1) * maxitemPerPage
                            }}</span>
                                                </td>

                                                <td class="col-fit-content-c">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ item?.createdDate }}</span>
                                                </td>

                                                <td class="col-free-content-l">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ item?.docNo }}</span>
                                                </td>

                                                <td class="col-fit-content-l">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ item?.taxNo }}</span>
                                                </td>

                                                <td class="col-fit-content-l">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ item?.ownerName }}</span>
                                                </td>
                                                <td class="col-fit-content-l">
                                                    <span class="icon-pointer-toolbar" (click)="view(item.taxForm01RetailId)" style="cursor: pointer">{{ item?.stationNum | number }}</span>
                                                </td>
                                                <td class="col-fit-content-l">
                                                    <!-- <a
                            class="icon-pointer-toolbar"
                            (click)="open_statusDesign(item)"
                            >{{ item?.mainStatusName }}</a
                          > -->

                                                    <span *ngIf="item.mainStatusName == 'ไม่ผ่านการตรวจสอบ'" class="icon-pointer-toolbar red" (click)="open_statusDesign(item)">{{ item?.mainStatusName }}</span>

                                                    <a *ngIf="item.mainStatusName == 'ตรวจสอบแล้ว'" class="icon-pointer-toolbar green" (click)="open_statusDesign(item)">{{ item?.mainStatusName }}</a>
                                                    <span *ngIf="item.mainStatusName == 'รอตรวจสอบ'" class="icon-pointer-toolbar oragan" (click)="open_statusDesign(item)">{{ item?.mainStatusName }}</span>

                                                    <span *ngIf="item.mainStatusName == 'สร้าง'" class="icon-pointer-toolbar blue" (click)="open_statusDesign(item)">{{ item?.mainStatusName }}</span>
                                                </td>
                                                <td class="text-center icon-pointer-toolbar col-data-export" style="vertical-align: top;">
                                                    <!-- (click)="downloadPDF_pn01(item.taxForm01RetailId)" -->
                                                    <!-- href="{{ getTaxForm01PDF }}{{
                            item.taxForm01RetailId
                          }}" -->
                                                    <a style="color: white" class="label-caption label-button" href="{{ item.linkExportTaxform01 }}" target="_blank">
                                                        <button type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.pdf_01 }}">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i>
                              <!-- ภน.01 -->
                            </button>
                                                    </a>
                                                </td>
                                                <td class="text-center icon-pointer-toolbar col-data-export" style="vertical-align: top;">
                                                    <!-- href="{{ getTaxFormData01PDF }}{{
                            item.taxForm01RetailId
                          }}" -->
                                                    <a *ngIf="item?.mainStatus == '3'" style="color: white" class="label-caption label-button" href="{{ item.linkExportTaxformData01 }}" target="_blank">
                                                        <button type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.or_01 }}">
                              <i class="fa fa-file-text-o" aria-hidden="true"></i>
                              <!-- ใบรับแจ้ง -->
                            </button>
                                                    </a>
                                                </td>

                                                <td class="text-center icon-pointer-toolbar col-data-manament" style="vertical-align: top;">
                                                    <button *ngIf="
                              item.mainStatus == '3' || item.mainStatus == '1'
                            " (click)="view(item.taxForm01RetailId)" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.detaill }}">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            ดูรายละเอียด
                          </button>

                                                    <button *ngIf="
                              item?.mainStatus == '0' || item?.mainStatus == '2'
                            " (click)="update(item.taxForm01RetailId)" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.edit }}">
                            <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                            แก้ไข
                          </button>

                                                    <button *ngIf="
                              item?.mainStatus == '0' || item?.mainStatus == '2'
                            " (click)="delete(item, 'row')" type="button" class="btn-custom btn-info-custom" style="margin-right: 0.5vw" matTooltip="{{ config.tooltripMsg.delete }}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            ลบ
                          </button>
                                                </td>
                                            </tr>
                                            <tr *ngIf="dataList.length == 0">
                                                <td colspan="10" class="text-center icon-pointer-toolbar">
                                                    <span class="icon-pointer-toolbar">ไม่พบข้อมูล</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-md-6 p-l-15">
                                            <p class="justify-content-start">
                                                เลือก {{ selectedCheck }} / {{ totalItemdataList }} รายการ
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <ngb-pagination (pageChange)="getList($event)" [pageSize]="maxitemPerPage" [collectionSize]="this.config.resultPage.totalItem" [(page)]="config.resultPage.pageNo" [maxSize]="maxSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" class="float-right"></ngb-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--start modal approval -->
<ng-template #sendDesign_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        ยืนยันการทำรายการ
        <!-- รายการที่ขอตรวจสอบ/อนุมัติ -->
        <i class="fa fa-times" style="color: white" (click)="d('กากบาท')"></i>
    </div>

    <div class="modal-body">
        <div class="row row-from-group">
            <div class="col-md-12 text-left p-t-label">
                <label>รายการแบบแจ้งข้อมูลจัดทำทะเบียนสถานการค้าปลีก (ภน.01).
          ที่ขอตรวจสอบ</label>
            </div>
        </div>

        <ng-container *ngFor="let item of sendDesignData_modal; let i = index">
            <div class="box tab-send">
                <div class="row" style="padding-left: 30px; padding-right: 30px">
                    <div class="text-right p-t-label">
                        <label>{{ i + 1 }}. วันที่ลงทะเบียน :</label>
                    </div>
                    <div class="col-md-3 text-left p-t-label">
                        <span>{{ item.docDate }}</span>
                    </div>
                    <div class="col-md-3 text-right p-t-label">
                        <label>เลขทะเบียน :</label>
                    </div>
                    <div class="col-md-3 text-left p-t-label">
                        <span>{{ item.docNo }}</span>
                    </div>
                </div>

                <div class="row" style="padding-left: 30px; padding-right: 30px">
                    <div class="text-right p-t-label">
                        <label>ชื่อผู้ประกอบการ :</label>
                    </div>
                    <div class="col-md-9 text-left p-t-label">
                        <span>{{ item.ownerName }}</span>
                    </div>
                </div>

                <div class="row" style="padding-left: 30px; padding-right: 30px">
                    <div class="text-right p-t-label">
                        <label>จำนวนสถานการค้าปลีก :</label>
                    </div>
                    <div class="col-md-9 text-left p-t-label">
                        <span>{{ item.stationNum | number }} ราย</span>
                    </div>
                </div>

                <!-- <hr width="100%" size="5" color="#e9ecef" /> -->
                <!-- <div class="row row-from-group">
          <div class="col-md-12 text-left p-t-label">
            <label style="margin-left: 5vw"
              >{{ i + 1 }}. วันที่ลงทะเบียน: &nbsp; {{ item.docDate }} <br />
              เลขทะเบียน: &nbsp; {{ item.docNo }} <br />
              ชื่อผู้ประกอบการ: &nbsp; {{ item.ownerName }} <br />
              จำนวนสถานการค้าปลีก: &nbsp; {{ item?.stationNum | number }} &nbsp;
              ราย</label
            >
          </div>
        </div> -->
            </div>
        </ng-container>

        <div class="row form-group" style="margin-top: 10px">
            <div class="col-md-12 text-center">
                <mat-checkbox [(ngModel)]="check_agree" [checked]="check_agree">
                    &nbsp; ข้าพเจ้าขอรับรองว่ารายการที่แสดงไว้เป็นความจริงทุกประการ
                </mat-checkbox>

                &nbsp;&nbsp;
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 20px">
            <button *ngIf="check_agree" type="button" class="btn btn-info width-button btn-border-r" (click)="submit_sendDesign()">
        ส่งแบบ
      </button>
            <button type="button" class="btn btn-danger width-button btn-border-r" (click)="close_sendDesign()" style="margin-left: 10px">
        ยกเลิก
      </button>
        </div>
    </div>
</ng-template>
<!--end modal plot -->

<!--start modal approval -->
<ng-template #statusNotApprove_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        รายละเอียด
        <i class="fa fa-times" style="color: white" (click)="d('กากบาท')"></i>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-3 text-right p-t-label">
                <label>วันที่แจ้ง : </label>
            </div>
            <div class="col-md-7 p-t-label">
                <label>{{ statusNotApproveData_modal.createdDate }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-right p-t-label">
                <label>ชื่อสถานประกอบการ : </label>
            </div>
            <div class="col-md-7 p-t-label">
                <label>{{ statusNotApproveData_modal.ownerName }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-right p-t-label">
                <label>เขต : </label>
            </div>
            <div class="col-md-7 p-t-label">
                <label>{{ statusNotApproveData_modal.amphurName }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-right p-t-label">
                <label>รายละเอียด : </label>
            </div>
            <div class="col-md-7 p-t-label">
                <label>{{ statusNotApproveData_modal.detaill }}</label>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 20px">
            <button type="button" class="btn btn-danger width-button btn-border-r" (click)="close_statusNotApprove()" style="margin-left: 10px">
        ปิด
      </button>
        </div>
    </div>
</ng-template>
<!--end modal plot -->

<!--start modal approval -->
<ng-template #statusDesign_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        รายละเอียด
        <i class="fa fa-times" style="color: white" (click)="d('กากบาท')"></i>
    </div>

    <div class="modal-body">
        <ng-container *ngFor="let item of statusDesignModal; let i = index">
            <div class="row" style="margin-top: 0.5vw">
                <div class="col">
                    <div class="card">
                        <div class="row" (click)="item.select = !item.select" style="margin-left: 0px; margin-right: 0px; cursor: pointer">
                            <div class="col-12 text-left" style="height: 50px; background: #006634">
                                <b style="margin-top: 10px; font-size: 24px; color: white">
                  <i *ngIf="!item.select" style="font-size: 24px; color: white !important"
                    class="fa fa-plus-circle"></i>

                  <i *ngIf="item.select" style="font-size: 24px; color: white !important"
                    class="fa fa-minus-circle"></i>
                  &nbsp;<span class="p-t-label">
                    ชื่อสถานการค้าปลีก :
                    {{ item.stationName }}
                  </span>

                </b>
                            </div>
                        </div>

                        <ng-container *ngIf="item.select" class="fade-in-out">
                            <div class="card-x">
                                <!-- <div class="row" style="margin: 0.5px; background: white">
                  <div class="col">
                    <ng-container
                      *ngFor="let it of item.logList; let j = index"
                    >
                      <div
                        class="row row-from-group"
                        style="
                          margin-top: 15px;
                          margin-bottom: 15px;
                          margin-left: 15px;
                          margin-right: 15px;
                        "
                      >
                        <div class="col-md-12 text-left p-t-label">
                          <span>
                            {{ j + 1 }}. วันที่ทำรายการ :
                            {{ it.actionDate }} สถานะ :
                            {{ it.statusName }} หมายเหตุ :
                            {{ it.remark }}
                          </span>
                        </div>
                      </div>
                    </ng-container>

                    <div
                      *ngIf="item.logList.length == 0"
                      class="row row-from-group"
                      style="margin: 15px"
                    >
                      <div class="col-md-12 text-center">
                        <span style="font-weight: 400">ไม่พบข้อมูล</span>
                      </div>
                    </div>
                  </div>
                </div> -->
                                <ng-container *ngFor="let it of item.logList; let j = index">
                                    <div class="row box" style="margin: 0.5px; padding: 15px; background: white">
                                        <div class="col-md-12 text-left p-t-label">
                                            <span>
                        <b style="font-weight: bold">{{ j + 1 }}. วันที่ทำรายการ :
                        </b>
                        {{ it.actionDate }}
                        &nbsp;
                        <b style="font-weight: bold">สถานะ : </b>
                        <span [ngClass]="{
                            oragan: it.status == '1',
                            green: it.status == '3',
                            red: it.status == '2',
                            blue: it.status == '0'
                          }">
                          {{ it.statusName }}
                        </span> &nbsp;
                                            <b style="font-weight: bold">หมายเหตุ : </b> {{ it.remark }}
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="row" *ngIf="statusDesignModal.length == 0">
            <div class="col-md-12 text-center">
                <span>ไม่พบข้อมูล</span>
            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 20px">
            <button type="button" class="btn btn-danger width-button btn-border-r" (click)="close_statusDesign()" style="margin-left: 10px">
        ปิด
      </button>
        </div>
    </div>
</ng-template>
<!--end modal plot -->