<div
  *ngIf="showLogin"
  class="d-flex justify-content-center align-items-center"
  style="padding-top: 3vw"
>
  <div id="login_wrapper" class="row col-md-12 justify-content-center">
    <section id="login_content">
      <div class="logo text-center">
        <img
          src="assets/img/logo/bkk_logo_login.png"
          alt="logo"
          class="logo-img"
        />
      </div>

      <div class="login-body">
        <h1
          class="login-title"
          style="font-size: 25px !important; color: #053a1d"
        >
          ลงทะเบียน
        </h1>
        <br />
        <h1
          class="login-title"
          style="font-size: 23px !important; color: #053a1d"
        >
          ระบบชำระภาษีบำรุงกรุงเทพมหานคร
        </h1>
        <h2
          class="login-title text-center"
          style="font-size: 20px !important; padding-top: 10px; color: #305b43"
        >
          สำหรับน้ำมันเบนซินและน้ำมันที่คล้ายกัน<br />
          น้ำมันดีเซลและน้ำมันที่คล้ายกัน<br />
          และก๊าซปิโตรเลียมจากสถานการค้าปลีก
        </h2>

        <form
          class="form-horizontal"
          (keyup.enter)="onSubmit()"
          name="formData"
          #formData="ngForm"
          style="margin-top: 5vh"
        >
          <div class="form-group row">
            <label class="sr-only"> Username</label>
            <div class="col-md">
              <mat-form-field floatPlaceholder="never">
                <span>อีเมล</span>
                <input
                  type="email"
                  required
                  id="email"
                  name="email"
                  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+.[A-Za-z]{2,3}$"
                  style="margin-top: 1vw; font-size: 18px"
                  matInput
                  name="username"
                  [(ngModel)]="model.username"
                  #username="ngModel"
                  ngModel
                  #emailref="ngModel"
                  [class.success]="!emailref.invalid"
                />
              </mat-form-field>
              <div
                *ngIf="emailref.errors && (emailref.touched || emailref.dirty)"
                class="text-error"
              >
                <span>รูปแบบอีเมล์ไม่ถูกต้อง</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <button
                mat-ripple
                (click)="onSubmit()"
                class="btn btn-danger width-button"
                style="background-color: #057a55; color: #fff"
                type="button"
              >
                ลงทะเบียน
              </button>

              <button
                mat-ripple
                (click)="cancel()"
                class="btn btn-danger width-button"
                style="color: #fff"
                type="button"
              >
                กลับ
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="login-footer"></div>
    </section>
  </div>
</div>
