/* You can add global styles to this file, and also import other style files */
//== Vendor
@import "../node_modules/multi-brand-colors/dist/scss/index.scss";
@import "../node_modules/@mdi/font/css/materialdesignicons.css";
@import "../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons");
//== App
@import "./app//shared/styles/app.scss";
@import "~@angular/material/theming";

// Include non-theme styles for core.
@mixin md-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
}

.md-icon-16 {
  @include md-icon-size(16px);
}

.md-icon-18 {
  @include md-icon-size(18px);
}

.md-icon-24 {
  @include md-icon-size(24px);
}

.md-icon-36 {
  @include md-icon-size(36px);
}

@include mat-core();

$mat-custom-theme: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #3dc046,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// Define a theme.
$primary: mat-palette($mat-custom-theme);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

@import url(assets/fonts/Thsarabunlight/thsarabunlight.css);

#app_topnavbar-wrapper .navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 0;
  // box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) !important;
  //max-height: 65px;
  //max-height: 6vw !important;
  max-height: inherit !important;
}

body #app_wrapper #app_topnavbar-wrapper {
  // background-color: #4c6561;
  background-color: #006634;
  color: #fff;
  // height: 6vw !important;
  height: inherit !important;
}

.p-t-input {
  bottom: 1vw;
}

.p-t-row {
  margin-bottom: -5px;
  margin-top: -5px;
}

.p-t-row-modal {
  margin-top: 15px;
}

// .modal-header {
//   background-color: #006634 !important;
// }

// body {
//   overflow-y: hidden !important;
// }

.modal-content {
  // top: 50% !important;
  // width: 60vw !important;
  margin-top: 35% !important;

}

.btn-border-r {
  border-radius: 10rem;
}

.modal-lg,
.modal-xl {
  max-width: 100% !important;
  max-height: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
}

.content {
  position: relative !important;
}

.content-full-wrapper {
  position: relative !important;
  //
}

.company-list-inner-wrapper {
  position: relative !important;
}

.icon-toolbar {
  cursor: pointer;
}

.form-group {
  margin-bottom: 0.5vw;
}

.p-t-span {
  margin-top: 0.3vw;
}

// .modal-xl .modal-lg {
//   max-width: 100% !important;
//   width: 100% !important;
//   max-height: 100% !important;
//   height: 100% !important;
// }

.btn-success {
  border-radius: 26px;
  size: 3px;
  // padding: 0px 32px;
  padding: 8px 8px;
}
.btn-warning {
  border-radius: 26px;
  size: 2px;
  margin-left: 10px;
  padding: 8px 8px;
}
.btn-danger {
  border-radius: 26px;
  size: 2px;
  margin-left: 10px;
  padding: 8px 8px;
}

.btn-secondary {
  border-radius: 26px;
  size: 2px;
  margin-left: 10px;
  padding: 8px 8px;
}
.btn-outline-primary {
  border-radius: 26px;
}

.btn-info {
  border-radius: 26px;
  size: 2px;
  margin-left: 10px;
  padding: 8px 8px;
}

// .width-button {
//   border-radius: 100vw;
// }

.row .justify-content-center {
  margin: 1vw;
}

.btn-custom {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-info-custom {
  color: #0a5c3d;
  background-color: transparent;
  background-image: none;
  border-color: #0a5c3d;
  border-radius: 2vw;
}

.btn-info-custom:hover {
  background-color: #0a5c3d;
  color: white;
}

.btn-info-custom:active {
  background-color: #0a5c3d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

//add butom ไม่อนุมัติ

.btn-info-custom-disapproval {
  color: #c70039;
  background-color: transparent;
  background-image: none;
  border-color: #c70039;
  border-radius: 2vw;
}

.btn-info-custom-disapproval:hover {
  background-color: #c70039;
  color: white;
}

.btn-info-custom-disapproval:active {
  background-color: #c70039;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* CSS to change Default/'Accent' color */
// green
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #16a085; /*replace with your color*/
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #45b39d; /*replace with your color*/
}

/* CSS to change 'Primary' color */

// .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
//     background-color: green;
// }

// .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
//     background-color: #ff99ff;
// }

// /* CSS to change 'Warn' color */

// .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
//     background-color: red;
// }

// .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
//     background-color: #ffe066;
// }

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  //background-color: #005691!important;
  background-color: #16a085; /*replace with your color*/
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  //background-color: #005691;
  background-color: #45b39d; /*replace with your color*/
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #45b39d !important; /*replace with your color*/
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #16a085;
}

.mat-tab-body-content {
  overflow-x: hidden !important;
}

.icon-pointer-toolbar {
  cursor: pointer;
}

.mat-tab-label-content {
  font-family: "THSarabunLight", sans-serif;
  font-size: 16px;
  font-weight: bold !important;
}

.nav-item .dropdown {
  font-family: "THSarabunLight", sans-serif !important;
}

.navbar-nav {
  font-family: "THSarabunLight", sans-serif !important;
}

.span {
  font-family: "THSarabunLight", sans-serif !important;
}
a {
  font-size: 16px;
  font-family: "THSarabunLight", sans-serif !important;
}

.sub-ment {
  font-size: 14px !important;
  font-family: "THSarabunLight", sans-serif !important;
}
span {
  font-size: 16px !important;
  font-family: "THSarabunLight", sans-serif !important;
}

label {
  font-size: 18px !important;
  font-family: "THSarabunLight", sans-serif !important;
}
//edit table style
//table desing
.table-list-style{
  table, th, td {
  border-width: thin !important;
  border: 0.9px solid rgb(204, 204, 204)  !important;
  } 
  table{
  width: 100% !important;
  border-collapse: collapse  !important;  
  }
  tr:nth-child(even){
  background-color: rgb(231, 231, 231)!important;  
  }
  th {
    padding: 15px !important;
    background-color: rgb(231, 231, 231)!important;
  }
  td {
    padding: 15px !important;
  }
  tr:hover {
    background-color:#daf8c8 !important;
  }
}
th {
  font-weight: bold !important;
  font-size: 18px !important;
  font-family: "THSarabunLight", sans-serif !important;
}
td {
  font-size: 16px !important;
  font-family: "THSarabunLight", sans-serif !important;
}


button {
  font-size: 16px !important;
  font-family: "THSarabunLight", sans-serif !important;
}
h1 {
  font-weight: bold !important;
  font-size: 24px !important;
  font-family: "THSarabunLight", sans-serif !important;
}
h2 {
  font-weight: bold !important;
  font-size: 20px !important;
  font-family: "THSarabunLight", sans-serif !important;
}
h3 {
  font-weight: bold !important;
  font-size: 20px !important;
  font-family: "THSarabunLight", sans-serif !important;
}
h4 {
  font-weight: bold !important;
  font-size: 20px !important;
  font-family: "THSarabunLight", sans-serif !important; 
}
p {
  font-size: 16px !important;
  font-family: "THSarabunLight", sans-serif !important;
}

input {
  font-family: "THSarabunLight", sans-serif !important;
  line-height: 1.8em !important;
}


.modal-header {
  font-family: "THSarabunLight", sans-serif !important;
}

.mat-option-text {
  font-family: "THSarabunLight", sans-serif !important;
}

textarea {
  font-family: "THSarabunLight", sans-serif !important;
}

.mat-expansion-panel-body {
  padding: 0px !important;
}
// styles Tabel
.checkbox-menu {
  text-align: center !important;
  width: 10px !important;
  vertical-align: top !important;
}
.order-num {
  text-align: center !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
  vertical-align: top !important;
}
.update-date {
  text-align: center !important;
  vertical-align: top !important;
  max-width: 120px !important;
  min-width: 120px !important;
  width: 120px !important;
}
.status {
  text-align: center !important;
  vertical-align: top !important;
  width: 140px !important;
}
.manage-tool {
  text-align: center !important;
  vertical-align: top !important;
  width: 200px !important;
}

.col-orderby {
  vertical-align: top !important;
  width: 10px !important;
  min-width: 10px !important;
}

.col-name {
  vertical-align: top !important;
  // width: auto !important;
  // min-width: 10px !important;
}

.col-name-doc-pn01 {
  vertical-align: top !important;
  width: 420px !important;
  min-width: 420px !important;
}

.col-name-doc-pn03 {
  vertical-align: top !important;
  width: 410px !important;
  min-width: 410px !important;
}

.col-quantity-doc-pn01 {
  vertical-align: top !important;
  width: 115px !important;
  min-width: 115px !important;
}

.col-quantity {
  vertical-align: top !important;
  width: 50px !important;
  min-width: 50px !important;
}

.col-postcode {
  vertical-align: top !important;
  width: 115px !important;
  min-width: 115px !important;
}

.col-date {
  vertical-align: top !important;
  width: 140px !important;
  min-width: 140px !important;
}

.col-docNo {
  vertical-align: top !important;
  width: 140px !important;
  min-width: 140px !important;
}

.col-docNo-pn1 {
  vertical-align: top !important;
  width: 180px !important;
  min-width: 180px !important;
}

.col-status {
  vertical-align: top !important;
  width: 110px !important;
  min-width: 110px !important;
}

.col-status-pn1 {
  vertical-align: top !important;
  width: 145px !important;
  min-width: 145px !important;
}

.col-status-pn02 {
  vertical-align: top !important;
  width: 180px !important;
  min-width: 180px !important;
}

.col-businessstatus {
  vertical-align: top !important;
  width: 300px !important;
  min-width: 300px !important;
}

.col-businessstatus-pn-1 {
  vertical-align: top !important;
  width: 150px !important;
  min-width: 150px !important;
}

.col-export {
  vertical-align: top !important;
  width: 50px !important;
  min-width: 50px !important;
}

.col-export-sendmail {
  vertical-align: top !important;
  width: 100px !important;
  min-width: 100px !important;
}

.col-export-sendmail1 {
  vertical-align: top !important;
  width: 165px !important;
  min-width: 165px !important;
}

.col-export-linkExportWarnForm {
  vertical-align: top !important;
  width: 200px !important;
  min-width: 200px !important;
}

.col-manament {
  vertical-align: top !important;
  width: 180px !important;
  min-width: 180px !important;
}

.col-manament-pn {
  vertical-align: top !important;
  width: 10px !important;
  min-width: 10px !important;
}

.col-td-money {
  padding-right: 2vw !important;
}

.title{
  text-align: right !important;
  font-weight: 600;
}

.btn-success1 {
  border-radius: 26px;
  size: 2px;
  margin-left: 10px;
  padding: 8px 8px;
  background-color: #006634 !important;
  color: #ffffff !important;
}
.btn-warning{
  border-radius: 26px;
  size: 2px;
  margin-left: 10px;
  padding: 8px 8px;
  background-color: orange !important;
  color: #ffffff !important;
}

.col-status {
  text-align: left !important;
  vertical-align: top !important;
  max-width: 170px !important;
  min-width: 170px !important;
  width: 170px !important;
}

.col-status02 {
  text-align: left !important;
  vertical-align: top !important;
  max-width: 100px !important;
  min-width: 100px !important;
  width: 100px !important;
}

.col-statusover {
  text-align: left !important;
  vertical-align: top !important;
  max-width: 170px !important;
  min-width: 170px !important;
  width: 170px !important;
}

.col-office {
  text-align: left !important;
  vertical-align: top !important;
  max-width: 160px !important;
  min-width: 150px !important;
  width: 140px !important;
}

.col-totalqty {
  text-align: right !important;
  vertical-align: top !important;
  max-width: 140px !important;
  min-width: 140px !important;
  width: 140px !important;
}

.col-totalamt {
  text-align: right !important;
  vertical-align: top !important;
  max-width: 160px !important;
  min-width: 160px !important;
  width: 160px !important;
}

.col-taxamt {
  text-align: right !important;
  vertical-align: top !important;
  max-width: 170px !important;
  min-width: 170px !important;
  width: 170px !important;
}

.col-updateddate {
  text-align: center !important;
  max-width: 120px !important;
  min-width: 120px !important;
  width: 120px !important;
  vertical-align: top !important;
}

.col-active {
  text-align: center !important;
  max-width: 160px !important;
  min-width: 160px !important;
  width: 160px !important;
  vertical-align: top !important;
}

.col-fit-content-c {
  text-align: center !important;
  vertical-align: top !important;
  width: 1%;
  white-space: nowrap;
}

.col-fit-content-l {
  text-align: left !important;
  vertical-align: top !important;
  width: 1%;
  white-space: nowrap;
}

.col-fit-content-r {
  text-align: right !important;
  vertical-align: top !important;
  width: 1%;
  white-space: nowrap;
}

.col-free-content-l {
  text-align: left !important;
  vertical-align: top !important;
  width: 50%;
  white-space: nowrap;
}
.col-free-content-c {
  text-align: center !important;
  vertical-align: top !important;
  width: 50%;
  white-space: nowrap;
}

.col-free-content-r {
  text-align: right !important;
  vertical-align: top !important;
  width: 50%;
  white-space: nowrap;
}

.col-3{
  padding-right: 2vw !important;
  padding-left: 0px !important;
 }
.col-2{
  padding-right: 5px !important;
}
/*  */
// Small devices (landscape phones, 576px and up)
@media (min-width: 320px)and(max-width: 767px) {
  .label-custom {
    text-align: left !important;
  }

  .label-custom-text {
    text-align: left !important;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .label-custom-dropdown {
    text-align: left !important;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .label-custom-radio {
    text-align: left !important;
    margin-top: 24px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .label-custom-date {
    text-align: left !important;
    margin-top: 12px;
    padding-top: 0px;
    padding-left: 24px;
  }

  .label-custom-date-sub {
    text-align: left !important;
    padding-top: 0px;
    padding-left: 24px;
  }

  .label-custom-enddate-sub {
    text-align: left !important;
    margin-left: 28px;
    padding-top: 0px;
  }

  .label-custom-checkbox {
    text-align: left !important;
    margin-top: 24px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .label-custom-upload {
    text-align: left !important;
    margin-top: 24px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .label-custom-textarea {
    text-align: left !important;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .label-custom-toggle {
    text-align: left !important;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .label-custom-date {
    text-align: left !important;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 0px;
  }

  //input
  .input-custom-label {
    text-align: left !important;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .input-custom-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .input-custom-dropdown {
    margin-left: 20px;
    margin-right: 20px;
  }

  .input-custom-radio {
    margin-left: 20px;
    margin-right: 20px;
  }

  .input-custom-checkbox {
    margin-left: 20px;
    margin-right: 20px;
  }

  .input-custom-textarea {
    margin-left: 20px;
    margin-right: 20px;
  }

  .input-custom-toggle {
    margin-left: 20px;
    margin-right: 20px;
  }

  .input-custom-upload {
    margin-left: 20px;
    margin-right: 30px;
  }

  .input-custom-date {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .label-custom {
    text-align: right !important;
  }

  .label-custom-text {
    text-align: right !important;
    margin-top: 20px;
    padding-right: 0px;
  }

  .label-custom-dropdown {
    text-align: right !important;
    margin-top: 24px;
    padding-right: 0px;
  }

  .label-custom-radio {
    text-align: right !important;
    margin-top: 24px;
    padding-right: 0px;
  }

  .label-custom-date-sub {
    text-align: left !important;
    margin-top: 5px;
    padding-top: 0px;
    padding-left: 14px;
  }

  .label-custom-enddate-sub {
    text-align: left !important;
    margin-top: 5px;
    padding-top: 0px;
    padding-left: 14px;
  }

  .label-custom-checkbox {
    text-align: right !important;
    margin-top: 24px;
    margin-bottom: 20px;
    padding-right: 0px;
  }

  .label-custom-upload {
    text-align: right !important;
    margin-top: 24px;
    padding-right: 0px;
  }

  .label-custom-textarea {
    text-align: right !important;
    margin-top: 20px;
    padding-right: 0px;
  }

  .label-custom-toggle {
    text-align: right !important;
    margin-top: 16px;
    padding-right: 0px;
  }

  .label-custom-date {
    text-align: right !important;
    margin-top: 5px;
    padding-right: 0px;
  }

  //input
  .input-custom-label {
    text-align: left !important;
    margin-top: 20px;
    padding-right: 0px;
  }

  .input-custom-radio {
    margin-top: 24px;
  }

  .input-custom-checkbox {
    margin-top: 29px;
  }

  .input-custom-textarea {
    margin-top: 29px;
  }

  .input-custom-toggle {
    margin-top: 22px;
  }

  .input-custom-date {
    margin-top: 0px;
  }
}