<div id="content_wrapper" class="content-full-wrapper" style="margin-top: 4vw">
    <div class="content">
        <div class="header-wrapper header-sm">
            <header class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>
                            แบบยื่นคำร้องขอรับเงินคืน
                        </h1>
                    </div>
                </div>
            </header>
        </div>

        <div class="content-body" style="padding-top: 0px">
            <div class="row" style="margin-top: 0.5vw">
                <div class="col">
                    <div class="card-1">
                        <div class="row" (click)="panelOpenState = !panelOpenState" style="margin-left: 0px; margin-right: 0px; cursor: pointer">
                            <div class="col-12 text-left" style="height: 50px; background: #006634">
                                <h2 style="font-size: 18px; margin-top: 10px">
                                    <i *ngIf="!panelOpenState" style="font-size: 24px;" class="fa fa-minus-circle"></i>

                                    <i *ngIf="panelOpenState" style="font-size: 24px;" class="fa fa-plus-circle"></i> &nbsp; ข้อมูลผู้ประกอบการ
                                </h2>
                            </div>
                        </div>

                        <ng-container *ngIf="!panelOpenState" class="fade-in-out">
                            <div class="row" style="margin: 0.5px; background: white">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-3 text-right label-custom-text">
                                            <label>ชื่อผู้ประกอบการ </label>
                                        </div>
                                        <div class="col-md-6 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.ownerName
                        }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 text-right label-custom-text">
                                            <label style="margin: 0px">เลขประจำตัวผู้เสียภาษีอากร :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.taxNo
                        }}</span>
                                        </div>

                                        <div class="col-md-3 text-right label-custom-text">
                                            <label>ประเภทผู้เสียภาษี :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.customerType
                        }}</span>
                                        </div>
                                    </div>

                                    <ng-container>
                                        <div class="row">
                                            <div class="col-md-3 text-right label-custom-text">
                                                <label>บัตรประจำตัวประชาชนเลขที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>{{
                          data_getDataByMemberName.idCard
                          }}</span>
                                            </div>

                                            <div class="col-md-3 text-right label-custom-text">
                                                <label>ออกให้ ณ ที่ว่าการอำเภอ/เขต :</label>
                                            </div>
                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>{{
                          data_getDataByMemberName.idCardAt
                          }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container>
                                        <div class="row">
                                            <div class="col-md-3 text-right label-custom-text">
                                                <label>เลขทะเบียนนิติบุคคลที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>{{
                          data_getDataByMemberName.corpNo
                          }}</span>
                                            </div>

                                            <div class="col-md-3 text-right label-custom-text">
                                                <label>เมื่อวันที่ :</label>
                                            </div>

                                            <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                                <span>{{
                          data_getDataByMemberName.corpDate
                          }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="row">
                                        <div class="col-md-3 text-right label-custom-text">
                                            <label>เลขรหัสประจำบ้าน :</label>
                                        </div>
                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{ data_getDataByMemberName.houseNo }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 text-right label-custom-text">
                                            <label>ที่อยู่ :</label>
                                        </div>

                                        <div class="col-md-9 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.fullAddress
                        }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 text-right label-custom-text">
                                            <label style="margin: 0px">รหัสไปรษณีย์ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.postcode
                        }}</span>
                                        </div>

                                        <div class="col-md-3 text-right label-custom-text">
                                            <label>เบอร์โทรศัพท์ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-text" style="margin-top: 20px !important;">
                                            <span>{{
                        data_getDataByMemberName.mobile
                        }}</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 text-right label-custom-text">
                                            <label>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ :</label>
                                        </div>
                                        <div class="col-md-7 input-custom-text" style="margin-top: 20px !important;">
                                            <!-- <span>ผู้มีอำนาจลงนาม/ผู้รับมอบอำนาจ</span> -->
                                        </div>
                                    </div>

                                    <hr width="100%" size="5" color="#e9ecef" />

                                    <br />
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 0.5vw">
                <div class="col">
                    <div class="card-1">
                        <div class="row" style="margin-left: 0px; margin-right: 0px; cursor: pointer">
                            <div class="col-12 text-left" style="height: 50px; background: #006634">
                                <h2 style="font-size: 18px; margin-top: 10px">
                                    &nbsp; แบบยื่นคำร้องขอรับเงินคืน
                                </h2>
                            </div>
                        </div>

                        <ng-container class="fade-in-out">
                            <div class="row" style="margin: 0.5px; background: white">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-8 text-left p-t-label" style="font-weight: 600;">
                                            <label>ข้อมูลการยื่นภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมันฯ</label>
                                        </div>
                                        <div class="col-md-6 text-left p-t-label">
                                            <!-- <span>{{
                        data_getDataByMemberName.ownerName
                      }}</span> -->
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-dropdown">
                                            <label>ชื่อสถานการค้าปลีก :</label>
                                        </div>
                                        <div class="col-md-6 input-custom-dropdown">
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="data.refStationId" [ngModelOptions]="{ standalone: true }" (ngModelChange)="getDataStation(data.refStationId)">
                                                    <mat-option value="">---กรุณาเลือกชื่อสถานการค้าปลีก---</mat-option>
                                                    <mat-option *ngFor="let item of drpListStationByTaxNo" [value]="item.id">
                                                        {{ item?.name }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-8 text-left p-t-label" style="font-weight: 600;">
                                            <label>ท่านได้รับชำระภาษีบำรุงกรุงเทพมหานครสำหรับน้ำมันฯ</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 label-custom-dropdown">
                                            <label style="margin: 0px">ปี :</label>
                                        </div>

                                        <div class="col-md-1 input-custom-dropdown">
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="data.yearly" [ngModelOptions]="{ standalone: true }" (ngModelChange)="
                            setChangeyear(data.yearly); getStatusAndFinesByMonth()
                          ">
                                                    <mat-option *ngFor="let item of drpyear" [value]="item">
                                                        {{ item }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-xl-1 col-md-2 label-custom-dropdown">
                                            <label>เดือน :</label>
                                        </div>

                                        <div class="col-md-2 input-custom-dropdown">
                                            <mat-form-field>
                                                <mat-select [(ngModel)]="data.monthly" [ngModelOptions]="{ standalone: true }" (ngModelChange)="
                            setChangemonth(data.monthly); getStatusAndFinesByMonth()
                          ">
                                                    <mat-option *ngFor="let item of drpmonth" [value]="item.id">
                                                        {{ item.name }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-2 label-custom-text">
                                            <label>จำนวนเงิน (บาท) :</label>
                                        </div>

                                        <div class="col-md-2 input-custom-text">
                                            <mat-form-field style="width: 150px !important">
                                                <input class="number-input" matInput [textMask]="{ mask: currencyMask }" [(ngModel)]="data.amount" [ngModelOptions]="{ standalone: true }" (keypress)="numberOnly($event)" />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 label-custom-text">
                                            <label>ใบเสร็จรับเงินเลขที่ :</label>
                                        </div>
                                        <div class="col-md-4 input-custom-text ">
                                            <mat-form-field>
                                                <input matInput [(ngModel)]="data.receiptNo" [ngModelOptions]="{ standalone: true }" (keypress)="numberOnly($event)" />
                                            </mat-form-field>
                                        </div>

                                        <div class="input-custom-date">
                                            <label>ลงวันที่ :</label>
                                        </div>

                                        <div class="col-md-3 input-custom-date" style="width: 15px !important">
                                            <mat-date-picker-th class="datapicker-text" [(ngModel)]="data.receiptDate" [ngModelOptions]="{ standalone: true }" matInput>
                                            </mat-date-picker-th>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 text-left p-t-label" style="font-weight: 600;">
                                            <label>เอกสารประกอบ</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-11">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-orderby">
                                                            <label>ลำดับ</label>
                                                        </th>
                                                        <th class="text-center col-name-doc-pn01">
                                                            <label>รายการเอกสาร</label>
                                                        </th>
                                                        <!-- <th class="text-center col-quantity-doc-pn01">
                              <label>จำนวน (แผ่น)</label>
                            </th> -->
                                                        <th class="text-center col-name">
                                                            <label>เอกสารแนบ</label>
                                                        </th>
                                                        <th class="text-center col-orderby"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar col-orderby">
                                                            <span>1</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar col-name-doc-pn01">
                                                            <span> ใบเสร็จรับเงิน หรือหลักฐานการชำระเงิน
                              </span>
                                                            <span style="color: red">*</span> &nbsp;
                                                            <br />
                                                        </td>

                                                        <td class="text-left icon-pointer-toolbar">
                                                            <ng-container *ngFor="
                                  let item of data.billPaymentFileList;
                                  let i = index
                                ">
                                                                <a href="{{ item.ShowFile }}" target="_blank" class="icon-pointer-toolbar">{{ i + 1 }} .
                                  {{ item?.fileName }}</a> &nbsp;&nbsp;

                                                                <button matTooltip="{{ config.tooltripMsg.delete }}" (click)="
                                    removeFiles_billPaymentFileList(
                                      item.pathFile,
                                      i
                                    )
                                  " type="button" class="btn-custom btn-info-custom">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                                                <br />
                                                            </ng-container>
                                                        </td>

                                                        <td class="text-center icon-pointer-toolbar col-orderby">
                                                            <button (click)="clickFileImage_billPaymentFileList()" matTooltip="แนบไฟล์" type="button" class="btn-custom btn-info-custom">
                                แนบไฟล์
                              </button>

                                                            <!-- <input ng2FileSelect [uploader]="uploader_billPaymentFileList" type="file" multiple
                                id="fileImage_billPaymentFileList" class="custom-file-input hidden" name="fileImage"
                                accept=".pdf, .doc, .docx, .xlsx, .xls" title=" " /> -->
                                                            <input ng2FileSelect (change)="fileOverBase_billPaymentFileList($event)" [uploader]="uploader_billPaymentFileList" type="file" multiple id="fileImage_billPaymentFileList" class="custom-file-input hidden" name="fileImage" accept=".pdf, .doc, .docx, .xlsx, .xls"
                                                                title=" " />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar col-orderby">
                                                            <span>2</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar col-name-doc-pn01">

                                                            <span>หนังสือมอบอำนาจกรณียื่นคำร้องแทน
                              </span>

                                                        </td>

                                                        <td class="text-left icon-pointer-toolbar">
                                                            <ng-container *ngFor="
                                  let item of data.authorizeFileList;
                                  let i = index
                                ">
                                                                <a href="{{ item.ShowFile }}" target="_blank" class="icon-pointer-toolbar">{{ i + 1 }} .
                                  {{ item?.fileName }}</a> &nbsp;&nbsp;

                                                                <button matTooltip="{{ config.tooltripMsg.delete }}" (click)="
                                    removeFiles_authorizeFileList(
                                      item.pathFile,
                                      i
                                    )
                                  " type="button" class="btn-custom btn-info-custom">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                                                <br />
                                                            </ng-container>
                                                        </td>

                                                        <td class="text-center icon-pointer-toolbar col-orderby">
                                                            <button (click)="clickFileImage_authorizeFileList()" matTooltip="แนบไฟล์" type="button" class="btn-custom btn-info-custom">
                                แนบไฟล์
                              </button>

                                                            <input ng2FileSelect (change)="fileOverBase_authorizeFileList($event)" [uploader]="uploader_authorizeFileList" type="file" multiple id="fileImage_authorizeFileList" class="custom-file-input hidden" name="fileImage" accept=".pdf, .doc, .docx, .xlsx, .xls"
                                                                title=" " />
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar col-orderby">
                                                            <span>3</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar col-name-doc-pn01">
                                                            <span>บัตรประจำตัวประชาชน</span>
                                                            <span style="color: red">*</span> &nbsp;
                                                        </td>

                                                        <td class="text-left icon-pointer-toolbar">
                                                            <ng-container *ngFor="
                                  let item of data.idCardFileList;
                                  let i = index
                                ">
                                                                <a href="{{ item.ShowFile }}" target="_blank" class="icon-pointer-toolbar">{{ i + 1 }} .
                                  {{ item?.fileName }}</a> &nbsp;&nbsp;

                                                                <button matTooltip="{{ config.tooltripMsg.delete }}" (click)="
                                    removeFiles_idCardFileList(
                                      item.pathFile,
                                      i
                                    )
                                  " type="button" class="btn-custom btn-info-custom">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                                                <br />
                                                            </ng-container>
                                                        </td>

                                                        <td class="text-center icon-pointer-toolbar col-orderby">
                                                            <button (click)="clickFileImage_idCardFileList()" matTooltip="แนบไฟล์" type="button" class="btn-custom btn-info-custom">
                                แนบไฟล์
                              </button>

                                                            <input ng2FileSelect (change)="fileOverBase_idCardFileList($event)" [uploader]="uploader_idCardFileList" type="file" multiple id="fileImage_idCardFileList" class="custom-file-input hidden" name="fileImage" accept=".pdf, .doc, .docx, .xlsx, .xls" title=" "
                                                            />
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td class="text-center icon-pointer-toolbar col-orderby">
                                                            <span>4</span>
                                                        </td>
                                                        <td class="text-left icon-pointer-toolbar col-name-doc-pn01">
                                                            <span>หน้าสมุดบัญชีธนาคาร</span>
                                                            <span style="color: red">*</span> &nbsp;
                                                        </td>


                                                        <td class="text-left icon-pointer-toolbar">
                                                            <ng-container *ngFor="
                                  let item of data.bookBankFileList;
                                  let i = index
                                ">
                                                                <a href="{{ item.ShowFile }}" target="_blank" class="icon-pointer-toolbar">{{ i + 1 }} .
                                  {{ item?.fileName }}</a> &nbsp;&nbsp;

                                                                <button matTooltip="{{ config.tooltripMsg.delete }}" (click)="
                                    removeFiles_bookBankFileList(
                                      item.pathFile,
                                      i
                                    )
                                  " type="button" class="btn-custom btn-info-custom">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                                                <br />
                                                            </ng-container>
                                                        </td>

                                                        <td class="text-center icon-pointer-toolbar col-orderby">
                                                            <button (click)="clickFileImage_bookBankFileList()" matTooltip="แนบไฟล์" type="button" class="btn-custom btn-info-custom">
                                แนบไฟล์
                              </button>

                                                            <input ng2FileSelect (change)="fileOverBase_bookBankFileList($event)" [uploader]="uploader_bookBankFileList" type="file" multiple id="fileImage_bookBankFileList" class="custom-file-input hidden" name="fileImage" accept=".pdf, .doc, .docx, .xlsx, .xls"
                                                                title=" " />
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <hr width="100%" size="5" color="#e9ecef" />

                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="button" class="btn btn-success1 width-button" (click)="validation_form()">
                        บันทึก
                      </button>
                                            <button type="button" class="btn btn-danger width-button" (click)="cancel()">
                        ยกเลิก
                      </button>
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>