<div class="content" style="margin-top: 2.5%">
  <div class="content-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <ng-container *ngFor="let item of dataList; let i = index">
                <div
                  class="col-md-3"
                  style="
                    margin-bottom: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                  "
                >
                  <div class="card-menu">
                    <a
                      href="javascript:void(0)"
                      (click)="btnMenuOnClick(item)"
                      class="icon-middle"
                    >
                      <div
                        class="col-md-12 text-center"
                        style="margin-bottom: 10px"
                      >
                        <i class="material-icons icons-menu color-linear-green">
                          {{ item?.icon }}
                        </i>
                      </div>
                      <div class="col-md-12 text-center">
                        <h2 style="color: #455364">
                          {{ item?.name }}
                        </h2>
                      </div>
                    </a>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
