// @import "../../shared/styles/main/util/index";
@import "../../shared//styles/main//util//index.scss";

.card-block {
  padding: 50px;
}
.icons-menu {
  font-size: 100px;
  cursor: pointer;
}
.icons-menu-fa {
  // font-size: 80px;
  font-size: 93px;
  padding-bottom: 15px;
  cursor: pointer;
  // font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  // font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  // -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.icon-setting {
  border: white 1px solid;
  border-radius: 100%;
  background-color: gainsboro;
}
.icon-home {
  border: white 1px solid;
  border-radius: 100%;
  background-color: darkcyan;
  //background-color: #52d8d1;
  color: white;
}
.icon-business {
  border: white 1px solid;
  border-radius: 100%;
  background-color: darkorange;
  color: white;
}
.icon-check {
  border: white 1px solid;
  border-radius: 100%;
  background-color: #3bc77b;
  color: white;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #1b1c1c;
}

.content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
}

// ::ng-deep #content_outer_wrapper {
//     padding: 0px !important;
// }

.card-menu {
  padding: 10px !important;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(151, 145, 145, 0.2),
    0 6px 20px 0 rgba(162, 159, 159, 0.19);
  height: 220px;
}

.icon-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.card-menu:hover {
  box-shadow: 5px 5px 11px rgba(0.15, 0.15, 0.15, 0.15);
}

//   ///////////////////// color icon //////////////////////
.color-linear-pink {
  background: radial-gradient(
    circle at 33% 100%,
    #ff3be7 4%,
    #fed373
  ) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

.color-linear-blue {
  background: radial-gradient(
    circle at 33% 100%,
    #abdcff 4%,
    #0396ff
  ) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

.color-linear-green {
  background: radial-gradient(
    circle at 33% 100%,
    #79f1a4 4%,
    #0e5cad
  ) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

.color-linear-purple {
  background: radial-gradient(
    circle at 33% 100%,
    #ff6fd8 4%,
    #3813c2
  ) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
}

// ////////////////// color background icon /////////////////
.color-background-linear-pink {
  background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
}
.color-background-linear-blue {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}
.color-background-linear-purple {
  background-image: linear-gradient(135deg, #ee9ae5 10%, #5961f9 100%);
}
.color-background-linear-green {
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
}
